<h1>1</h1>

<p>After I got married, life returned to peace. The previous surliness seemed to have disappeared without a trace, or perhaps it was dormant at the bottom of the lake.</p>

<p>My husband's work is going well and he has opened a new company. When we have free time, we go out and have fun together.</p>

<p>But I can still smell his expectation of surrender in the cracks of life.</p>

<p>I have a pair of black high heels, single shoes. I only wear them maybe three or four times a month; I need to carry another pair of flats when driving, so it's very inconvenient.</p>

<p>It was difficult for me to take care of my shoes, but the next day I discovered that these shoes were particularly clean. Even the light dirt left by my bare feet had disappeared. Then I laid out my other heels and they were all impossibly clean. The heel, upper, and lining of the shoe all carry a scene that I was familiar with a long time ago.</p>

<p>I casually took off the short black stockings I kept in the bathroom and smelled the smell of cigarettes.</p>

<p>This day I watched my husband come home. He sat down on the sofa and lit a cigarette.</p>

<p>I don't know what training this man means to me. Life would fall on its knees before me in an instant.</p>

<p>I cook, work, tell dirty jokes, play, and travel, but I don’t want him to kneel in front of me and lick the toes of my shoes.</p>

<p>But he still gets down on his knees occasionally.</p>

<p>When making love, he would sometimes choose the living room and close the curtains; he would inadvertently kneel in front of me on the thick carpet.</p>

<p>I was wearing thin black stockings with suspenders, and I stood in front of him with my legs spread apart. He knelt down and spread my slit T-Back with his tongue and inserted it into my lower body.</p>

<p>The ritual was just a matter of posture, I thought. Assuming it's on the bed, there's nothing wrong with this posture, but if it's on the floor, it seems more provocative. Suppose I put on my pair of clean black high heels, and the scene changes completely.</p>

<p>Just like the movie I saw on his iPad.</p>

<h1>2</h1>

<p>Usually I choose to sit on his face. Just as he asked, we seemed to have a tacit understanding.</p>

<p>My vagina fluttered against his nose, and my hand touched his chin and moved forward to close my butt cleft, letting him lick his favorite asshole.</p>

<p>He was as excited as if he had made a fortune. He wrapped his mouth tightly around my asshole, and then licked it over and over again with his tongue, sometimes swirling it around. After he licked it wet, I ordered him to suck the saliva from his asshole and do it all over again. I heard a sizzling sound behind my butt.</p>

<p>I feel like a dog is sitting under my butt. It's really disrespectful to say this, but I know he has been longing for it for a long time.</p>

<p>I even have to remind him often not to just lick the back.</p>

<p>In fact, I quite like doing this in tight pants. Because it looks better in the video he recorded.</p>

<p>The one thing I didn't get to photograph was when I got up in the morning and put on my tight white pants, and he was still lying on the bed.</p>

<p>I was shirtless and thinking about which bra to wear.</p>

<p>He leaned up and hugged my waist from behind, and I sat down. It also shook and crushed his face.</p>

<p>His little one suddenly got up first, which was very interesting.</p>

<p>Another time I came back from outside at night and washed my face at the sink.</p>

<p>He squatted behind me and touched my tight ass, and I felt a burst of heat.</p>

<p>I asked him to move forward and lean on me, and he knelt behind my butt.</p>

<p>My ass rested on his face and he took a deep breath and buried his face in my ass. I really wanted to ask him if it smelled good, but in the end I didn't dare.</p>

<p>There is a big difference between flirting and formal training. I still remind myself often.</p>

<h1>3</h1>

<p>This is my understanding of SM. It should be a small emotion and fun in life. If it is attached to business activities, I will be more reserved for the time being.</p>

<p>Life, like other arts, has its dark, complicated, and bitter parts. For example, gangster movies and gun fight movies in movies do not teach people how to shoot and kill people, but give the public a channel for release, catharsis, and thinking on an artistic platform.</p>

<p>The same is true in life. Health and happiness must be the main theme, and other small interests, even those with some erotic meaning, are just small condiments.</p>

<p>If you use small condiments well, life will be more interesting.</p>

<p>And I found that there are not a few people around me who feel this way. Here are two examples.</p>

<p>One is that I renovated a new house a few years ago. I was having a meeting at the company that day, and suddenly a decoration company called and said, Mr. Zheng, I have made an appointment with you to discuss the decoration at 10 o'clock this morning.</p>

<p>I had so many things to do that I really forgot whether I had made an appointment, so I just said that I had a meeting now and you could call me in the afternoon.</p>

<p>As a result, a young man came directly at 1:30 in the afternoon, probably 23 or 4 years old. He was quite energetic, holding a computer, and his secretary Xiaobai led him in.</p>

<p>There was nothing else to do at noon, and I thought it was all here, so I would like to listen by the way. If you talk nonsense, we will end it in a few words.</p>

<p>The young man opened the computer without even giving him a business card, and there was a long list of passwords. Then he showed me the photos and the works that his company had decorated on my plate.</p>

<p>I flipped through about 7 or 8 photos, and when I was about to say goodbye, the photo suddenly changed. It’s fun to think about it now, and it turned into a photo of the queen feeding her toes.</p>

<p>The young man slapped his tongue and continued talking, maybe he hadn't noticed yet? I guess he doesn't know what to do?</p>

<p>I'm a little embarrassed. If Xiaobai came in at this time, the scene would not be pretty.</p>

<p>So I turned off the computer for him and said that I had a meeting to prepare for in the afternoon, so we could talk next time.</p>

<p>The young man turned a little pale.</p>

<p>I still don’t know if he knew whether the photos he showed me contained content that was not intended to be shown to clients.</p>

<p>He called again two days later to make an appointment, and I declined.</p>

<p>I was afraid that he would pretend to be a torture chamber for me.</p>

<p>Because of my work, I also interacted with several students from the Academy of Fine Arts. I found that their aesthetics are indeed gifted.</p>

<p>I wore a pair of high heels on my bare legs and sat facing each other. When I shook my feet, their heads also shook.</p>

<p>It started with one person and peaked at three people.</p>

<p>The range of human physiological activities is limited. I thought about what would happen if I shook my feet a full 360 degrees.</p>

<p>Will a row of people fall over backwards?</p>

<p>These are some interesting things in life, hurt Xiaoya, but nothing serious.</p>

<h1>4</h1>

<p>The second example is more serious, and I also feel a little guilty in it.</p>

<p>This is what happened to secretary Xiaobai.</p>

<p>The company once received a relatively large order and needed to negotiate a bid in Beijing.</p>

<p>Let me explain in advance that my company is a small business and I am also a member of the poor.</p>

<p>There are about 30 poor people in my company, and I am the most unlucky one to go bankrupt.</p>

<p>Okay, back to this matter, I flew to Beijing three or four times before, and the talks were basically the same. In the end, it was just a matter of time, you know.</p>

<p>During the bid negotiation, in order to avoid suspicion, I asked my secretary, Xiaobai, to come over and take the company license, etc., including my ID card, with her.</p>

<p>When Xiaobai came back, he was so excited that he couldn't suppress it. He ran directly to my big table, dragged my hand and said it's done.</p>

<p>I feel that the world is peaceful and comfortable. Even holding the increased property management fee sheet on 24F feels beautiful to me.</p>

<p>I agreed that we, the female compatriots, would celebrate on a small scale tonight, and then give the boys a slightly more modest celebration tomorrow.</p>

<p>Therefore, the consequences of being sorry to male compatriots are very serious.</p>

<p>Before I even called to make a reservation, the phone was already ringing.</p>

<p>Only then did I know that my company license, etc., together with my ID card, were still in our great capital, in the hands of an aunt who was sweeping the floors and clearing tables in the owner's company.</p>

<p>As soon as Xiaobai finished the work, he was probably too excited, and immediately wanted to reach his peak, flag down a plane on the road, and fly back to Pudong.</p>

<p>All our things were thrown in the conference room over there.</p>

<p>The owner's reply to us was very concise. Isn't it true that your license only costs about 100 yuan? Just throw it away casually.</p>

<p>This world peace suddenly returned to its original track.</p>

<p>I stood up in a hurry, walked up and down, and threw the folder in my hand on the desk.</p>

<p>Can you not be angry? Assuming we earn 8 yuan a year, this bill will total more than 300 yuan. I really can't control it at the moment.</p>

<p>That day I wore a pair of 10cm black stilettos, a hip-covering black skirt, and black stockings. The whole body is black, and the heart is black.</p>

<p>As soon as I paced my feet, Xiaobai plopped down and knelt at my feet, his whole body going limp.</p>

<p>I looked down at her and wanted to stomp her to 23F. She was trembling all over, with her hands on the ground, like a run over puppy, lying on my crotch.</p>

<p>I'm usually pretty good to Xiaobai, but today I really wanted to teach her a lesson.</p>

<p>I asked her which hand had brought the thing. Stretch it out for me. Stretch it out.</p>

<p>Xiaobai stretched out his left hand tremblingly.</p>

<p>I stretched out my shoe and stepped on her hand on the carpet, crushing it hard. After all, I didn't know how hard I used it.</p>

<p>Xiaobai was obviously in quite a lot of pain, and his mouth was pressed against my feet. I don’t know whether it was because he was sad or because his hands were hurting, but there were tears and runny noses.</p>

<p>I didn't move my feet, so I pulled the chair over to sit on my side, raised my left foot to my right leg, and lit a cigarette to calm down.</p>

<p>Xiaobai's head was tilted under the heel of my left shoe, and the heel of my shoe even penetrated the base of her ear.</p>

<p>At that time, I didn't feel sorry for her at all.</p>

<p>When I scolded her and went out, I discovered a pile of snot on the shoe of her right foot.</p>

<p>I yelled at her to come back and wipe the mess clean for me.</p>

<p>Xiaobai knelt down again in shock, trying to wipe it with his sleeve, but he couldn't wipe it with his short sleeves, so he hurriedly touched the bracelet with his right hand.</p>

<p>Finally, he tilted his head and lowered his hair to wipe me clean.</p>

<h1>5</h1>

<p>I feel a little guilty about this matter. I have some feelings for people and things. Everyone has two sides. I didn't expect that words such as arrogance would fall on me.</p>

<p>Xiaobai is a quick learner, so he was probably too happy that time. I thought about it later and understood it a little bit. When I was her age, my hands were shaking when I saw 10W Yuan.</p>

<p>I don't blame too much. I also wrote a formal letter of apology to Beijing, and I hope there will be another opportunity in the future.</p>

<p>Summer passes and autumn comes in the blink of an eye. My husband is also busy outside, busy with his affairs. During the day when he leaves, I haven’t gotten up yet. When he comes back at night, I fall asleep again.</p>

<p>It's been a month and a half, and I can't even remember what I said to him during this period, which is surprising.</p>

<p>Since early autumn has entered the off-season, why not ask some of the middle-level people in the company to go on a trip? Xiaobai will accompany her and she will make all the arrangements to give her some confidence.</p>

<p>I once again remembered that when I still had my husband, I had already galloped around Ginza for several rounds with murderous intent.</p>

<p>There are a few firewood girls around me who buy big and small bags, so much that they can demolish Tokyo. Fortunately, there were only 7 people in the group, and the bus we were given seemed spacious. We stuffed our things in, and the group went directly to Hakone.</p>

<p>Reaching the middle of the mountain, it’s time to hold the lantern. A group of crazy women drank a lot, then stripped naked and went to the bath.</p>

<p>I was afraid of sudden death, so I put on my clothes and thought about it, so I decided to forget it, so I half-lyed in the room to rest. My head was a little dizzy, but I also felt comfortable and comfortable. The surrounding hills were quiet, and occasionally the sound of crows came from far away.</p>

<p>At this time there was a knock on the door.</p>

<p>I was about to get up and open the door when I felt the door creak open. According to the script of The Ring, it was time for me to turn around, scared to death.</p>

<p>But I saw Xiaobai coming in with a few small bottles of beer.</p>

<p>She put the wine on the coffee table and crouched under my bed, looking at me with misty eyes.</p>

<p>"Mr. Zheng, let's have another drink."</p>

<p>Just be bold, close the door, take off your bathrobe and drink. He shook out another coin from his bag and stuffed it into the pay channel's mouth.</p>

<p>Two naked women, watching adult shows, drinking, drinking.</p>

<p>I sat on the couch, Xiaobai sat down, and when the time was up, I threw another one.</p>

<p>Her breasts were quite white, and at one point I stretched out my feet to weigh them, and they were of a moderate size.</p>

<p>She drank a few more drinks at the beginning and her face was flushed. When I was holding her breasts, she slowly turned her head and told me that she was indeed sorry.</p>

<h1>6</h1>

<p>Let bygones be bygones. I lay down half-ly, looking out the window, motionless.</p>

<p>After a while, I felt something slippery and slippery inserted between my toes.</p>

<p>I turned my head and watched Xiaobai take my toes in his mouth. Like a pitiful pure white puppy, licking her owner.</p>

<p>I ran for most of the afternoon and my feet were not washed. Although there was no strong smell, they were always unclean. But I don’t know why, but I didn’t move at all that day.</p>

<p>He took it for granted for no reason, and even prepared to play a prank.</p>

<p>I looked at her askance: You just drank wine and you licked my toes. Is your mouth clean?</p>

<p>Xiaobai was startled for a moment, then pulled out his toes and prepared to rinse his mouth. I stopped her by pinching her nose with my toes.</p>

<p>Keep licking me, good licking.</p>

<p>It's like it happened a long time ago.</p>

<p>Xiaobai's tongue is different from my husband's. It is more delicate and longer. When connected with my red nails, it looks even longer.</p>

<p>Her tongue licked the toes one by one, and when she swallowed half of her knuckles, she felt a numbness all over her body.</p>

<p>I walked during the day and my feet were a little sore.</p>

<p>Ask her to lick her heels again, as they need to be moistened with saliva to prevent them from cracking.</p>

<p>She knelt under the bed and licked seriously, only seeing her chin move; I lay half-lying, occasionally hooking her chin with my feet to change positions.</p>

<p>Her teeth occasionally gnawed gently, slowly gnawing off a little bit of dead skin on the heel, and then covered it with saliva.</p>

<p>Like an obedient maid, humble, respectful, cautious, and full of fear. Even the sound of swallowing was very low, for fear of disturbing the atmosphere.</p>

<p>I felt like I could make her tremble with fear just by moving my little toes.</p>

<p>Some people may be destined to get a great sense of security and a good sense of position when they suck other people's toes into their mouths.</p>

<p>The biggest difference between raising a person and raising a dog is that when I fall asleep, she can kneel there respectfully and carefully lick clean the patent leather high heels I have worn all day.</p>

<p>Then why not keep a maid? It only costs a few pairs of silk stockings and can be thrown away easily.</p>

<h1>7</h1>

<p>It was a safe journey back, I had the least amount of luggage, and I walked quickly after crossing the border.</p>

<p>After leaving the airport and lighting up a cigarette, I realized that I was still wearing the slippers I had changed into in the cabin.</p>

<p>Looking back to find Xiaobai, she was holding a mountain of luggage in one hand and my shoes in the other, panting and lagging far behind.</p>

<p>"Zheng, Mr. Zheng, your shoes."</p>

<p>When my phone rang, I put a hand on her shoulder and asked her to help me change my shoes.</p>

<p>My husband called.</p>

<p>My husband came back from Hangzhou, and the smell of alcohol from Zhejiang was still spreading on the phone line.</p>

<p>See how I deal with you tonight.</p>

<p>I went home, took a shower, and cooked some delicious dishes. My husband was so happy that he drank out for three or four days.</p>

<p>"It's better to be my wife, it's better to be my wife."</p>

<p>Okay, okay, just wash the dishes. No, he sang enthusiastically and then sat on the sofa and turned on the TV.</p>

<p>I took the bowl back to the kitchen, stripped naked, put on the sexiest and sexiest underwear, and sat on the sofa.</p>

<p>My husband suddenly became thirsty.</p>

<p>I lay down and put my feet on the shoe stool, suddenly feeling a little tired.</p>

<p>Thinking of how Xiaobai had been serving me conscientiously these past few days, I suddenly missed her a little, and my feelings were indescribable. When the queen returned home and became a wife, no one even washed the dishes. It was really a world of ice and fire.</p>

<p>I was looking at my toes in a daze, and my husband came over and acted like a technician.</p>

<p>"Are you tired?"</p>

<p>"Yeah."</p>

<p>"Having fun?"</p>

<p>"Yeah. Squeeze the left side."</p>

<p>I was in a daze for a while and decided to tease my husband.</p>

<p>I just have an adventure that I want to tell you about.</p>

<p>He was interested, as long as it wasn't about anti-Japanese themes.</p>

<h1>8</h1>

<p>There is a secretary in my company named Xiaobai, Bai Shiyu, you know, right?</p>

<p>I seem to have heard you mention it, little girl, so silly.</p>

<p>She made a big deal out of me some time ago.</p>

<p>How old?</p>

<p>It was so big that I squeezed my breasts with both hands to show him.</p>

<p>Tsk tsk.</p>

<p>Then when I went to Japan this time, I took a few old people from the planning department with her.</p>

<p>One day I went to a hot spring, the one next door to the one we went to last time.</p>

<p>Is Xiaobai feeling guilty and buying all the drinks?</p>

<p>No.</p>

<p>She came to my room at night and was a little drunk.</p>

<p>I'm a little dizzy too.</p>

<p>Then we drank some more beer.</p>

<p>What then?</p>

<p>There is no more, just go and wash the dishes.</p>

<p>My husband put his face against the soles of my feet, "Fuck, keep talking."</p>

<p>Then she knelt there to admit her mistake and licked my toes for a long, long time.</p>

<p>After I said this, I released my right foot, lifted his lips with my thumb, and said to him word for word: Just like a dog.</p>

<p>The soles of my feet felt hot and my husband's face turned red. It was so exciting.</p>

<p>"Do you think I'm going too far?" I added.</p>

<p>My husband thought for a long time and then said: "It's quite excessive."</p>

<p>"Such an outrageous thing can only be done to your husband. It is wrong to bully outsiders."</p>

<h1>9</h1>

<p>The heavy rain came slowly at night, and the lights were dim.</p>

<p>I slowly put on lipstick and eyebrow line in front of the mirror, and put my long hair on my chest.</p>

<p>Looking downstairs from the side, the overhead car lights connect into a galaxy.</p>

<p>After my husband finished washing the dishes, he swam over neatly, held my soles with his mouth, and put on my stockings bit by bit with his hands.</p>

<p>I looked down at him, with a flash of contempt in my eyes that made him uneasy.</p>

<p>His eyes were evasive and expectant, like two stars at my feet that were as far away as they could be, flickering on and off.</p>

<p>In a bright moment, I crossed my legs, leaned over and touched his head and stayed still.</p>

<p>Go get my new pair of black stilettos.</p>

<p>He carefully helped me put on my shoes. The scene was like a wedding day.</p>

<p>That day he kissed my toenails in full view of everyone. As a prank, my bridesmaid put grapes between her toes and asked him to lick them out bit by bit.</p>

<p>He sucked, breathing heavily and messily, and filled the room with broken grapes.</p>

<p>Kneel straight.</p>

<p>I ordered him.</p>

<p>His penis pushed up his underwear, and I slowly rubbed it with the sole of my right shoe.</p>

<p>Like caressing a dagger.</p>

<p>Put the heel of your left foot on his nipple.</p>

<p>Kiss my shoes.</p>

<p>This evening it was in the bright cloakroom.</p>

<p>My husband was naked on the bench and I was straddling his face.</p>

<p>I moved up and down, like a stamp, pressing my anus against his lips.</p>

<p>Every 5 strokes, I stopped and covered his face, asking him to stick his tongue out and try to go deeper.</p>

<p>"Are you comfortable?"</p>

<p>"Do you like it?"</p>

<p>I heard a confused response.</p>

<p>Like a chef who is busy cooking in the kitchen, asking for seasonings, someone suddenly runs in and asks him to recite his bank card number.</p>

<p>His mouth was darting here and there, and he didn't know which aspect to talk about first.</p>

<p>I raised my legs like scissors, supported his chest with one hand, and turned my head to look at myself in the mirror.</p>

<p>My hips pressed tightly against his mouth and nose.</p>

<p>Her long hair half covered her face, and her breasts in the black gauze rolled in the light.</p>

<p>He shook violently under my anus, and a slow, quiet smile appeared on my lips.</p>

<p>I later realized that the world was slowly changing.</p>

<p>Just like a sailor looking into the future with a telescope on the empty sea, the deep blue sea turns into a shallow arc.</p>

<p>She is also like a person standing very high in the wind. She is lonely, but she has no time and space to wander. She only has a fulcrum under her feet.</p>

<p>In front of this fulcrum, there is the tasteless wind, silhouettes, and dust. Further forward, the world is curved, and the curve is somewhat melancholy blue.</p>

<h1>10</h1>

<p>My husband was actually half right.</p>

<p>Xiaobai did buy a drink for the night that day.</p>

<p>That's not a small amount. Seven crazy women and a 25-year-old tour guide boy.</p>

<p>Cheers, the amount of wine poured on the ground was more than three or four thousand.</p>

<p>The final amount was converted to a little over 20,000. Xiaobai hugged Sister Liu from the planning department and said that tonight was all her own.</p>

<p>I thought about it with my half-drunk eyes and half-drunk head, and I felt that this was abnormal.</p>

<p>For a girl like Bai Shiyu, who thinks about ordering a 35-yuan cup of coffee for a long time, this phenomenon is almost equivalent to a precursor to suicide.</p>

<p>When the money is gone, faces emerge from the lake.</p>

<p>I went back to the room and paused for a long time. In the end, we didn’t even go to the hot spring together.</p>

<p>I was afraid that Sister Liu would suddenly run naked and nervously from the bushes, saying that there was a familiar corpse over there that had paid for us just now.</p>

<p>It was that night that I suddenly discovered that the world will actually suddenly bend at a location you don't know, like a long bow, so long that you can't find the bowstring, so long that you can walk silently in the back of the bow, but suddenly there is an arrow pushing you from behind to a direction you have never understood.</p>

<p>This is the hidden other half of Qiyu.</p>

<p>Back on that night when the crows were sparse, Xiaobai sobbed and licked my toes.</p>

<p>Her tears were like water droplets when the summer rain was about to stop, wetting my feet.</p>

<p>At one moment, she stopped, leaned her face on my instep, stroked my ankle, and spoke to me slowly.</p>

<p>"Actually, I deliberately kept my license in Beijing."</p>

<p>At eight o'clock in the evening on July 23, someone suddenly called Xiaobai's hotel room.</p>

<p>The man who called gave Bai Shiyu 40,000 in cash.</p>

<p>I have never seen so much money, and he also promised that after it is over, I can work as his special assistant in their company, with a monthly salary of three times.</p>

<p>Xiaobai howled.</p>

<p>"He lied to me, and I never answered his call after that."</p>

<p>I can understand, I once said that my hands were shaking when I saw 10W during the first meeting.</p>

<p>But it is difficult for me to accept the betrayal of a girl who had just come to Shanghai from the county town during my interview. She was sitting on the chair with her hair covering her face. I thought she was honest and loyal, so I finally crossed out the others and recruited her into the company. Today I finally tasted the bitter consequences.</p>

<p>“You brought me into this city, you gave me the job, it’s all my fault, I’m wrong.</p>

<p>I made such a big mistake, I thought you would fire me right away, but you didn't. "</p>

<p>Xiaobai's voice was hoarse and he was struggling.</p>

<p>From now on, I will be your dog. I will do whatever you ask me to do, and I am willing to do anything.</p>

<p>“What do I need you to do.</p>

<p>I need you to call George Clooney right now and tell me, honey, it's not that bad.</p>

<p>can you? "</p>

<p>I sat up and stared into Xiaobai's eyes. After a while, I slowly stretched out my foot and stepped her head into my high heels.</p>

<p>You can't do anything, you're just a dog, you can only lick my shoes.</p>

<p>Licking them clean every day.</p>

<h1>11</h1>

<p>After returning from Japan, the company became nervous.</p>

<p>After the war, Japan had U.S. dollars on the other side of the Pacific to rebuild, but I, who was lonely and proud, could only rely on myself. ?</p>

<p>I walk around in this city's elevators every day on high heels, rising and sinking; flying from south to north, pulling down the visor, and sleeping lightly.</p>

<p>Sitting on the soft sofa with my clients, listening to them speak endless compliments about my youth, maturity, beauty and future.</p>

<p>Their eyes are like submarines, lingering secretly in the waves of my body. The pen in their fingers slides their names on the contract, as if they are ready to sign orders at any time and send out torpedoes at dusk from their crotches.</p>

<p>The administrative assistant's surname is Yang, which is my favorite surname. When he stood in front of me, I was stunned for a while.</p>

<p>I thought he would be an imposing man, but I didn't expect him to be too nervous. This gentleman, with his shiny hair parted, was hunched forward, as if he didn't know whether to disturb my meditation.</p>

<p>I moved my feet off the coffee table and extended my hand to indicate that he could sit down.</p>

<p>At this time, his comedy talent began to show. Every time I gently moved my hand, he bowed.</p>

<p>The fourth time I simply put my palm down and kept it in the air. After bowing, he was about to straighten up. When he saw my hand stopped there, he was embarrassed and bent down again and buried his head.</p>

<p>I breathed a sigh of relief. He bowed four times in total, so there would be no sad drama about family members answering.</p>

<p>"Are you afraid of me?" I looked at this man who was almost 20 years older than me and stood bent over in front of me, and I suddenly felt extremely funny.</p>

<p>"I just express my respect for my boss from the bottom of my heart. I have worked for a company in Wuxi for ten years, and the chairman is also a very powerful woman."</p>

<p>"That's right. Then do you think my former boss is better or me?" I put one foot on the spring leg, propped up my chin, and decided to joke with him.</p>

<p>"Well, of course Mr. Zheng is much more powerful, otherwise I wouldn't go to all the trouble to switch jobs."</p>

<p>"You are very good at flattering me." I leaned back on the sofa and my eyesight began to become colder. "Then go down and work hard."</p>

<p>To be honest, I have always had a certain uneasiness about this kind of submissive man.</p>

<p>Although my husband also likes to show weakness to me at home, it is love, and behind it is his company's annual net profit of more than 30 million yuan. He drives his big Mercedes-Benz cross-country to do things all over the world every day, and he did not shudder even when someone pointed a gun at his head in the border area of China and Myanmar.</p>

<p>As for this man, I really don't see how Sister Lan has a keen eye for recognizing talents. But it doesn't matter, the assistant only needs to obey, and other things are very simple to do.</p>

<p>When he turned around and walked out, a silver key chain was exposed from the slit back of his suit, poking open the back hem on his buttocks, like a clockwork handle on a toy.</p>

<p>I thought that was probably where his wife wound the clockwork for him every day, and I couldn't help but laugh.</p>

<p>I remember that kind of key chain. I bought it before, and I also bought a few for some crazy women in the company. It was not long after I got married.</p>

<p>I shudder when I think of getting married. Then I suddenly remembered that next Monday is my fifth wedding anniversary.</p>

<p>I thought about it and planned to give my husband a surprise, so I called his secretary and asked her to tell me in a low voice where my dear Mr. Chen would be next Monday.</p>

<p>She was indeed very quiet, and it took me three times to hear her clearly: He will be in Chongqing next Monday.</p>

<p>I also told her very quietly: Don't tell me that I called.</p>

<p>I looked through Chongqing's quarterly market report, and there happened to be a sum of money that needed prompting, so I told Xiaobai to book a flight ticket immediately and leave tonight.</p>

<p>When the Air China stewardess welcomed us with a smile, the lights were already on. Xiaobai and I finally boarded the plane and were in a good mood.</p>

<p>I leaned forward and asked the stewardess who was smirking: Excuse me, can I bring my dog on the plane?</p>

<p>Huh? Sorry, according to civil aviation regulations, this is not allowed.</p>

<p>I turned sideways and looked at Xiaobai behind me with a smile. She had a blush on her face.</p>

<p>After sitting down, I slowly told Xiaobai: This is probably the first time that China’s civil aviation allows dogs on board, and dogs are also allowed to sit next to their owners in the first class cabin.</p>

<h1>13</h1>

<p>Checked into the hotel at 12 o'clock. A large suite was opened, and Xiaobai could live in the outside room.</p>

<p>I hung up my coat and opened the curtains to look downstairs. In the bustling night market, there were many people drinking with small bottles of liquor.</p>

<p>Behind the curtains, it’s already a bit cold in Chongqing in November.</p>

<p>Xiaobai turned on the air conditioner to cool down the air. She knelt in front of the bed and helped me take off my high heels and rubbed my sore soles.</p>

<p>Take off your clothes for me too.</p>

<p>I stood up, walked to the mirror, and asked Xiaobai to help me take off my skirt, stockings, panties, and slowly take off my bra.</p>

<p>Standing in front of her at this time was the body of a 172cm woman. She was kneeling deep in her crotch. I grabbed her hair and asked her to look at me.</p>

<p>"Is it beautiful?"</p>

<p>"Beautiful."</p>

<p>"What's the most beautiful place?"</p>

<p>"Both are beautiful."</p>

<p>I spread my legs, grabbed her head and looked at the gap between my crotch: "What about here?"</p>

<p>She couldn't help but stick out her tongue, and I pulled her head back.</p>

<p>"Are you worthy of licking my place? Huh? Think about it for yourself."</p>

<p>The cell phone rang on the bed.</p>

<p>I grabbed Xiaobai's hair, walked back to the bed like a puppy, lay down on my side, and motioned for her to give me a tap on her calf.</p>

<p>It was my husband calling. Only then did I remember that I was so busy preparing for the surprise that I forgot to call to say that I was going out today.</p>

<p>I called your cell phone and turned it off. When will you come back? I made soup. My husband is very caring on that end.</p>

<p>I was so moved that I lied and said that I was on a business trip and was now in Wuxi.</p>

<p>"Oh, no wonder, I didn't even make a call."</p>

<p>"Why are you so free today? Do you still have time to make soup?"</p>

<p>"I have a business trip tomorrow. I planned to spend the weekend with you. Next Monday is our wedding anniversary. I have to go to Chongqing for a few days. I may not be able to spend time with you."</p>

<p>When I thought about how I was already sleeping in Chongqing waiting for this guy, I found it extremely interesting, but I still pretended to be disappointed and said, "It's okay, I'll wait until next year."</p>

<p>Look at Xiaobai behind her, her eyelashes are flickering.</p>

<p>After hanging up the phone, I began to think about how to suddenly appear in front of my husband, or how to dress up as the Eastern Invincible.</p>

<p>Suddenly I felt a little itchy in the middle of my buttocks, so I touched my buttocks with my fingers.</p>

<p>At this time, I felt something faster come over me. It was moist and delicate, and it licked my anus accurately.</p>

<p>I turned my head and saw Xiaobai. She stuck out her tongue and put it into my buttocks groove.</p>

<p>I chuckled.</p>

<p>Her mouth was tightly attached to my anus, her tongue was soft and hard, and she licked the folds there beautifully.</p>

<p>I slowly pushed my hair behind my shoulders and ordered her to lick out the sound so that I could hear it.</p>

<p>Sure enough, I heard a buzzing sound.</p>

<p>This feeling was really good, her mouth tightly wrapped around her asshole, and when I gently twisted her buttocks, her head would move around, and her lips seemed to be a part of it.</p>

<p>"Does it smell good?" I never dared to ask my husband this question before.</p>

<p>"Fragrant."</p>

<p>"Louder."</p>

<p>"It smells good."</p>

<p>"Have you been thinking about it for a long time?"</p>

<p>"Yes, Mr. Zheng."</p>

<p>"Are you worthy of licking my asshole?"</p>

<p>"I, don't, don't deserve it."</p>

<p>"What should we do?"</p>

<p>She was panting behind my ass and looking at me with wide eyes.</p>

<p>"Please, maybe I will."</p>

<p>"Please, let me lick your asshole."</p>

<p>"Is that what you should call an asshole?"</p>

<p>She was at a loss again.</p>

<p>I couldn't help but laugh again.</p>

<p>"Kowtow to me, 30, start."</p>

<p>She knelt and stepped back and began to kowtow. She hit her forehead on the thick carpet and heard a dull thump.</p>

<p>I started counting, 1, 2, 3, 4...15, 16, 17, 18...</p>

<p>Xiaobai panted, and her hair finally stuck to her face. Her eyes were filled with anticipation and desire, which was really complicated.</p>

<p>"Okay, kiss first, then lick. I'll reach out and spread my left buttocks."</p>

<p>Her lips came up heavily and kissed my sweat-stained asshole.</p>

<p>"If you want to lick it, lick it clean for me, inside and out."</p>

<p>Bai Shiyu began to become more and more accustomed to the role of this slave girl. Her script was very simple and cruel.</p>

<p>The most important thing in the world to her at this moment was to lick my dirty asshole clean, I knew it smelled of sweat and shit.</p>

<p>Her tongue stretched out very long and began to try to enter the inside. It was dark, curved, and carried a taste that made her more and more excited and happy. I closed and released the anus, and cooperated with her to place the vile tongue properly, as if it should have been there in my lifetime.</p>

<p>And for me at this moment, enjoying her oral service, the most important thing is thinking about how I will spend my leisure time in the next two days. In this huge city with a huge tongue in the center, I squinted my eyes, feeling comfortable and intoxicated.</p>

<p>More than 2,500 years ago, King Gou Jian of Yue tasted Fu Cha's stool, which made Fu Cha completely believe that Gou Jian no longer had any rebellious intentions.</p>

<p>Two thousand five hundred years later, Xiaobai also used her equally attentive service to convince me that her rebellion was just a moment of confusion. Although Gou Jian still harbors evil intentions and eventually makes a comeback, for Xiao Bai, the story can only go as far as the plot and there will be no more twists and turns.</p>

<p>She doesn't have the ambition to endure hardship, but I have the courage to wipe out the six countries.</p>

<p>So I thought that the position in my direction at four o'clock in the afternoon should not be the position where the man promised three times the monthly salary, and she would not be dispatched to death.</p>

<p>Everything is under my control. The only part that surprised me was that when I finished screening Xiaobai, she was already so humble that her head was buried in the dust.</p>

<p>Life is really like a Rubik's Cube where you never know when to turn to a refreshing and pure color. It is vague, ambiguous, and complicated, which makes people heart-wrenching and intoxicating. In the end, people lose their original intention of kindness and replace it with a heart of stone.</p>

<p>It rained unexpectedly on Saturday, and it rained continuously. I originally planned to go to China to eat some local snacks, but seeing that it was wet outside, I had to give up.</p>

<p>So I finished lunch in the hotel restaurant and went to the yoga studio on the seventh floor to play for a while in the afternoon. Looking outside through the glass window, the whole city seemed like a heavy fog, and we were all on the white seabed.</p>

<p>When I returned to the floor, I saw a missed call and subsequent text message from my best friend Ai Si, and made an appointment to sing karaoke that night.</p>

<p>Baby, let's go play tonight. I can imagine her appearance at this time, showing the laziness of just getting up.</p>

<p>I scratched my hair and called back. Xiaobai swiped the door card, opened the door and waited for me to come in. I gestured for her to lie down, hooked my right foot and closed the door.</p>

<p>"Baby, what are you doing?" She looked like she hadn't woken up yet.</p>

<p>I walked up to Xiaobai, sat on her body, and turned around and said to Aisi, "I'm riding a horse."</p>

<p>"Huh? Are you riding a horse today because it's raining?"</p>

<p>"Is it raining in Shanghai too?"</p>

<p>"Yes, ah, you're not at home."</p>

<p>"Well, I'm in Chongqing, and it's raining here too."</p>

<p>I looked out the window, pinched Xiaobai's body, and motioned her to walk towards the table, crossed her spring legs and went around Xiaobai's neck.</p>

<p>"It's raining. How can I ride a horse in rain? Isn't it dangerous?"</p>

<p>Haha, I couldn't help laughing: "It's okay, it's indoors. And my horse can talk."</p>

<p>"Huh?"</p>

<p>I think she was completely driven crazy by me.</p>

<p>I turned on the phone loudspeaker: I'll let my horse talk to you: "Xiaobai, come and say hello to Mr. Ai."</p>

<p>Xiaobai didn't know what to say for a moment. He was stunned for three or four seconds before whispering: "Mr. Ai, I am Mr. Zheng's pony."</p>

<p>There was a sound of laughter on the other end of the phone, like a plate being thrown to the floor, and the laughter was splashing across the room.</p>

<p>I turned off the loudspeaker and listened to her laugh and say, "Who is that? What on earth are you playing?"</p>

<p>"She's just my assistant. I just finished yoga and feel a little tired. I'm asking her to carry me into the room."</p>

<p>Hahaha, she continued to laugh: "Is she the girl who pronounces seven as chicken? You trained her very well."</p>

<p>"What's the matter? My feet are sore from walking, and she will massage me with her tongue."</p>

<p>I crossed my left foot and took a look. There was indeed no dead skin on the heel, and it was smooth and round. It seemed that the effect of saliva was indeed extraordinary.</p>

<p>At that moment I heard the sound of Ace rolling off the bed.</p>

<h1>15</h1>

<p>Aisi is one of my four best friends. She is also the only person who says, "If my husband knew that I was dating her, he would drive over to pick me up even if there was a typhoon or earthquake or tsunami."</p>

<p>This originated from the fact that when we each drank two bottles of red wine and felt that the road was particularly wide, she would drive me home at a speed of 100 yards.</p>

<p>This road is so well built that it is simply too wide. What a waste. I hear her say this almost every time we fly.</p>

<p>When we first came to Shanghai, we worked together in a company. When I was the vice president, she was the financial manager. Every time I went on a business trip, I would help her bring back a package of things. She would also personally help me paste the invoices and count out the money quickly.</p>

<p>The chairman and general manager at that time was also a woman, her surname was Wu, she was divorced in her early years, she was in her forties, 1.58 meters tall, and her eyes were widely separated. When she looked up at me, I always suspected that she couldn't find the focus.</p>

<p>I remember a certain year in South Asia.</p>

<p>We soaked naked together in the pool in the backyard of the beach house.</p>

<p>I squinted my eyes and felt some fine gravel falling on my body. When I opened my eyes, I saw a drizzle of rain falling.</p>

<p>Sister Wu had no intention of getting up. She turned her head to me and said slowly, Xia, I am a little tired. I plan to hand over the position of general manager to a young man. I myself plan not to come to the company more after this year. I listened quietly to her words.</p>

<p>"You know, there are only two vice presidents in the company, you and Song. Song is an honest man, and I hope you can assist him well in the future. I know you will be unconvinced, because even ten Songs can't catch up with you. You are beautiful, young, decisive, and neat, and will make a name for yourself in the future. But Song is different. He can't do anything without me."</p>

<p>She crossed one leg and placed it on the edge of the pool to look at it for a moment, and then continued speaking with some shyness and longing.</p>

<p>"You know, he is fifteen years younger than me, but he is very kind to me. He doesn't mind me being old at all. He was even willing to lick my toes before. I know he really loves me. What more can an old woman like me ask for?"</p>

<p>After saying this, she lowered her head and remained silent for a long time.</p>

<p>When I came to the dressing mirror, I asked Xiaobai to kneel up straight, sit on her shoulders, and look at myself in the mirror.</p>

<p>The old year has passed, and even today, Xia's appearance is not as good as before. I took out the lipstick from my bag and applied it slowly.</p>

<p>Xiaobai couldn't hold on any longer, and I could already feel her neck trembling uncontrollably. I was still wearing yoga tight-fitting thin sports pants, and my butt was already soaked with sweat.</p>

<p>I stood up and looked at myself in front of the mirror. Scarlet lips ordered Xiaobai to kneel forward, lean over, bury his head in my buttocks and suck up the sweat.</p>

<p>She carefully held my thighs with both hands and buried her face deeply. I straightened the corners of my mouth, leaned back and slowly sat on her face.</p>

<p>The rain that day was just like today, cold and dissociated. Knowing my future with that company was over, I walked back to my room, where a World War II documentary was playing on the TV.</p>

<p>The German tank division stopped near the beach of Dunkirk, and then the useless Göring commanded the plane to fly forward.</p>

<p>I returned to my country without saying a word, quietly transferred my clients without saying a word, and then one night I received a call from a strange man, and I went alone without saying a word.</p>

<p>What he carried with him was the thickest bidding document of that year.</p>

<p>The man spread out stacks of 100,000 yuan under the dim light of the cafe. I felt a heat in my palms.</p>

<p>When yesterday's story happened again today, I was not surprised. It was just a difference in numbers.</p>

<p>I looked down at Bai Shiyu under my crotch, and couldn't help but tighten my legs suddenly, making a rough gasping sound from her throat.</p>

<p>"Okay, take me to bed and rest for a while."</p>

<p>"Take those red high heels and lick them clean for me. I want to go out at night."</p>

<p>I had a dream on Sunday night. I dreamed that I was sitting at the table, Xiaobai was licking my high heels, and then my husband opened the door and walked in.</p>

<p>When I woke up the next morning, I thought this dream was interesting, but I couldn't remember what happened next. I only remember that my husband walked over gently, and kept walking, as if he was coming from a far away place, but he never came close.</p>

<p>My heart was pounding in my dream. What would my husband do when he came to me? The dream bifurcated at that place, but I couldn't remember what happened next.</p>

<p>I only remember that my heart was beating very hard, very hard, and I felt a sense of fear and inexplicable excitement.</p>

<p>Can I bring this dream back? Look what happened there, really tonight. I thought about it, drank the milk brought by Xiaobai, pinched her cheek, and suddenly felt that it was not a big deal, maybe this was the huge surprise.</p>

<h1>16</h1>

<p>The rain in this city has passed. I lifted the quilt and prepared to get up. Xiaobai was already ready to carry me to the bathroom. I couldn't help but smile, the dumbest guy might also be the smartest.</p>

<p>I was sitting on the toilet wearing only a pair of underwear, and Xiaobai knelt in front of me. I put my feet on the back of her hands; she lowered her head and listened to Chu Gong's voice.</p>

<p>"Keep your head up."</p>

<p>Xiaobai raised her head and I asked her: "Do you want a salary increase?"</p>

<p>"No, Mr. Zheng, I don't."</p>

<p>I raised my right foot, stepped on her head, pressed it to the floor, and slowly moved it.</p>

<p>"Actually, now there is an opportunity for you to get a salary increase, or even triple it, but you have to listen to me and do as I tell you. From now on, you will be mine. Do you understand? "</p>

<p>"Yes, yes, Mr. Zheng, I will do whatever you ask me to do."</p>

<p>I released my feet, took out a tissue and wiped it lightly, then stood up and walked to the bathroom to brush my teeth.</p>

<p>Xiaobai followed behind, ready to take the time to get under my crotch and let me ride on her shoulders.</p>

<p>I asked her to stop and looked at half of her face in the mirror and said, "I feel like I didn't wipe it very clean today."</p>

<p>She obediently leaned over, gently pulled down my underwear, stretched out her tongue, and slowly licked my anus. "You know, many people want to lick my asshole but never get the chance. You are really lucky."</p>

<p>She remained silent, making sizzling sounds up and down. Sometimes the tip of her tongue would rise up and touch the spring, which would make people feel refreshed.</p>

<p>"Don't you thank me?" I suddenly turned around and asked her with a toothbrush in hand.</p>

<p>"Thank you, Mr. Zheng, thank you, Mr. Zheng!" I heard her head knocking heavily on the floor tiles under my feet.</p>

<p>I couldn't help laughing when I looked in the mirror and sprayed the foam all over the mirror.</p>

<p>I went back to the room and looked at the time. It was exactly 8:30.</p>

<p>I asked Xiaobai to rinse her mouth, and then threw her a business card: "Go find the person on the business card. I have already made an agreement. You can come back after you get the check and deposit it. Remember to do it before six o'clock."</p>

<p>When I went downstairs to have breakfast, I got a call from Shanghai.</p>

<p>This is a phone number that I really don’t want to receive and haven’t received in a long time.</p>

<p>She was a little panicked on the phone: "I saw your company's stuff, but I didn't take it away from the printer."</p>

<p>After saying a few words in a hurry, I hung up the phone and walked through the corridor with a complicated mood. As soon as I walked into the restaurant, Sister Liu made a call.</p>

<p>“Mr.</p>

<p>No need, I thought about it on the other end of the phone, and then asked her lightly: "A lot of people work overtime on weekends, right?"</p>

<p>"Yes, we have to be in a hurry. There is no other way. 7 or 8 people worked on it until midnight yesterday. Fortunately, Sister Lan also bought midnight snacks. Otherwise, I really couldn't bear it."</p>

<p>"Oh, then, tell everyone who stayed up late yesterday to go back and have a good rest today. I guess I'll have to come back on Tuesday."</p>

<p>I almost smelled the atmosphere of war, but at this time the battlefield was thousands of kilometers away from me.</p>

<p>Before hanging up the phone, I shook my head: "Don't hang up yet, Sister Liu, is there anyone else around you now..."</p>

<p>After breakfast, I took the stairwell and walked slowly back to my room.</p>

<p>I called Sister Zhou in Shanghai and asked her to help me get the call records of more than ten people in the company from July this year to the present.</p>

<p>"Xia, please don't mess with me, okay? This is a crime, okay?"</p>

<p>"Come on, can you keep an eye on your husband all year round?"</p>

<p>She smiled on the other end: "I was defeated by you, okay, then you send me your number and I will think of a solution."</p>

<p>Everything was arranged, and I was about to ask Xiaobai for a cup of coffee, and then I woke up and realized that I was in a hotel in Chongqing.</p>

<p>Tsk tsk, I forgot about the real thing.</p>

<p>After closing the curtains and taking a shower, I took out the gear I had bought on Saturday night when I went out alone.</p>

<p>Standing in front of the mirror, I slowly put it on. British light blue lace top, and then black suspenders.</p>

<p>I buttoned up and turned around. My upper body was really orthodox, but my lower body was flirty. Haha, my husband must have felt guilty about violating the English teacher when he saw her.</p>

<p>I put on my camel coat to cover my sexy body, put on 12cm black high heels, and then called my husband's secretary.</p>

<p>"After Mr. Chen finishes his work today, ask him to come to the 12th floor of XX (hidden) Hotel at six o'clock in the afternoon, and tell him that my friend asked him to bring gifts back to Shanghai."</p>

<p>I looked at my watch, God, there were still eight hours. I'm alone here, how should I play? I feel like an actor waiting for the scene.</p>

<p>I still had to think about my lines, even though there was no script, and I had a unique supporting actress who came back before six o'clock.</p>

<h1>Epilogue</h1>

<p>The business volume suddenly increased as expected, and my small universe seemed to explode suddenly. Two new departments were established, namely the Southwest Department and the Guangdong, Fujian and Guangxi Region. So with the stroke of a pseudo-strong woman's pen, twenty-eight more people were added.</p>

<p>I transferred Xiaobai to the role of personal assistant to the president and moved the desk into my big office.</p>

<p>She was sitting right next to me at four o'clock in the afternoon. It was a time to have a cup of afternoon tea, slowly rub the puppy, and relax.</p>

<p>The newly hired administrative assistant is a man in his forties, who was spotted by Sister Lan during the interview.</p>

<p>On the Friday afternoon when I flew back from Ho Chi Minh City, Sheng Yalan called Xiaobai and asked Mr. Zheng if he was free to meet him.</p>

<p>I nodded slightly.</p>

<p>It was a long, light afternoon. I slowly walked to the sofa on one side, sat down, and put my feet on the coffee table.</p>

<p>The shoes in front of me are spotless, the heels cast long shadows in the sunlight, and the reflection of long hair can even be seen on the tips of the shoes. If there were any traces, they were Xiaobai's tongue marks.</p>

<p>Xiaobai, who came back from Haneda, became more respectful, humble and submissive.</p>

<p>When I reached out to press the fingerprint lock and was about to push open the office door, I could imagine the way his knees were bent and his hair hanging down at my feet.</p>

<p>In this large oval office with only two people, she just didn't have the physiological function to stick out her tongue and breathe.</p>

<p>If I nodded for coffee, she would run over and make it, like a well-trained Japanese woman during the shogunate period, kneeling at her feet with a small plate in her hands, waiting for my right hand to move across the table.</p>

<p>I once went an hour without reaching for a cup.</p>

<p>She brought the documents from 23F to sign, and while I slowly read them, she would kneel quietly in front of my chair without any intention of doing so.</p>

<p>Her eyes were filled with the cold light of my long legs in stockings and platinum anklets.</p>

<p>I turned the page slowly, and she waited with her eyes wide open. If there was dust on my shoes, she would waste no time in licking them clean. My shoe tips, heels, soles, and the slight dust on the carpet were all licked clean.</p>

<p>One day I wore 12cm high-heeled boots and purposely bought a pack of cigarettes at a street corner far away from the company. Then I walked back slowly. She licked them for a long time. In the middle, someone came in and handed over the contract draft. I made her kneel under the table and stepped on her head with my right foot. Her tongue didn't seem satisfied to stop working. During the more than twenty minutes of our conversation, she never stopped. After the visitor left, I pulled out the toe of her left boot from her mouth, which was already wet.</p>

<p>I ordered her to go to the bathroom to rinse her mouth, then crawled under the table, took off her boots and put her black stockinged feet against her breath, slowly rubbing her toes to relax them. I could feel the hot breath from her mouth and breath wandering in the gap between my stockings. Her tongue would occasionally stick out during the free time, and warmly hold my toes in her mouth.</p>

<p>The extent and speed with which one woman surrendered to another woman made me slightly surprised and deeply contemptuous.</p>

<p>Is it status, wealth, beauty or ugliness? Or uneasiness, guilt, remorse? It seems like I can't even reach the limit of what I can understand.</p>

<p>I often raise my elbows and think about this problem, maybe we really live in two parallel worlds; in the world where I come and go like the wind, I can't imagine myself kneeling in front of another woman, begging humbly to lick her toes, or even the soles of her high heels. It would be like a horror movie.</p>

<p>And what about Xiaobai? After graduating from high school, I wandered around the city without food, lonely and helpless. She once worked as a waitress in a car wash shop, but was kicked out on the fifth day; she followed a friend she had just met to work as a DJ in a commercial KTV, where she was slapped five times in 20 days. In the end, she only received 800 yuan, including two counterfeit coins.</p>

<p>When she filled out the registration form incorrectly and came to my interview desk from the 4F Beauty Company by accident, all she wanted was to end it quickly, and then continued to fumble through the complicated forms in Chinese and English.</p>

<p>There must still be memories in her mind of when someone grabbed her breasts and dragged her into the bathroom; and how I punished her by kneeling beside the bed on that rainy day and being so scared that she couldn't sleep all night long. I can make you bright in this city in an instant, and I can also make you disappear without a trace in this city in an instant.</p>

<p>I stretched out my foot and stepped on her head. When I crushed her hard, her face was buried deep in my shoes. I seemed to hear her breath swimming back and forth in my shoes, like an oxygen mask covering the head of a patient in the intensive care unit.</p>
