<h1>Chapter 1</h1>

<p>My name is Dawei and I work in the library.</p>

<p>My wife Liu Lijun is a middle school teacher.</p>

<p>出身农民家庭的我在老婆面前总感到很卑贱。</p>

<p>In the eyes of outsiders, my wife is a decent and serious woman. Although she is a young woman in her 30s, she is still confident that she has a sexy and beautiful appearance. However, she hides the advantages of these women very well. When working, she will wear glasses and strict and conservative clothes, with a cold and unreasonable expression. My wife and I lived a happy life in the first year of marriage, but when I came into contact with the Internet and SM, my life changed from then on.</p>

<p>I spend most of my time online. But my wife doesn’t know, and every time I log off the Internet, I clear IE’s history and replace QQ’s files. This has always been a secret.</p>

<p>There is a saying that says it is good, it is really good. If you want others to know, you have to do nothing unless you do it yourself.</p>

<p>一天，晚上回到家后，坐在电脑前的老婆问我说：“你过来，这是谁的QQ 啊？”</p>

<p>My wife was actually on my QQ account. My mind was confused. She pointed at my profile on QQ and asked me, "What does this say? Are you sick?" It turns out that I was working as a slave online and letting other women train me.</p>

<p>She was really angry and scolded me severely.</p>

<p>I didn't say a word and turned around to cook. Who could have said I was careless? I left in a hurry in the morning and forgot to change the documents.</p>

<p>But my wife’s shouting didn’t stop and spread from the living room to the kitchen.</p>

<p>"I am a serious woman, why would I marry a pervert like you!"</p>

<p>从此，我成了家里的阿奴，叫我老婆为主人，我跪伏在老婆的脚前额头贴着 地面。</p>

<p>My wife’s charming and delicate feet were placed in front of my head, and she said sternly: “Lift your face.”</p>

<p>I raised my face, and my wife stepped on my face with her bare feet. I took the initiative to lick my wife's feet without any hesitation, and I kept beating my wife's legs with both hands.</p>

<p>My wife was sipping the tea I brewed for her, enslaving me, and enjoying the joy of enslaving others.</p>

<h1>Chapter 2</h1>

<p>In fact, my wife, who looks like a prude on the outside, is actually a despicable slut on the inside.</p>

<p>One day after we had sex, my wife hugged me tightly and said, "Shall we change roles and have some fun?"</p>

<p>老婆让我平躺在床上，替我口交，老婆把苍蝇拍递给我，又趴在地上让我也 感受一下骑马的乐趣，她慢慢的爬，我也轻轻的打着她的屁股，看着她那白晰的 皮肤，我打的很轻，真是舍不的下手。</p>

<p>"Get off! You can't even be my master. You're such a waste!" My wife shouted, turned over and sat on me again. After a while of silence, she took the racket and beat me hard.</p>

<p>That night, my wife told me that she also liked being a slave.</p>

<p>老婆开始取了一个叫“丽奴”的网名在网上和一些男人聊天，接受网上的调 教。</p>

<p>Among these people, she chatted the most with a person named "Ku Zhu" on the Internet. Watching her wife teasing other men made her feel uncomfortable, but she was also very excited.</p>

<p>这是一个很普通的周未，从学校回到家里，老婆就像变了一个人一样，扔掉 了眼镜，将盘着的秀发披在肩上，然后站在镜子前脱去那些将她性感身体包裹着 的衣服。</p>

<p>“哦！小淫奴！露出你本来的面目吧。”</p>

<p>As her clothes were taken off, she saw the sexy and beautiful woman in the mirror, her white body criss-crossed and tightly tied with ropes. This is the true face of my wife, a sadistic person.</p>

<p>Next, she began to put on makeup for herself, making herself look coquettish and seductive...</p>

<p>“美……”！ My wife admired herself, immersed in the lustful and sadistic atmosphere.</p>

<p>“小淫奴，你现在是一条母狗了，知道吗，不听话的话是要受到处罚的…… 是！是！我是一条淫贱的小母狗……”</p>

<p>She knelt on the ground and took out things only used by slaves from the small cabinet next to the mirror, such as dog collars, leather bracelets and anklets...</p>

<p>她锁上了自已，然后像狗一样的爬到了电脑边，她想，她的网络主人一定会 等着她，老婆打开QQ，酷主果然在，她知道他一定是比她还着急呢。</p>

<p>Before my wife could say hello to him, Lord Cool had already sent a text message: "Bitch, why are you here now? I want to teach you well today. How do you want to be played by me?"</p>

<p>My wife actually called Ku Zhu master and replied: "You can play whatever the master wants."</p>

<p>Ku Zhu said rudely: "Lick my feet first!"</p>

<p>My wife actually replied in a low voice: "Yes, Master. I knelt down in front of you, lowered my head, and started licking with my tongue, licking the toes one by one, and then the soles of the feet..."</p>

<p>Ku Zhu praised: "The bitch has good skills."</p>

<p>My wife shamelessly flattered me and said, "Thank you, Master, for the compliment."</p>

<p>In this way, my wife was rudely insulted by a strange man, and while moaning, she replied to the cool master: "Master, please fuck as much as you like."</p>

<p>"Get down! Bitch!"</p>

<p>"Yes, Master, I lie on the ground like a dog, with my bare ass raised high, waiting for the master to fuck me... It feels so comfortable... bitch, it feels so comfortable... Please don't stop, please fuck me, bitch! Ah..." While asking me to use a dildo to relieve her itch, my wife was trained by her online master until her juices flowed.</p>

<p>"Ah...it feels so comfortable! I feel so happy! Hehehehe..."</p>

<p>After the penetration, I knelt down in front of my wife again, lowered my head, held my wife's pink legs raised high, and continued to lick my wife's feet with my tongue, licking the toes one by one, then the soles of the feet, and the soles of the feet. Seeing my wife's despicable appearance, I thought to myself, how could I be afraid of this bitch?</p>

<p>老婆和酷主在网络上聊了近两个月，酷主一直在网上对她进行着调教。</p>

<p>I also stayed with her while she was chatting with Cool Master.</p>

<p>My wife also told Master Ku about me, and he was very happy and made my wife and I his slaves.</p>

<p>Their chat became more and more interesting, and his wife became more and more submissive to him.</p>

<p>He asked his wife to chat naked, and she took off her clothes. He asked her to put clamps on her breasts and labia, and she did. He even asked her to insert a wine bottle into her vagina, and she did the same.</p>

<p>My wife is really loyal. I tried to persuade her, but he couldn’t see it anyway. Just agree to whatever he says, and there’s no need to actually do it.</p>

<p>My wife didn't listen. She said that only by doing it can she feel the pleasure.</p>

<p>Kuzhu didn’t let me idle yet and wanted me to lick her anus and vagina. My wife also asked me to lick her anus before, but I didn’t agree and my wife didn’t force me, but this time my wife was very insistent. I had no other choice. I put my head on the chair and my wife sat on it. My tongue kept moving, and my wife kept in a state of excitement and chatting with Kuzhu.</p>

<p>老婆认他做了主人，还和他通了电话，裸体和他视频，看着老婆风骚的嗲叫 着，我心里真不是滋味，真不知道要怎么安慰自己才好。</p>

<h1>Chapter 3</h1>

<p>One morning, when I found that all the money in my clothes had been confiscated by my wife, leaving only pocket money, I expressed my dissatisfaction. She slapped me in the face and told me to get out. I was so frightened that I knelt at her feet and begged.</p>

<p>那天晚上，她狠狠的惩罚我。</p>

<p>作完家务她命令我去卧室，用绳子将我脸向下趴着绑在床上。</p>

<p>She said: "You behaved very badly today, very badly. I want you to lie here and reflect on it."</p>

<p>She grabbed my hair and pulled it back hard. The pain was unbearable, so she let go. Then she reached out and slapped my butt. Just then her cell phone rang, and my wife reluctantly stopped and said coldly: "I will teach you a lesson when I come back later, just wait!" After that, she hurried to the next room to answer the phone.</p>

<p>I guessed that the call was from the cool guy, because I saw my wife, who was beating and scolding me very powerfully just now, looked very nervous and scared when the call came.</p>

<p>I answered the phone for a long time, and I couldn't hear clearly what my wife was saying, but her lustful laughter could be heard from time to time, as if she was deliberately trying to please the man on the phone.</p>

<p>What surprised me even more was that after talking for nearly half an hour, my wife was naked, with a dog collar tied around her neck, and a dildo inserted into her vagina. She was barefoot, with her cell phone hanging on her chest and using earphones to answer the call. She looked very embarrassed and crawled out of the room where she was answering the phone slowly like a dog, crawling all the way in the hall. Ten laps, while crawling, he continued to talk and laugh with the man on the phone in a very soft and cooing voice: "Hehe hehe... Master, you are really good at teasing people. The bitch has already crawled ten times in the hall obediently according to your order. Master, you told the bitch to crawl, how dare I not crawl, bitch?"</p>

<p>Maybe the man asked her if I saw her being punished by crawling on the ground, but my wife let out another coquettish smile and said, "Of course! Master, didn't you mean to let the bitch crawl in front of him to let him know that the queen in his heart is just a bitch who only deserves to be licked by Master? I'm not afraid that he will see it. When Master called, the slave was tying that wimp to the bed and spanking her, haha..."</p>

<p>"Hahaha..." The other party let out a satisfied laugh and said something else. My wife responded submissively: "Yes, Master." Then she raised her right foot high like a dog peeing. Before the man allowed her to put her foot down, my wife kept raising her right foot to answer the phone. She didn't dare to put her right foot down until the man asked her to crawl into my room and continue to train me.</p>

<p>Her master was on the phone listening to my wife playing with me.</p>

<p>My wife was allowed to stand and play with me, but she was still not allowed to wear clothes or shoes. She was naked just like when she was crawling on the ground, with a dog collar tied around her neck, a dildo inserted in her vagina, and her enchanting noble bare feet that she often asked me to lick for her. She put on an arrogant face and said to me: "I want to "Listen to yourself, tell me how wrong you are, how much you need to be punished." She pulled down my underwear and patted it twice.</p>

<p>"Understand? You're a wimp."</p>

<p>"Yes, Master." I could feel her hands reaching for my testicles. I tried in vain to close my legs, but she had already grasped them and started to squeeze them with her hands.</p>

<p>"Lift your ass for me, bitch." I struggled to lift my pelvis in the restraints, and her hand came forward to grab my penis.</p>

<p>She smiled proudly: "Do you think you are so naughty?"</p>

<p>I buried my face deep into the pillow to hide my embarrassment and felt her fingers playing with me.</p>

<p>"If you behave well, I mean accept my toying with you as if I were obediently letting my master play with you, maybe I will allow you to ejaculate." My wife did not force me to be her slave, nor did she force me to kneel at her feet. This is what I want.</p>

<p>"Do you know you're wrong? You're a loser." Her elegant voice sounded beside me.</p>

<p>"Yes, Master. It's entirely my fault."</p>

<p>In the past, when my wife was at home, she liked to wear a traditional silk pajamas with a ribbon tied around her waist, and her two beautiful white legs were all exposed outside the pajamas.</p>

<p>Her bare feet, as white as snow, stepped on the sexy high-heeled slippers, looking very wild and lustful.</p>

<p>Since becoming Ku Zhu's online sex slave, Ku Zhu ordered her not to wear clothes or shoes at home to show that she is a bitch.</p>

<p>My wife was really naked at home from then on, and she even had a dog collar tied around her neck. She didn’t dare to wear any shoes on her feet. She walked around with a pair of voluptuous bare feet. When she got dirty, she asked me to kneel down and lick her clean, because her master liked to watch her bare feet through video. She had to keep them clean and white at all times to wait for her master to appreciate her dirty feet.</p>

<p>Kuzhu has very strong sexual abilities, many tricks, and is proficient in SM games, which just meets the needs of those white-collar white-collar women who are usually serious but want to seek excitement online.</p>

<p>Since my wife is too obsessed with Ku Lord's games, she is not repulsed by the fact that Ku Lord doesn't look very good, but instead gives her a sense of masochistic joy.</p>

<p>My wife is getting more and more addicted to SM sex games day by day. Because I dare not control her playing like this, it is not surprising that she simply and openly becomes the online slave of the cool master. My wife carries out all the tasks ordered by the cool master very seriously.</p>

<p>At best, I am just an "assistant" in this SM game.</p>

<p>It is indeed not very pleasant to feel that my wife is being played with and I am just a helper. However, the sex life of the couple has improved a lot because of the addition of Cool Master, so I seem to be content with playing the role of an assistant. Instead, I turned a blind eye and let my wife continue to indulge in sex and become the so-called "bitch and slave girl".</p>

<p>I thought to myself, anyway, this young man Kuzhu can see it but can’t eat it. Whenever his wife gets sexually aroused by him, I am happy to deal with the aftermath! Sometimes when I think of the many training techniques in the past, I have to admire Cool Master for coming up with so many SM tricks.</p>

<p>Later, my wife and the cool master were having sex online. When I pointed the camera at my wife's naked lower body, what I heard was my wife's delicate gasp: "Hurry...big dick...insert...in...come...my...cock...fast..."</p>

<p>Watching my wife holding the dildo sent to her by her owner and moving it in and out of her vagina, I looked up and saw on the computer screen that there was actually a big cock that was spraying semen, and a male voice came out of the computer's speaker, "Oh...ㄚ...so...so good...".</p>

<p>After a while...</p>

<p>"What do you think of my cock?"</p>

<p>"Master's cock is so powerful..."</p>

<p>"I think your cock is beautiful!"</p>

<p>"Really...Thank you for the compliment, Master." The wife replied kneeling on the ground.</p>

<p>"It's true... I didn't lie to you. Will you let me, my real cock, penetrate your cock some other time?"</p>

<p>"Yeah...Master...but the bitch has never really done it with a man other than my husband."</p>

<h1>Chapter 4</h1>

<p>In order to find out the situation, Lord Ku sent another of his female slaves in our city named Wang Juan to find us.</p>

<p>Wang Juan and my wife made an appointment to come to my house, and my wife asked me to go downstairs to pick her up.</p>

<p>After waiting for a while, a tall young woman wearing a white trench coat walked out. She walked directly in front of me and asked, "Are you Dawei?"</p>

<p>I nodded quickly and said, "You?"</p>

<p>"Don't you know who I am?"</p>

<p>I saw a trace of anger on her beautiful face and said quickly: "This slave deserves to die. Please forgive me, Master."</p>

<p>She said disdainfully: "Dirty thing, is your wife at home?"</p>

<p>I said: "I'm waiting for you at home."</p>

<p>"Lead the way," she said.</p>

<p>I went upstairs and opened the door, and saw my wife Lijun already standing at the door to greet me. I closed the door, saw Wang Juan and asked, "Do you know who I am?"</p>

<p>My wife was a little nervous and said, "You are Queen Wang Juan, right?"</p>

<p>"You know why you still don't kneel down?" My wife plopped down at Wang Juan's feet, and I hurriedly knelt down beside my wife.</p>

<p>Queen Wang Juan smiled proudly and said, "Kowtow to me."</p>

<p>My husband and I kowtowed hurriedly, and after about ten kowtows, she nodded with satisfaction, walked into the hall, and sat on the sofa.</p>

<p>We crawled to her feet like dogs. Wang Juan stretched out her white jade hands, held up my wife's chin, pursed her lips and said with a smile, "Are you willing to be the master's slave?"</p>

<p>My wife quickly said: "Yes, Queen."</p>

<p>Wang Juan pinched my wife's face and said with a sweet smile: "Dirty thing."</p>

<p>She pointed at me: "Take off your shoes, mother."</p>

<p>I obediently took off her shoes with my mouth, and she pointed at me and said with a sweet smile: "Take off my socks, and then go get the footbath, I want to wash my feet."</p>

<p>I hurriedly went to get the basin and put it at Wang Juan's feet. I saw that my wife had already taken off her socks for Wang Juan, revealing a pair of beautiful and white feet.</p>

<p>"Take off your shirt." Wang Juan ordered. My wife took off her shirt obediently and knelt at Wang Juan's feet.</p>

<p>Wang Juan put her feet in the basin, bent down her delicate body, stretched out her slender hands to grab my wife's left breast, and squeezed hard. My wife groaned. Wang Juan put her slender hands hard, and my wife turned and moaned in Wang Juan's white and tender hands. After squeezing her left breast, she squeezed her right breast. While squeezing, she smiled and said to me, "Do you think I look like a milkmaid?"</p>

<p>I said flatteringly: "Xiang, so similar."</p>

<p>Wang Juan laughed happily and said, "Does your wife look like a cow? Hahahaha..." My wife screamed in agony.</p>

<p>Wang Juan finally let go, leaving a few bruises on my wife's breasts.</p>

<p>My wife washed her feet under Wang Juan's instructions, and I knelt next to her and licked Wang Juan's high-heeled leather shoes.</p>

<p>Wang Juan pinched my wife's cheek with her delicate hands, played with us for a while, and then ordered: "Turn on the TV and watch the disc for me." She took out a CD she had brought over and asked me to play it.</p>

<p>I quickly turned on the TV. Wang Juan used the remote control to select a channel and stretched out her feet. My wife and I quickly knelt at her feet and each of us licked one of her feet. Wang Juan was watching TV and playing with our lips with her feet, which was very satisfying.</p>

<p>"Do you two like to lick my feet?"</p>

<p>My wife kowtowed and said, "I like it, queen. Your feet are beautiful and noble. It is my blessing to be able to lick them."</p>

<p>Wang Juan laughed and said, "We are all women. You lick my feet. Don't you feel aggrieved?"</p>

<p>My wife smiled and said, "How can I compare with you? I was born to serve the Queen. Being able to lick your feet is something I learned in my previous life."</p>

<p>Wang Juan smiled tenderly and said, "You two are a perfect match. You are equally despicable, even more despicable than my dog. You are only worthy of being my slave."</p>

<p>We quickly said yes.</p>

<p>"Peel an apple for me." Wang Juan ordered. My wife hurriedly climbed to the bathroom to wash her hands, knelt down at Wang Juan's feet, took an apple from the coffee table, and peeled it for Wang Juan with a fruit knife.</p>

<p>After peeling it, she raised her hands and presented it to Wang Juan. Wang Juan took the apple, picked up the peel and said, "You have worked hard too, come and eat some."</p>

<p>My wife quickly kowtowed and thanked her, and Wang Juan fed the peel into my wife's mouth.</p>

<p>Wang Juan was eating the apple, looking at us, and suddenly spat out a mouthful of the chewed fruit pulp on the ground and said, "Bitch, I'll give you a bite."</p>

<p>I was overjoyed and kowtowed endlessly.</p>

<h1>Chapter 5</h1>

<p>The cool master finally came. He was in his forties, with average appearance and average physique. He was very satisfied with Lijun and me.</p>

<p>Wang Juan accompanied him to my house. Wang Juan, who was so arrogant towards our couple at my house that day, was so angry that she didn’t dare to say a word. As soon as she entered the door, she took off her outer coat, revealing a leather breast-exposing queen dress and a leather miniskirt. Then she knelt at the feet of the cool master and took off the cool master’s shoes.</p>

<p>My wife followed Wang Juan's instructions in advance, wearing a transparent suspender skirt, a dog leash around her neck, and sex slave high-heeled slippers, and greeted her at the door.</p>

<p>Seeing Ku Zhu coming, Lijun was very polite and let him sit wherever he wanted.</p>

<p>Ku Zhu looked at her, raised his hand and slapped Li Jun twice and said, "Are you saying this to the master? I told you that I am very strict. You have to remember your identity."</p>

<p>Lijun knelt down and begged the man for forgiveness. The man asked her and me to take off our clothes, took out a very delicate leather whip, and said to Lijun: "If you make a mistake, you will be punished, but I will give you a chance. If you give me a blowjob now, if you let me ejaculate in ten minutes, I will give you 20 blows, otherwise I will give you 40 blows. It's up to you."</p>

<p>The man said to me again: "Don't you often lick your slutty wife's ass? Come and lick my ass."</p>

<p>I couldn't lick a man's ass. Seeing that I was not moving, Lijun borrowed the whip from the man and hit me hard.</p>

<p>I had no choice but to lick it. I put my face on the man's butt. The man's butt was very smelly. I stuck out my tongue and moved it slowly. After licking for a while, I felt it was acceptable, so I started licking it seriously. I felt really cheap, but I liked this dirty feeling.</p>

<p>Lijun rarely gave me real oral sex. I couldn't see her while kneeling behind me, but I thought she must be very excited because he heard Lijun's gasping.</p>

<p>Lijun and I, one in front and one behind, served the man together. Ten minutes passed quickly. The man's penis was still so erect. The time was too short and there was no way to do it.</p>

<p>The man patted Li Jun's plump butt and said with a smile: "It seems that I have to beat you. You can't seize the opportunity even if I give it to you. Don't blame me for that."</p>

<p>I saw him picking up the leather whip and hitting Li Junzi on the buttocks with a crisp sound.</p>

<p>Then came the second and third whip.</p>

<p>Lijun groaned in pain, tears falling down.</p>

<p>I didn't escape either. I was beaten 40 times. I didn't cry, but I managed to persevere.</p>

<p>The man was a little tired and sat on the sofa to rest. Wang Juan very wisely crawled to his feet and knelt down, licking his feet. I peeked at Wang Juan's licking very seriously, and the tip of her tongue slowly wandered around the feet.</p>

<p>Now that things have come to an end, my wife has nothing to worry about anymore, so she crawls over and licks Master Ku’s feet seriously.</p>

<p>After playing for a while, Cool Master called Wang Juan and my wife into the room and asked me to kneel in the hall.</p>

<p>Not long after they entered the house, they began to hear the lustful moans of the two women one after another. It was obvious that they were being played with by the cool master.</p>

<p>"Hee... Master, you are really good at playing with women. It feels so comfortable to play with women, ah... it feels so comfortable!"</p>

<p>"Spare me, Master, slave, be good, slave, be obedient, slave, I can't bear it anymore." The pitiful moans made the noble image of the female slaves outside the door suddenly disappear.</p>

<p>Cool Lord’s bestiality is unleashed! His cock was so hard that it was about to explode. He stabbed my wife so hard, right into her heart, that she cried out in pain.</p>

<p>The cool master stabbed and cursed: "Bitch! I've wanted to fall in love with you for a long time!" While stabbing back, he slapped my wife's fat white buttocks hard, causing her to scream in pain.</p>

<p>Ku Zhu pulled out his cock from my wife’s pussy again and thrust it hard into Wang Juan’s pussy, straight into the uterus. Wang Juan’s delicate face wearing gold-rimmed glasses was in great pain and she couldn’t help but cry out.</p>

<p>Kuzhu stabbed and cursed: "Bitch! You bitch!"</p>

<p>"I'm a bitch, I'm a bitch..."</p>

<p>"Call Master!"</p>

<p>"Yes, Master..."</p>

<p>Ku Zhu cursed fiercely: "It hurts you so much! Who told you to pretend to be a queen?" He stabbed Wang Juan's vagina even more fiercely, deliberately pounded her uterus, and reached out to grab her breasts.</p>

<p>Wang Juan cried out in pain: "Oh, it hurts so much, please spare me. I won't dare anymore. I won't dare anymore. Oh, it hurts..."</p>

<p>While Ku Zhu was fucking Wang Juan hard, he also grabbed my wife's Xianglian from behind. My wife was like a bitch, lifting one of her beautiful legs back. Xianglian was bitten hard by Ku Zhu, and the screams of the two sexy women were heard together.</p>

<p>As they screamed, Ku Zhu felt that he could no longer hold on, so he pulled out his dick from Wang Juan's pussy, pointed his dick at her face, and ejaculated violently on her delicate face. Then, he ejaculated part of it on my wife's pretty face.</p>

<p>After ejaculation, the cool master relaxed and fell on top of them.</p>

<p>Half an hour later, the screams of two sexy women rang out in the room again.</p>
