<h1>House rules for male domestic slaves of husband and wife</h1>

<p>House rules for a day as a slave:</p>

<ul>
<li>At three o'clock in the morning, the slave washed himself, completed the enema, and rushed to his master's house.</li>
</ul>

<ul>
<li>Before five o'clock in the morning, the domestic slave enters the master's house with his own key, takes off his clothes, leaving only his underwear, puts a sanitary napkin on it, puts it on again, and wears knee pads and a collar. Fold your clothes and store them in a specific place, such as under the bathroom cabinet, so as not to affect the aesthetics of your home.</li>
</ul>

<ul>
<li>Kneel down in front of the master bedroom door and crawl into the bedroom. Kneel beside the bed and wait for service to get up. At 5 o'clock on time, he starts licking the mistress's toes and then goes to the mistress's crotch. When the mistress is awakened, the slave has to crawl to the male master's crotch and lick the penis until the male master has sex, then crawls back to the ground and lies down, waiting for the next order.</li>
</ul>

<ul>
<li>The host and hostess wake up and get up. After getting permission from the hostess, they help the two hosts get dressed and get up. When the male and female masters defecate, the slave must kneel between the master's legs, relax his hands and hang down, look down, look at the master's genitals, and listen to the sound of excretion. If the master rewards him, he will press the slave's face between the legs to experience this feeling at close range. After the master and the slave are ready, they will stand up directly. The slave must immediately hold the vagina or glans in his mouth and suck the remaining urine. After the master and the slave turn around, the slave will wipe the anus with a wet tissue and then suck it clean with his mouth.</li>
</ul>

<ul>
<li>Kneel at the gate, change running shoes for the host and hostess, and go out for a run to exercise.</li>
</ul>

<ul>
<li>During the fitness period, the host and hostess tidy up the bedroom, clean up the trash, and prepare breakfast. Breakfast is placed on the dining table before 7 o'clock.</li>
</ul>

<ul>
<li>At seven o'clock in the morning, the host and hostess came back and knelt at the door to greet them. They knelt down with their limbs on the ground, acted as footstools for the host and hostess, and changed their shoes.</li>
</ul>

<ul>
<li>Serve the two masters to bathe respectively. When the male master takes a bath, he only uses it as a footstool. He lies on the shower floor and prostrates himself to the ground. The slave closes his eyes and endures it to avoid the embarrassment caused by too much same-sex physical contact. When the female master bathes, you can prepare an antiseptic bamboo recliner. The female master lies on it, and the slave takes the bath from head to toe.</li>
</ul>

<ul>
<li>While the two of them were having breakfast, the domestic slave prepared the male master's work bag, car keys, house keys, etc., and knelt at the gate to see him off at 8 o'clock. The male master walked out of the house and kept lying on the ground to see him off until the mistress gave the order to close the door. Basic daily service and training time began.</li>
</ul>

<ul>
<li>At 10:30 noon, the domestic slave goes out to purchase fresh ingredients, including dinner ingredients. Lunch is prepared around 11:00, and the mistress eats at 11:30. She kneels under the table and crawls under the table, kissing the mistress's feet or lower body. Be careful to only touch the mouth, be gentle, and not affect the mistress's meal. She is always ready to meet the mistress's dining needs. After lunch, it enters daily service and training time again.</li>
</ul>

<ul>
<li>At five o'clock in the afternoon, the male master comes in after work. The slave is at the door, holding the basin in both hands, with his chin on the edge of the basin and his mouth wide open, waiting, kneeling to greet him. The male master takes a pee first when he enters the door. He will take out his penis immediately after entering the door and deal with it at the gate. The male master Human urine first enters the slave's mouth and then flows into the basin below. The slave then licks the urine off the male master's penis. The slave lies down and the male master sits on the slave's back to change his shoes. The slave then goes to the bathroom to clean the basin and rinse his mouth.</li>
</ul>

<ul>
<li>Start preparing dinner and serve the two hosts at 6 o'clock. Take the male host's genitals under the table and lick them gently so as not to affect the host's meal. At the same time, turn your back to the hostess and place your lower body in a position where the hostess can easily play with her feet.</li>
</ul>

<ul>
<li>After dinner, the host and hostess went out for a walk. After they were sent out on their knees, the slaves tidied up the kitchen and dining room and did the final cleaning.</li>
</ul>

<ul>
<li>At 7 o'clock, the two masters take a bath on time, and go to bed at 8:30. The slave kneels under the bed to accompany them silently, waiting for orders.</li>
</ul>

<ul>
<li>At 9 o'clock, the lights are turned off, the slave quietly exits the bedroom, gets dressed, takes the garbage and goes downstairs to his home.</li>
</ul>

<p>The daily rules of the house slave:</p>

<ul>
<li>The clothes of the male and female masters cannot be piled up. After the master changes clothes and pants after returning home, the slave must hang them on hangers and keep them flat.</li>
</ul>

<ul>
<li>The underwear of the host and hostess should be washed by hand, and other items can be washed in a washing machine. When washing clothes in a washing machine, dark colors should be washed separately.</li>
</ul>

<ul>
<li>The quilts and sheets of the host and hostess should be washed at most every two weeks, and the quilts should be dried once a week.</li>
</ul>

<ul>
<li>The socks of the male and female masters must be changed and washed once they are worn. The slaves take off the socks for the master and put them in the designated place. They take out the clean socks and put them in the shoe cabinet at the door for the master to wear when going out.</li>
</ul>

<ul>
<li>The underwear of the male and female masters are changed and washed every day. When the slave wakes up in the morning, he prepares the clean underwear. After the master and the female master wake up, he takes off the dirty underwear, and then holds the new underwear in his mouth with his hands and arranges the new underwear for the master and the female owner to put on.</li>
</ul>

<ul>
<li>The bathrooms of the mistress and mistress must be clean and bright, without any water stains. After the mistress and mistress use the toilet, and after the slave flushes the toilet, the slave must carefully clean the inside of the toilet and carefully check whether there are any water droplets on the toilet and on the floor.</li>
</ul>

<ul>
<li>After washing their faces, the host and hostess should also wash and cool the used towels, and wipe the basin, washstand and faucet with a cloth. And keep items in the bathroom such as hand soap, toothbrushes, skin cream, etc. neatly arranged.</li>
</ul>

<ul>
<li>After serving the mistress and mistress to take a bath, the domestic slave wipes the walls, floors and faucets in the bathroom.</li>
</ul>

<ul>
<li>The kitchen should be kept clean and tidy. A comprehensive cleaning should be carried out after each meal. The stove, range hood and walls should be wiped down. There should be no oil stains in any corner. After washing the dishes of the host and hostess, dry them all with dry towels immediately, keep them bright, and put them in the cupboards. Any tableware used in the kitchen must be washed, dried and placed neatly in the cupboards after each use. The sink and all countertops must also be wiped clean after each use.</li>
</ul>

<ul>
<li>After dinner for the host and hostess, the domestic slave prepares tea or drinks for the master. It becomes a habit to add water to the master at any time throughout the day.</li>
</ul>

<ul>
<li>While the male and female masters watch TV, surf the Internet, read books and newspapers, and chat, the domestic slave kneels next to the mistress after finishing her housework, waiting for her orders.</li>
</ul>

<ul>
<li>When leaving the master's house after buying food or serving the master and the master at night, the slave must take out the garbage and dispose of it.</li>
</ul>

<p>Daily training rules for domestic slaves:</p>

<ul>
<li>When serving daily life, the male and female masters will grab the slave's hair and use the slave's mouth at any time. The slave must cooperate at any time. The slave must lick the feet, lick the vagina, lick the anus, or lick the dildo. Be careful and meticulous.</li>
</ul>

<ul>
<li>When serving the male and female masters to eat, the slave should kneel under the dining table, put his mouth under the male master's crotch, hold the cock in his mouth, and suck gently without affecting his eating. At the same time, he should take off his underwear and offer his buttocks to the mistress. He can use his feet to play with the slave's lower body.</li>
</ul>

<ul>
<li>Before the mistress wears a dildo and inserts it into the slave's anus, the anus must be clean and lubricated, and the mistress must relax herself and cooperate with sodomy in any position. If she is kneeling in front of the male master and being sodomized, she must hold the male master's cock in her mouth for pleasure at the same time.</li>
</ul>

<ul>
<li>When the mistress takes a nap, the slave's mouth is always on the mistress's crotch, allowing the mistress to hold the slave's head between her legs to sleep.</li>
</ul>

<p>5. When the male master takes a nap, the slave's mouth should lick the male master's anus until he falls asleep.</p>

<p>House slaves serve in the house rules:</p>

<ul>
<li>The time for the male and female masters to have sex may be when they wake up in the morning, before going to bed at night, or any other time that the male and female masters need. The domestic slave must always be prepared.</li>
</ul>

<ul>
<li>When the male and female masters begin to have sex, they must get into position immediately, lie on the bed, and let the female master ride on the slave's face. The slave wets the female master's vagina with his mouth to prepare for penetration. When the male master gets on the slave's face, if the hardness is not enough, he inserts into the slave's mouth to arouse sexual arousal until it is hard enough for penetration. During the entire lovemaking, the slave's hands are not allowed to touch the male and female master's body. Only the lips and face can be in contact.</li>
</ul>

<ul>
<li>The main tasks of the domestic slave under the male and female master's crotch are to lubricate the labia with tongue and mouth, lick the hard penis, lick the male and female master's anus, suck the male master's testicles, and stimulate the master's sexual intercourse. During or after the sexual intercourse, if the male and female master has love fluid or a small amount of urine, the domestic slave must swallow it completely to prevent soiling the sheets.</li>
</ul>

<ul>
<li>After sex, the domestic slave quickly licks the glans, then sucks the vagina to prevent secretions from staining the sheets, then alternately sucks until it is completely clean, then takes the male or female owner's genitals in his mouth, and rests quietly for a while, allowing the male and female owners to take a break.</li>
</ul>

<ul>
<li>Bring a basin of warm water to the bedside, moisten the towel, gently wipe the body of the host and hostess, first from head to toe, and then scrub the back. Put on new underwear for the host and hostess, cover the hostess with a quilt, put everything away, turn off the lights, and exit.</li>
</ul>

<p>Basic etiquette for domestic slaves:</p>

<ul>
<li>When the male and female masters take the initiative to approach, or when the male and female masters appear within one meter of the slave, the slave must kneel down and kiss the master's feet. Then he will raise his head, kneel close to the body, and place the tip of his nose on the master's vagina or dick, waiting for orders.</li>
</ul>

<ul>
<li>When the male and female masters pay attention to the slaves, the slaves must kneel down and wait for the master's orders. Even if they are cooking, they must turn off the fire and kneel down immediately until the master orders them to continue doing things, then stand up and continue.</li>
</ul>

<ul>
<li>If a male and female master exposes their genitals in front of a domestic slave, the domestic slave must cover it with his mouth to protect it within three seconds.</li>
</ul>

<ul>
<li>If you have any questions, you need to ask the host and hostess, such as where to put household items. You must kneel in front of the host and kiss your feet and wait. After the host allows you to speak, you can then speak and ask for instructions.</li>
</ul>

<ul>
<li>The male and female masters hold the slave's collar, and the slave must crawl beside the master.</li>
</ul>

<p>House slave’s personal affairs and house rules:</p>

<ul>
<li>The towel used by the domestic slave is the male master's old underwear, which is placed in the basin on the side of the toilet.</li>
</ul>

<ul>
<li>The toothpaste and toothbrush used by the domestic slave are placed in the washbasin during the slave's working hours and placed in the cupboard under the hand basin.</li>
</ul>

<ul>
<li>The slave uses the washbasin to hold towels, toothpaste and toothbrushes. It is also used when the master and the slave need to urinate when they are not in the toilet. The slave holds the basin and kneels under the crotch of the master and the master, and the master and the slave pee directly in it. Therefore, while the slave is serving the master, the washbasin should always be placed on the side of the toilet, ready to urinate at any time. The toothbrushes and other items inside are stored in the cupboard under the wash basin in the bathroom.</li>
</ul>

<ul>
<li>The slaves eat shredded squid every day to adapt to the taste of urine so that they can drink more of their master's urine. In addition to drinking urine, the slaves also drink a certain amount of pure water every day. There is no time limit for the slaves' diet, and they can be replenished at any time during their free time. When serving at the master's house, the slaves rarely eat formally.</li>
</ul>

<ul>
<li>Domestic slaves have their intestines filled at home and serve their masters and mistresses for a day without eating anything except a small amount of shredded squid. Therefore, generally domestic slaves will not defecate. If there are special circumstances where they need to defecate, they must ask the master for instructions before going out to the public toilet.</li>
</ul>

<ul>
<li>When the domestic slave urinates, he must squat on the drain in the bathroom and urinate. After urinating, rinse carefully.</li>
</ul>

<ul>
<li>Domestic slaves must wear sanitary napkins under their underwear all day long.</li>
</ul>

<ul>
<li>The domestic slave's semen is used to clean the shoes of his and her master, and is brushed with his own toothbrush.</li>
</ul>

<p>House rules for the punishment of domestic slaves:</p>

<ul>
<li>If the slave neglects housework, the mistress will order the slave to lie on her knees, hold the slave's hair with one hand, and hit the slave's buttocks with the other.</li>
</ul>

<ul>
<li>If a domestic slave behaves improperly towards his mistress, the mistress will punish the domestic slave by slapping him. If a domestic slave behaves improperly towards his male master, the mistress will hold the male master's penis and slap the domestic slave.</li>
</ul>

<ul>
<li>When the domestic slave holds the mistress's vagina to drink urine and misses urine, the mistress will pour the urine directly into the slave's anus the next time she urinates. When the domestic slave holds the male master's penis to drink urine and misses urine, the mistress will insert a loophole into the slave's anus so that the male master can urinate directly.</li>
</ul>

<h1>The principle of husband and wife</h1>

<ul>
<li>The first is to find a couple as masters, but the male slave is just a female admirer and does not like men. Although the masters are a couple, it is the female master who gives orders to the male slaves. The male master basically just accepts the role of being served by the male slave. He does not pay attention to the male slave, rarely orders the male slave, and does not touch the slave, because there is no homosexual tendency, and touching the head is regarded as a reward at most. Homosexuals will not feel the charm of the couple master, because the male slave's motivation comes from the insult. If he likes men, he will not feel the insult at all. But it is difficult to say whether the male slave has homosexual tendencies, especially the male slave who is interested in the relationship between the husband and wife master, he is likely to have this tendency. This phenomenon is very helpless.</li>
</ul>

<ul>
<li>Second, in most couples’ families, men are actually in charge. In a stable husband-wife family, the male and female owners have equal intimidation and control over the male slaves, and the male slaves also feel a sense of surrender to both of them from the bottom of their hearts, and do not favor one over the other. If there must be a difference, it would be to respect the male protagonist and admire the female protagonist. Let the male slave be a domestic slave and integrate into the family.</li>
</ul>

<ul>
<li>Third, a domestic slave does not need too much corporal punishment, it is natural obedience. Although violence and corporal punishment are the best tools for men to conquer men, they are too intimate unless there is an element of humiliation added to the corporal punishment. For example, the male master slaps the domestic slave with his own genitals, and it is best not to be the spontaneous wish of the male master, but the hope of the mistress, or the daily routine prescribed by the mistress. This is also full of the male master's disdain for the domestic slave, and is more insulting, because as a domestic slave, the male slave is surrendering to humiliation, not violence.</li>
</ul>

<ul>
<li>Fourth, just like educating children, "the female lead singer has a red face and the male lead singer has a white face." This division of labor is a more appropriate way to discipline slaves. The female master's gentle care, love and favor make the domestic slave feel warm and attached; the male master's disdain and contempt help the domestic slave learn to respect and abide by his duties.</li>
</ul>

<ul>
<li>Fifth, the female master allows the domestic slave to give priority to serving and pleasing the male master, in order to achieve the effect of humiliating the domestic slave, thereby making him more devoted to the role of a slave. The mistress always emphasizes to the domestic slave that only by serving the male master well can he be favored by the mistress. It is more important to please the male master than to cater to the female master. For example: the premise of giving the female master a tongue is to give the male master a tongue first. It is extremely insulting to the domestic slave. This kind of insult is the best key to unlock the slave's servility.</li>
</ul>

<ul>
<li>Sixth, housework is a must. In addition to cleaning the house, it would be best if the slave is good at cooking and good at cooking. Serving the masters at the dinner table. When the mistress is eating, the male slave kneels under the table, performs oral sex on the male master, and licks and massages her own feet, which can strengthen the master-slave relationship. In actual experience, it is impossible for a person to always be a human toilet, because life is long. Using the mouth of a domestic slave to make toilet paper for the male and female masters also expresses worship and insults. Similarly, taking care of bathing is also the responsibility of the domestic slave.</li>
</ul>

<ul>
<li>Seventh: The dependence of the house slave on the body of the mistress is the most basic form of worship. When he snuggles at the feet of the mistress and can rub his face against her ankles, he will feel incomparable peace and warmth in his heart. Therefore, serving her in the toilet and bathing are opportunities for worship. Serving the male master in the toilet and bathing in this way is out of compliance with the mistress's orders and out of the realization of the mistress's wish that the domestic slave will be equally respectful to her husband. This desire of the female master is the greatest servile motivation of the domestic slave.</li>
</ul>

<ul>
<li>Eighth: For domestic slaves, serving their masters and having sex is the greatest happiness. Using their mouths to entertain their masters is the most stimulating and desirable enjoyment. After the masters are satisfied, they clean their private parts with their mouths and swallow semen and honey, which is heaven.</li>
</ul>

<ul>
<li>Ninth, the husband-wife master not only expresses the desire of the male slave to submit as a domestic slave, but also expresses his longing for home in his heart. The female protagonist should be gentle, beautiful, noble and kind, the male protagonist should be masculine, handsome, active and talented, and the family should be united, peaceful and warm. Only in this way can each other feel happy naturally.</li>
</ul>

<ul>
<li>Tenth. The entire atmosphere of the husband and wife master and slave should be a relatively warm and harmonious family atmosphere, not like a training room or a dungeon. It is best for both parties not to involve transactions or money, not to have economic disputes, and not to work together. Maintain a single and pure master-slave relationship, and do not complicate the problem. A domestic slave has an independent career and family, which is responsible for his life and the protection of the couple-headed family. Both parties must have a good conscience. The distance and scale of sex have their own normal lives. You must know that a lover who is supported by the outside will mostly not have good results. A self-sufficient confidant is a lifelong relative. The same applies to the relationship between husband and wife. A healthy relationship is the guarantee of a happy life.</li>
</ul>

<h1>The love of husband and wife</h1>

<p>Wife needs to know: a slave is a slave and can only be used, not treated as a human being. Don’t always ask him if he misses you. Don’t always make him forget that he is a slave. You are his most respected god. If you say this, you will not give him the opportunity to be a slave and make him lose the meaning of life. For a slave, insults and insults give him more power to live than praise and encouragement. If you love him, you must insult him. No matter how much you like him, you cannot love him like a man. He will only be happy if he becomes your slave. He can tolerate insulting him and playing with him, but if you treat him as a human being and not as a slave, he will feel like a waste to you.</p>

<p>Husband also needs to understand: a slave is a slave, it is only used to improve the sex life between himself and his wife, and to make the couple comfortable. There is no need to be jealous of him. Don't say that the slave also has a penis. Don't care about the appearance of the man. He will always kneel naked in front of his wife. He is just a piece of meat and a tool. You don't need to mind at all. He won't use it if he has a penis, and he will never dare to use it to violate your wife. What's more, as long as he is in front of you and your wife, he will immediately weaken his legs and kneel down? A slave is born to serve you and needs your orders. Verbal insults are the best reward for him.</p>

<p>The wife must understand: Do not show your slave a feminine attitude. A weak woman is not attractive to him. He just wants to be a dog under your strong crotch and be humiliated by you without dignity. The slave will have shortcomings. When he first serves you, the details of life will be different from you and make you dissatisfied. But how can he be perfect? ​​In front of you, he just has to put down his mask, give up his thoughts, and be your bitch. Tolerance is also the attitude a master should have towards his slaves. Tolerate his clumsiness, train him carefully, and have no intention of becoming your complete slave.</p>

<p>Husbands should also understand: Don’t treat your slave as a punching bag. A man who only punches and kicks his slave is the most cowardly man. Slaves are originally the property of your family, and your husband should be a specially hired full-time caretaker. If the caretaker performs his duties, the property will increase. Of course, a slave is not a jewel that stays in the vault all day long. She also has to go through the baptism of wind and rain and lose her dignity like a dog. The humble ones are raised by you, and they encounter more difficulties than men. They never finish housework and need to be dealt with. They also use their mouths to satisfy your sexual needs and your urine and feces need to be licked clean by him. As a husband, you should not even look at the slave. Treat him as an object and treat his mouth as nothing more than a toilet. Who would beat the toilet? Just use him to go to the toilet.</p>

<p>Wifees need to know: A man values his dignity more than anything else, no matter how much he loves you or fears you in private. In front of the slave, you must show enough respect to the other person, let him be the master, let the slave bow and kneel to him, and say to the slave, even one hair on my husband's dick is nobler than yours.</p>

<p>Husbands also need to understand: women are also independent people and have self-esteem. The slogan of women's liberation has been shouted for more than half a century. Why can't they own their own slaves? Respecting each other's sexual desires is interactive and cannot be achieved through unilateral efforts. Why can't men think about it? Men who are slaves are not human beings at all. Only men who insert their dicks into a woman's body can gain the deep-rooted respect of this woman. Slaves don't deserve it.</p>

<p>The wife should know: her husband’s penis is like her clitoris. She loves her from heart to heart, and loves her house and pussy. She also needs the verbal service of the slave. As long as she truly feels that her husband is my love deep in her heart and takes more care of her husband’s body psychologically, her husband will feel this sincerity. What's more, if the slave licks the husband's dick more often, sex with the husband can be more hygienic.</p>

<p>Husband must understand: his wife needs the slave's service even more. It is not easy to pee while sitting on the slave's mouth. When you want to go to the toilet, it's not too late to let your wife use the slave's mouth first, and then use it yourself.</p>

<p>Slaves are originally raised by two people. When raising them, they should be open-minded and not jealous. When used, they should be humble to each other. The wife and husband play with the slave together. Only when he is fully used can life be sweet.</p>
