<p>That year, Li Man'er was in her first year of college. College is something that can completely change a person.</p>

<p>In high school, Li Man'er was pure and simple, cute and mischievous. Her lively personality often made her get along with everyone, and she was the goddess for most people in the class. Moreover, despite her beauty, she was not arrogant and focused on her studies. This image, many years later, contrasts greatly with Li Man'er approaching 30...</p>

<p>Li Man'er, 30, lying elegantly on the sofa bed on the top floor of her upscale apartment facing the floor-to-ceiling glass windows, wearing a low-cut tank top, her D-cup breasts nearly exposed, her mini mini skirt lifted most of the upward, pure cotton T-line panties tossed aside, and between her two alluring jade-like legs, a long-haired woman lay between them.</p>

<p>Li Man'er coldly looked out the window, the entire city spread out before her. She gazed at herself lying with her legs spread in the glass, and at the B slave beneath her.</p>

<p>"Am I beautiful?" She suddenly patted the woman between her thighs who was performing oral service on her.</p>

<p>The woman below answered mechanically and dutifully.</p>

<p>B奴，这个原本自己完全无法想象的词汇现在在她眼里是如此的自然。她有很多B奴，确切地说她根本不知道她有多少个，她只隐约记得有年轻的有年长的，有男的却大多是女的。随着年龄的增长让她发现让同性崇拜自己的下半身更有成就感。比如现在胯下的女人，20岁刚出头，大学校花，男人们梦寐以求的女人，现在只是自己胯下殷勤口交B奴。</p>

<p>She loves the taste of orgasms, climaxes multiple times a day, and has a strong sexual desire, bursting into it no matter where or when. And it all began with the support of her college roommates—Chen Mengyuan, Wang Li, and Huang Danni.</p>

<p>Chen Mengyuan, beautiful and intelligent, gentle and charming, is the center of attention among all the girls in the class. In the dormitory, she has the best relationship with Li Man'er and they are often together.</p>

<p>They talked a lot. At that time, Man'er would tell her anything she felt in her heart. One day, while they were watching a TV drama together, they saw a girl kneeling in front of another girl and pleading. Something inside Man'er was unlocked. She secretly crawled up to Chen Mengyuan's ear and said, 'What are they doing?' Chen Mengyuan flicked Man'er's forehead and said, 'Do you know about the queen? This girl completely obeys the other. So, want to be the queen?'</p>

<p>“Ah, no.”</p>

<p>Man'er spoke with her mouth, but her lower body gradually became wet. That night, Man'er dreamed, dreaming that her roommate Wang Li was kneeling under her, while she was high above, telling her to kiss her shoes...</p>

<p>After that day, Man'er often searched for these things online to look at. Before she knew it, she had become completely obsessed with them, and her primary target was Wang Li.</p>

<p>Wang Li, a rural person, timid and silent, with a look that made it seem like everyone could bully her. Man'er at first thought she was really good-tempered, but as she got to know her, she realized that she really was timid.</p>

<p>That day, the day that changed everything. As usual, Man'er asked Wang Li to help fetch hot water, but because the path was slippery, Wang Li accidentally slipped and broke Man'er's kettle. After timidly reporting the incident, Wang Li was scolded mercilessly by Man'er, and she cried, not knowing what to do. That day, Chen Mengyuan happened to have gone home on business, and there was no one to intervene. Man'er kept scolding, and as she scolded, the gate to her inner desire opened. Seeing Wang Li's timid appearance, Man'er shouted loudly, 'Kneel down!' Man'er's sudden loud voice obviously frightened Wang Li, who trembled and knelt down. Man'er grabbed her hair and said, 'How do you expect me to bathe today? Are you trying to stink me to death?'</p>

<p>"You can use mine..." Wang Li pitifully tried to ingratiate herself.</p>

<p>"Get lost, who wants to use you, damn it, come here." Man'er directly grabbed Wang Li by the hair and dragged her toward the bathroom, "Today you're going to help me take a bath, got it?"</p>

<p>Wang Li said fearfully.</p>

<p>That day, Wang Li knelt to bathe Man'er and wipe her body, feeling an unparalleled sense of superiority and pleasure. When she reached her pubic area, a strange pleasure hit her. "You should rub more here and rub more." Man'er breathed heavily and pointed at her crotch. Man'er was truly beautiful—her legs were straight and long, and even her private parts were tender. Wang Li felt inferior and felt even more lowly, so she began to serve Man'er wholeheartedly......</p>

<p>After taking a shower, Man'er lay on her own bed, savoring the feeling from just now, and suddenly she thought of something.</p>

<p>"Wang Li, Wang Li."</p>

<p>The vine poked its head out and called.</p>

<p>Wang Li is washing Man'er’s underwear.</p>

<p>"Come to my bed, quickly."</p>

<p>Man'er gave the order. Wang Li didn't dare to disobey and hurriedly climbed onto Man'er's bed.</p>

<p>"Wang Li, have you ever been in a relationship?"</p>

<p>Maner seemed thoughtful.</p>

<p>"No, no."</p>

<p>Wang Li answered truthfully.</p>

<p>"Ah, me too." Man'er pretended to be cute, "So did you return the kiss?"</p>

<p>"Not really." Compared to Man'er’s light and pleasant voice, Wang Li’s voice was so deep. The world is just so unfair.</p>

<p>"I feel like kissing today." Man'er flirtatiously winked at Wang Li.</p>

<p>"Ah, us?" Wang Li couldn't believe it. They were the same gender, but what was even harder for her to believe was that Man'er, being so beautiful and noble, could actually fancy her.</p>

<p>"Right, do you want to, do you want to." Man'er shook Wang Li's hand.</p>

<p>"Hmm..." Wang Li didn't know how she had agreed; perhaps this was the charm of a pretty girl.</p>

<p>"Then come on."</p>

<p>Man'er lay down and pulled at Wang Li. Wang Li slowly moved closer to Man'er's face... 'Hey, what are you doing!'</p>

<p>Man'er suddenly became serious.</p>

<p>"Ah, aren't we supposed to be kissing?"</p>

<p>Wang Li does not understand.</p>

<p>"Yeah, it's kissing. But it's your mouth with my..." Lying down, Man'er pointed to her crotch, "with my V..."</p>

<p>Wang Li's head suddenly exploded.</p>

<p>"Eh? You don't really think I would kiss you, do you? Come on, are you even worthy? Hurry up and kiss my B."</p>

<p>"But..." Wang Li was speechless.</p>

<p>"What's up? No one has ever kissed me down there either, it's my first time too. First kiss to first kiss, you’re the lucky one, because my pussy is way more precious than your mouth."</p>

<p>Man'er said these things in a cute yet terrifying way. For some reason, Wang Li actually slowly moved closer to Man'er's lower body. After her shower, Man'er wasn't wearing underwear, her lower body exposed completely, with little white hair. The scent of shower gel wafted over. Somehow, Wang Li kissed her...... "Yay, the first kiss was a great success." Wang Li heard Man'er shouting excitedly. That night, Man'er and Wang Li didn't sleep all night. Wang Li was pinned between Man'er's crotches and licked her pussy all night. Wherever it felt good, how hard she used, left and right, up and down, and when she climaxed, she sucked hard. Man'er was drenched in sweat, giving instructions. Wang Li followed the instructions drenched in sweat, and Man'er kept climaxing all night. By dawn, Man'er came one last time in Wang Li's mouth and then fell into a deep sleep. Not daring to leave, Wang Li kissed Man'er's lower body and waited. Gradually, she fell asleep kissing Man'er's pussy......</p>

<p>这一晚后，蔓儿便打开了欲望的大门。王莉彻底成为了蔓儿的泄欲工具，在没人的自习教室里，操场角落，逛街商店的试衣间里，电影院里，晚上蔓儿的床上，一次又一次，王莉的嘴巴被蔓儿泄得一塌糊涂。每次发泄之间，蔓儿总会抓着王莉的头发，拎到胯下把她的脸埋进自己毛里，让王莉用鼻子吸她下体的味道。</p>

<p>"Remember my taste, I want you to remember it forever."</p>

<p>Man'er was extremely arrogant. And Wang Li had long since succumbed, believing that she truly was only worthy of doing such things for Man'er…</p>

<p>Over time, Chen Mengyuan finally discovered this secret. That day, when Chen Mengyuan returned to the dormitory, it happened that Man'er had Wang Li's head between her legs, ejaculating genital fluid.</p>

<p>"How could this happen?" Chen Mengyuan was stunned, and so was Man'er. Meanwhile, Wang Li, under them, had already numbly started licking and cleaning Man'er's B. Because the two of them had a good relationship, Man'er confessed everything despite the awkwardness.</p>

<p>"Man'er, don't do such things anymore." Chen Mengyuan advised.</p>

<p>"Mengyuan, it's really great, you should come too, let Wang Li lick you, we'll enjoy it together." Man'er’s eyes shone.</p>

<p>"No, no." Chen Mengyuan seemed to recoil as if she might catch a disease. Man'er felt very disappointed seeing this, as she clearly had good intentions.</p>

<p>"Man'er, promise me, if you really have to do it, don't let me see it..." Chen Mengyuan said the last sentence to Man'er with her back turned.</p>

<p>Time flies, and the second year had already begun. After that, Chen Mengyuan clearly grew distant from Man'er and no longer stayed in the dormitory often. As for Man'er, she still wholeheartedly wanted to pull Chen Mengyuan into her world, but she still didn't know how to start the conversation.</p>

<p>Man'er and her three-person dormitory also became four-person dorms. Back then, Chen Mengyuan thought, now there's one more person to control Man'er's already uncontrollable pervert. Man'er is still a heartthrob. At school, no one knows she's a pervert, but in front of Wang Li, she's the queen, unrestrained and unleashing her insatiable sexual desire on her. Wang Li, as if resigned to fate, submits to Man'er's crotch and obeys her every command.</p>

<p>The new girl was from her own class, Huang Danni, a sexy girl. If Chen Mengyuan's D-cup breasts had already made the boys excited, then Huang Danni's E-cup size really drove them crazy. And her perky hips—big and perky, swaying as she walked. She often drew countless glances along the way, but the most terrifying thing was her slim waist. While she had big breasts and perky hips, God generously bestowed upon her a snake-like waist, making her the school's famous sexy pet. Fortunately, her appearance was ordinary, so the school's spotlight was still under Man'er and Chen Mengyuan.</p>

<p>Huang Danni also has her own secret. She comes from the countryside, and once she enters the flashy world of university, she becomes hooked. In the first semester, she started dating a playboy—basically his buddy. She was taken out to live together, and from a simple rural girl, she was completely transformed into a sex goddess. In just one semester, she was developed into a master of sex, oral sex, titfucking, and anal licking—all mastery. She also loves studying. If a man likes her, she studies. So after one semester, that playboy couldn't stand it—he became a semen-absorbing maniac. That rich kid left him with just one sentence and broke up. So, naturally, Huang Danni returned to the dorm in the second semester.</p>

<p>Huang Danni's return did bring some peace to the dorm for a while, but Man'er still secretly asked Wang Li to serve her. But being around was always inconvenient. Secretly waking Wang Li up in the middle of the night to lick her pussy was hard to reach orgasm without restraint, because unlike Chen Mengyuan, Huang Danni basically stayed in the dorm. Huang Danni became an obstacle for her. Man'er began to observe her, and soon realized that Huang Danni was a country girl at heart, with a completely obedient personality. So, that day......</p>

<p>"Huang Danni, I need to talk to you about something."</p>

<p>Man'er called out to Danni, who was about to take a bath.</p>

<p>Huang Danni was unaware of the situation.</p>

<p>"Actually, I'm gay." These past few days, holding back her desires, Man'er had long stopped worrying too much.</p>

<p>"Ah." Huang Danni was immediately dumbfounded and couldn't respond for a moment.</p>

<p>"Let's put it this way, I really like you, your breasts, your butt." Man'er slowly caressed Huang Danni.</p>

<p>"But... but..." In fact, after Huang Danni returned to the dormitory, her sexual desire had been restrained all along, and being teased in her lower body by Man'er actually made her wet.</p>

<p>"Danni, I think you're thinking about it down there." Seeing her react, Man'er immediately pressed on and took off her panties. Man'er's lower body was already swollen, but of course it wasn't because of Huang Danni.</p>

<p>"What do you think we should do?"</p>

<p>The beautiful Man'er looked at Huang Danni meaningfully.</p>

<p>That day, Chen Mengyuan came home from night study and immediately felt something was off. Why wasn't Huang Danni and Man'er coming to class, but Wang Li did? In the past, Man'er, who was overwhelmed by desire, would drag the timid Wang Li outside. Of course, only Chen Mengyuan knew. After a while, maybe it was the girls' restroom, maybe a corner of the playground, or maybe in the dorm, a pretty girl riding on another ordinary girl's face, relentlessly venting her desires......</p>

<p>When Chen Mengyuan returned to the dormitory, it happened to be the sixth time Man'er ejaculated on Huang Danni's face and mouth. When Chen Mengyuan and Wang Li pushed the door open, Man'er was just grabbing Huang Danni's hair while ejaculating on her genitals.</p>

<p>"Li Man'er, what's wrong with you?"</p>

<p>Chen Mengyuan was speechless.</p>

<p>"Mengyuan, you came at just the right time. This guy is truly a born. I told you I liked her, but once I tease her, she gets won over. Plus, her oral skills are insane—I've already come six times." Man'er was savoring the aftertaste after climax, "Look, look, no wonder men can't handle her. After I finish, she even skillfully cleans me up." Man'er pointed at Huang Danni, who was skillfully licking and wiping her lower body.</p>

<p>"I'm so annoyed." Chen Mengyuan was very angry, looking at the messy dorm room.</p>

<p>In the end, Chen Mengyuan still escaped from the dormitory. She fell in love, and the other person was a handsome guy from the same department, attractive and talented, though his personality was a bit gloomy. They went to live together. When moving things out of the dormitory to leave, Man'er didn't say much to Chen Mengyuan, only saying goodbye when leaving.</p>

<p>The beginning of living together was happy. Although the house was only about the size of a bed and a bathroom, Chen Mengyuan was very much looking forward to it. They were attracted to each other's bodies, passionately and wildly intertwined, every moment. However, Chen Mengyuan still had some complaints about sex, because although the boy was gloomy by nature, he was a macho at heart. Every time they did it, he would ejaculate on his own. Chen Mengyuan had never experienced the climax Man'er spoke of, but that didn't affect their happiness. The first semester of sophomore year was halfway through in the blink of an eye. The cohabitation life Chen Mengyuan and her boyfriend had gradually faded, becoming quite plain. Passion always faded easily, and they couldn't even do it once a week. Yet Chen Mengyuan still felt happy. Perhaps their relationship was always ordinary, until that afternoon that changed everything......</p>

<p>While Chen Mengyuan was attending an elective class, she suddenly received a text message from her boyfriend saying that something had happened and to come back quickly. Chen Mengyuan hurried to her rental apartment, and when she opened the door, she was stunned. In the room, Wang Li and Huang Danni were standing on either side of the bed, while Man'er was sitting in the middle of the bed as if she were the owner of the room. Man'er's jeans were pulled down to her knees, and underneath her exposed buttocks was a man's face. Needless to say, Man'er was sitting on Chen Mengyuan's boyfriend's face.</p>

<p>"Hello, my good friend, long time no chat face to face." Man'er nonchalantly played with Chen Mengyuan's boyfriend's phone.</p>

<p>What are you doing?</p>

<p>Chen Mengyuan was already speaking with a quiver in her voice.</p>

<p>"I was telling you, what kind of boyfriend did you find? He's so ridiculous. I asked Huang Danni to seduce him, and he succeeded on the first try. After finishing, he actually wanted more, then told him to lick my pussy and let him continue enjoying Huang Danni's skills. Unexpectedly, he agreed immediately. Haha, I didn't expect that after less than a month of being pressed under my crotch to lick my pussy, he already didn't need Huang Danni's body anymore. Now he's completely smitten with me."</p>

<p>Man'er looked at Chen Mengyuan enchanting and movingly.</p>

<p>"Him, oh, now he works really hard every day licking my asshole."</p>

<p>Manr shook her butt proudly as she watched Chen Mengyuan.</p>

<p>"No, no." Chen Mengyuan cried as she pushed Man'er's buttocks. Man'er looked at her with disappointment, because deep down she thought Chen Mengyuan was just like her, someone who should be above and mighty. But she was wrong. Man'er stood up, and beneath her buttocks slowly revealed a face covered in bodily fluids and obsession. Chen Mengyuan hurriedly grabbed a tissue to wipe her boyfriend's face, "Are you okay? Are you okay......</p>

<p>Man'er looked at everything in disappointment. She originally wanted Chen Mengyuan to give up men and recognize her own nobility, but unexpectedly, in the end, it was Man'er who gave up on Chen Mengyuan.</p>

<p>"Let's go." Man'er pulled up her jeans and walked away without looking back, leaving behind a messy room and a messy couple.</p>

<p>From then on, Man'er was lonely.</p>

<p>After this incident, the man also confessed to Chen Mengyuan that, somehow, all he could think about now was Man'er’s lower body, and just thinking about it made him sexually aroused……</p>

<p>Chen Mengyuan also tried hard to win back her boyfriend's heart. She shaved all her pubic hair clean and performed oral sex on her boyfriend diligently every day. Gradually, her boyfriend began to cling to her every day again. Although they still didn’t have much sex, at least he would contact Chen Mengyuan daily to satisfy his sexual desire. But all of this was only Chen Mengyuan's self-delusion. Chen Mengyuan discovered the messages between her boyfriend and Man'er on his phone...</p>

<p>Man'er, are you there?</p>

<p>Yeah, what's up?</p>

<p>Man'er, I beg you, when will you let me lick you?</p>

<p>Go away, disgusting, you are not worthy.</p>

<p>I beg you, right now I think about you ejaculating every day.</p>

<p>What about Chen Mengyuan? Can't she satisfy you?</p>

<p>Her? She won't do. She's giving me a blowjob right now, but my mind is full of you.</p>

<p>You're disgusting. She's giving you a blowjob and you're still texting me.</p>

<p>Man'er, please, my mind is full of your downside, I really want to lick your asshole.</p>

<p>Alright, then have Chen Mengyuan lick your asshole, and I'll slap my asshole so you can masturbate.</p>

<p>Chen Mengyuan remembered last night, when she was lying under the covers and giving her boyfriend oral sex. Suddenly, her boyfriend roughly grabbed her hair and pulled her head away, then turned around and said to her, 'Lick your asshole.' Chen Mengyuan didn't hesitate, tactfully burying her whole head in his butt and licking it. Last night, while she was licking her anus, her boyfriend came three times...... Chen Mengyuan thought her boyfriend's heart had returned, but unexpectedly, she saw those last few shocking messages......</p>

<p>Man'er, Man'er, she is licking my anus, you lick it for me too.</p>

<p>Wow, haha, you two are so disgusting, always just know how to kiss ass.</p>

<p>Well, we are Man'er’s dogs, we only deserve to lick Man'er's anus.</p>

<p>Got it, come find me in the bathroom upstairs at the gym tomorrow afternoon, and I'll satisfy you.</p>

<p>Thank you, Man'er, Man'er, can I ejaculate?</p>

<p>Go ahead and shoot, but you can only think about ejaculating in my ass, you know.</p>

<p>It felt as if the world was spinning. Chen Mengyuan was completely stunned. The man she served actually called himself a dog in front of Man'er, bringing an overwhelming sense of humiliation, followed by a pervasive feeling of inferiority throughout her body.</p>

<p>That night, her boyfriend came home and, seeing Chen Mengyuan, made her kneel and perform oral sex. Chen Mengyuan knew he had just licked Man'er's anus. She helplessly swallowed his cock. Come on, lick her anus. He grabbed Chen Mengyuan's hair and shoved her into her butt cleft. Finally, he ejaculated his cock, which smelled of the smell of her anus, into her mouth and ejaculated wildly. Chen Mengyuan knew this was the end of all her love......</p>

<p>Chen Mengyuan didn't break up with him, but she could no longer live with him, so she moved back to the dormitory. And in the dormitory, it was already Man'er’s domain; no one paid any attention to Chen Mengyuan, acting as if she had never come back. Man'er still had Wang Li and Huang Danni serve her every day, while Chen Mengyuan, facing this situation, often found herself imagining her ex-boyfriend under Man'er’s control...</p>

<p>Her boyfriend still sought out Chen Mengyuan. Chen Mengyuan knew she only needed a masturbation tool for him, but she still couldn't refuse. Chen Mengyuan used to be a beauty. Although she was pure, deep down she had a noble and cold charm. But now, she seemed to have lost her soul. That night, after self-study, her boyfriend came twice more in her mouth at the bottom of the stairs. After finishing, he suddenly begged Chen Mengyuan, "Mengyuan, I can't take it anymore. I miss Man'er, I'm about to suffocate, please help me beg her." ”</p>

<p>Chen Mengyuan didn't know how to return to the dormitory. When she went back, Man'er was lying on the bed with her legs spread, playing on an iPad, and between her thighs was Wang Li's head moving slowly. Chen Mengyuan climbed onto Man'er's bed.</p>

<p>"Man'er, I want to tell you something."</p>

<p>"Go ahead and speak." Man'er ate chips without even raising her head.</p>

<p>"Um, go help him." Chen Mengyuan glanced at Wang Li between her legs.</p>

<p>"Help with what?" Man'er asked knowingly.</p>

<p>"He really needs you, so you can satisfy him occasionally..." Chen Mengyuan lowered her head in resignation.</p>

<p>"Then you satisfy him by licking his asshole, aren't you really good at it?" Man'er said, giggling as she spoke.</p>

<p>"Man'er, you..." Chen Mengyuan said, her eyes brimming with tears.</p>

<p>"Forget it." Man'er put away her smile, 'If you promise me one thing, I'll go satisfy him.'</p>

<p>"What's the matter?"</p>

<p>Man'er put down the iPad, straightened up, and pressed her hand on Wang Li's head at her crotch, 'Give me a blowjob.' Man'er whispered these words into Chen Mengyuan's ear.</p>

<p>That day, Man'er gained another blowjob B-slave.</p>

<p>"Ah, you need to use more force with your tongue." On the bed, Man'er twisted her beautiful waist, and between her long legs, Chen Mengyuan was lying on top of her.</p>

<p>"Don't use your teeth." Man'er pressed down on Chen Mengyuan's head. "So stupid, B is still down there." Meanwhile, under her thighs, Chen Mengyuan had the same blank and numb expression as Wang Li and Huang Danni, completely focusing on observing and serving Man'er. Chen Mengyuan, who had always felt superior since childhood, fell apart even more thoroughly than those ordinary girls when she collapsed.</p>

<p>"Tighten your grip!" Man'er commanded, wrapping her legs around Chen Mengyuan's head, her waist wildly swinging back and forth, climaxing in both her mouth and face......</p>

<p>That night, throughout the entire night, Man'er kept climaxing from Chen Mengyuan's mouth, and this once best college friend eventually became her 'B slave.'</p>

<p>After that day, the dormitory officially became Man'er's domain. Wang Li, Huang Danni, and Chen Mengyuan all became her outlets for desire, and she indulged herself in trying everything, challenging everyone's limits.</p>

<p>Every day, these three girls are the tools for Man'er to explore the depths of her desires. They have no student life of their own; their daily life is just Man'er's commands...</p>

<p>"Harder, Chen Mengyuan." Li Man'er lay on the bed, her hips raised, her lower body fully exposed. Her round, curved buttocks looked even more alluring under the midday sun. Chen Mengyuan's face was resting on her butt. "Use your tongue to scratch it. My asshole has been itching lately. Last time during PE class, sitting on the grass made it itchy." ”</p>

<p>Last week during PE class, Man'er felt an itch down there because she was sitting on the grass wearing thin sweatpants. Halfway through class, she couldn't help but drag the three girls to the gymnasium. On the gym stairs, she couldn't wait to take off her sweatpants and stick up her buttocks, letting the girls lick her anus to relieve the itch. If someone had come and seen a girl lying face down with her butt on her back, kneeling behind her taking turns licking her anus, pub, and toes, she might have thought she was imagining things.</p>

<p>From that day on, Man'er kept fantasizing about how itchy it was behind, and then spent all day having those girls lick her anus, switching to another when one couldn't do it, taking turns endlessly.</p>

<p>"Chen Mengyuan, I didn't expect you to lick my asshole at the very least, but your skills are already the best. But your ex-boyfriend is also very skilled—I've climaxed with his mouth several times." Chen Mengyuan had already resigned herself to her fate. Hearing Man'er's words, she sucked even harder into Man'er's asshole to please her.</p>

<p>"I have class this afternoon. I really want you to go and take out my asshole all day." Li Man'er straightened up, her body lying face down, a long stream of saliva sliding down her butt crease. This was probably the amount of saliva the three girls licked this morning. Chen Mengyuan didn't know what Man'er was up to, so she kept licking her anus. "Chen Mengyuan, lie down." Man'er gave the order. Upon hearing the command, Chen Mengyuan quickly lay down on the bed, while Man'er squatted on Chen Mengyuan's face. "Continue." Man'er said lazily, "Huang Danni." Man'er pointed to her own crotch, and Huang Danni immediately understood and moved to give her oral sex. Man'er squatted like that, while the two girls beneath her worked hard to serve her.</p>

<p>"Wang Li, bring me my makeup makeup. I'm getting ready for class." Man'er squatted down, placing the makeup on Huang Danni's back between her legs and putting on makeup. "Keep it up, keep it for me until class. It'd be best if you gave me another orgasm." Man'er arrogantly began shaking her lower body, while the girls beneath her crotch responded mechanically and helplessly......</p>

<p>Time passes quickly, and more than a year has already gone by. Now this dorm room is completely lifeless, as if in a four-person dorm there is actually only one living person.</p>

<p>Man'er no longer regarded those three girls as human beings; they had become extremely numb and even mechanical, their emotional fluctuations becoming less and less. Just now, when Man'er asked them to poop their anuses and eat feces, they still had various reactions, but now they were just tools following Man'er's orders. Man'er lay on the bed eating fruit watching TV dramas. As soon as she spread her legs, they knew Man'er wanted them to lick her pussy. As soon as Man'er sat up, she casually grabbed a girl's hair and pulled it under her crotch. They knew Man'er was about to pee and had already opened her mouth, waiting to be a chamber pot. As long as Man'er raised her butt, even if she didn't want to, they would immediately come over and lick her anus. When Man'er opened the toilet, they had already prepared to be her toilet bowl and her toilet paper.</p>

<p>Actually, Man'er didn't like this. Sometimes, when Man'er saw the expressionless girl beneath her still serving her, she felt quite bored, especially Chen Mengyuan. Originally, when Man'er called her ex-boyfriend over to lick her anus together, she still felt emotional fluctuations, but now, even if the two of them served together, they were just numb tools for pleasure. She somewhat missed the feeling when she forced them a bit; back then, they made her feel even more satisfied.</p>

<p>Man'er turned her head to look at Chen Mengyuan lying behind her licking her anus. He had already become Man'er's dedicated tool for licking her anus, being made to sit on her face to lick her anus every day, and every day Man'er would smear feces all over his face...</p>

<p>"Sigh." Man'er sighed. Originally, having Chen Mengyuan and her boyfriend each take turns was such an enjoyable thing.</p>

<p>"You two kiss while you smell my asshole." Man'er pressed the heads of the man and woman beneath her legs, climaxing. Of course, this was long ago. Even now, even playing like this made her lose interest. Before, their bodies were like two lovers—just smelling her lower body together would excite her. Now, they were like two unrelated service tools, each serving their own. Man'er didn't play with that anymore......</p>

<p>Man'er got up, walked to the balcony, and looked at the girls coming and going below. Maybe she should go find a few more to play with... Man'er thought and smiled.</p>

<p>Man'er, 30, lay on the bed, once again letting the girl beneath her climax from licking her. She got up, lost in thought. Today, she thought of things from many years ago, of some people she could no longer remember.</p>

<p>她来到了她的厕所，厕所里有一个女生跪在那里，她叫陈梦缘，但是她又不叫陈梦缘，因为是蔓儿要这么叫她的，我的专门马桶必须叫陈梦缘，这就像是一个品牌一样的。这是蔓儿的解释。蔓儿靠近她，把屁股蹶了过去，那个原本一动不动的女孩就像是按到了开始开关一样开始舔蔓儿的屁眼，边吸边掏边嗦边舔。蔓儿马上有了便意，“躺下。”蔓儿命令，女孩马上躺下，蔓儿把屁股移到她脸上，女孩两手扳开蔓儿的屁股，开始狂吸屁眼。在女孩的努力下，蔓儿的感觉到了，“呀，吃屎吧，陈梦缘，吃我的屎吧。”</p>

<p>Man'er always liked to shout like this while pooping, unchanged. The only thing that changed was that the Chen Mengyuan under her bottom was already number 65, maybe 66...... After pooping, Man'er called for the toilet paper, and two more girls came over. One licked the feces clean in her anus, and the other was there for fun after the toilet. Once the poop was clean, Man'er pulled the other to shovel it into her anus. Licking the anus after pooping felt best. Man'er enjoyed it while looking at "Chen Mengyuan," whose face was covered in poop, showing a very disgusted expression. Tired of it again, she decided to replace her tomorrow. Man'er patted the girl who licked her anus and said, "Starting tomorrow, you are the new Chen Mengyuan!" ”</p>

<p>However, Man'er wondered, what exactly does Chen Mengyuan look like, and by the way, where did I leave her the last time she helped me with my poop?</p>
