<h1>tigress transformation plan</h1>

<p>Zhang Wei and Chen Man are an enviable young couple in S city.</p>

<p>Zhang Wei is 32 years old and is a freelance photographer. He has an average appearance and a very thin figure, but his shooting skills are quite good. He is quite famous in the photography circle of City S. In addition to customers in this city, there are also many customers from other cities who come here, which shows Zhang Wei's strength.</p>

<p>Chen Man is Zhang Wei's wife. She is 28 years old and an English teacher at S City Center Primary School.</p>

<p>Unlike Zhang Wei, who is unattractive in appearance, Chen Man can definitely be regarded as a beauty in the eyes of most people.</p>

<p>She has fair skin, a height of 168 cm, a round and plump C-cup, and plump buttocks. Coupled with her long legs and slender waist, it is not an exaggeration to call her a beauty.</p>

<p>Their parents were both in business, and their families were very well off. When they got married, they bought a house in a high-end community in the city center and two cars.</p>

<p>Therefore, in the eyes of outsiders, the young couple is very loving and their life is quite comfortable, but for Zhang Wei, this is not the case. He has been a little depressed recently.</p>

<p>At eight o'clock in the evening, a high-end community in the city center.</p>

<p>"Pah, pah, pah, pah, pah, pah..."</p>

<p>"Oh, oh, oh, I don't dare anymore, my wife, please spare me."</p>

<p>In the living room, Chen Man was wearing a nightgown and sitting on the sofa. A naked man, her husband, Zhang Wei, was lying on her white and plump thighs.</p>

<p>Chen Man pressed Zhang Wei's waist with one hand, and kept slapping Zhang Wei's bare butt with the other hand. His plump breasts swayed with his hand, and Zhang Wei's bare butt was already red.</p>

<p>"It's fun to go out and shoot, isn't it?"</p>

<p>"No...it's not..."</p>

<p>"Snap, snap, snap!"</p>

<p>"I still don't admit it, but seeing how little she wears and her posture being so coquettish, she's very sexy, isn't she?"</p>

<p>"Ahhhh! No, really not!"</p>

<p>Zhang Wei was really in trouble. In fact, the matter was very simple. A few days ago, Zhang Wei accepted a shooting assignment. The female client wanted to take photos, so Zhang Wei went without thinking much. After meeting, the female client expressed that she wanted to take sexy photos, and Zhang Wei agreed. After all, the customer is God, and the customer is generous.</p>

<p>The result was that when Zhang Wei was retouching pictures at home, Chen Man saw the photos on his computer. Then Chen Man couldn't help but grab Zhang Wei's ears, push him onto his lap, pull off his pants, and spank him.</p>

<p>To be honest, Zhang Wei really didn't have much idea about that client. After all, Chen Man's face and figure were totally stunning to her. It's a pity that Chen Man didn't want to listen to his explanation at all.</p>

<p>After about a hundred hits, Chen Man stopped.</p>

<p>"Bitch, get up and go poke on the floor."</p>

<p>"Yes, yes."</p>

<p>Zhang Wei climbed down from Chen Man's lap, knelt down on the floor, and raised his butt high in the air while shivering.</p>

<p>Chen Man stood up, picked up a cane, made a gesture on Zhang Wei's red butt, and then whipped it off.</p>

<p>"Crack!"</p>

<p>"Ah! One, thank you, wife."</p>

<p>"Crack!"</p>

<p>"Ah! Two! Thank you, wife."</p>

<p>…</p>

<p>Finally, while Zhang Wei cried for mercy and begged for his mother, fifty lashes of the cane were used.</p>

<p>After finishing the work, Zhang Wei was forced to kneel naked in the corner for two hours and was not allowed to eat dinner. Chen Man went to take a shower and get ready for bed.</p>

<p>Zhang Wei was in the corner, rubbing his red and swollen bare buttocks, thinking a lot.</p>

<p>He and Chen Man first met in the QQ group, a QQ group for SPs in the same city.</p>

<p>Yes, Zhang Wei and Chen Man are both sp lovers. Zhang Wei is quilt, while Chen Man is double.</p>

<p>The two chatted for a few days and then made an appointment to practice. When Zhang Wei saw Chen Man for the first time, his mouth watered. Chen Man was so beautiful. When Zhang Wei lay on Chen Man's lap, he immediately had a physiological reaction. As Chen Man slapped him down, Zhang Wei was so excited that he almost fainted. After only dozens of slaps, Zhang Wei was released.</p>

<p>Since then, the two have established a master-bench relationship, and their personalities are relatively complementary. Zhang Wei is introverted and silent, while Chen Man is outgoing and generous. Both families are wealthy and well matched.</p>

<p>With Zhang Wei's pursuit, the relationship between the two was upgraded to a couple, and they finally got married.</p>

<p>The married life was very happy at the beginning. Zhang Wei was beaten a little every three days and a big one every five days. The two are in harmony.</p>

<p>But as time went by, Zhang Wei found that the situation had changed a bit. Because Chen Man has been in a dominant position for a long time, his personality has changed. He has become more and more unreasonable and his temper has become worse and worse.</p>

<p>Due to Zhang Wei's health, the two of them have never been able to have a child. The elderly on both sides were urging them to have a child, and the pressure on the two of them was increasing.</p>

<p>Under this pressure, Chen Man became more and more violent and beat him harder and harder. Up to now, it can be said that apart from being a beauty in terms of figure and appearance, Chen Man is completely a tigress, a complete tigress.</p>

<p>But Zhang Wei had no choice about all this and did not dare to tell others, so he could only keep it in his heart.</p>

<p>In Zhang Wei's random thoughts, two hours passed quickly. Zhang Wei stood up, rubbed his painful knees, and got up to take a shower.</p>

<p>After taking a bath, Zhang Wei came to the bedroom. Chen Man had already fallen asleep. Looking at his wife's beautiful face and hot figure, Zhang Wei felt a little hot in his lower abdomen, but he did not dare to make any cross-border movements, otherwise he would be beaten again.</p>

<p>Zhang Wei gently went to lie down next to Chen Man. He was thinking wildly and couldn't fall asleep.</p>

<p>So Zhang Wei simply stopped sleeping, got out of bed, went to the study room, turned on the computer, entered a forum, entered the account password skillfully, and started browsing casually.</p>

<p>This is an SP forum with a variety of content, including pictures, novels, videos, technology sharing, help posts, people looking for people in the same city, etc.</p>

<p>Zhang Wei looked at it and suddenly thought that he couldn't tell others these things in real life, but he might be able to tell others online. Anyway, no one knew anyone online.</p>

<p>Zhang Wei accidentally clicked on the help post area and created a new post with the title: "What should I do if there is a beautiful tigress at home? I am asking for help online."</p>

<p>After Zhang Wei wrote the title, he thought that if Chen Man saw this, he would probably suffer another disaster.</p>

<p>Shaking his head with a wry smile, Zhang Wei began to write the text. For about an hour, Zhang Wei described his affairs in detail. For the sake of authenticity, Zhang Wei also attached several photos of Chen Man. Of course, the face was mosaic, and the photos were taken during travel, not daily life photos, so that no information about his life would be leaked.</p>

<p>After doing all this, Zhang Wei took a long breath. At this time, Zhang Wei felt a little relieved. After all, he had been holding it in his heart for so long. This was the first time he said it out. After closing the computer, Zhang Wei came to the bedroom, lay down next to Chen Man, and fell asleep soon.</p>

<p>A night of silence.</p>

<p>The next day Chen Man went to work as usual, and Zhang Wei went to the studio to take pictures and retouch them.</p>

<p>A few days later, that night, Chen Man spanked Zhang Wei hard again for a trivial matter.</p>

<p>While he was being punished by kneeling, Zhang Wei suddenly remembered the post he had made before, and he didn't know if anyone had read it.</p>

<p>After finishing the punishment of kneeling, Zhang Wei went to the bedroom to make sure Chen Man was asleep, then went to the study room to turn on the computer and log in to the forum.</p>

<p>As soon as he came up, Zhang Wei was shocked that his post actually had hundreds of comments.</p>

<p>Zhang Wei quickly clicked on the post and started reading the comments.</p>

<p>"The host is so confused! You hit her too!"</p>

<p>"It's useless. The owner of the building is Bei, how can he beat people?"</p>

<p>"This kind of woman just needs to be spanked hard and she will be fine once she is subdued."</p>

<p>"Yes, yes, my wife was like this before. She was beaten by me a few times and she got better."</p>

<p>Zhang Wei thought, beat Chen Man? I? How could it be possible? He himself was relatively thin, and coupled with Chen Man's aura, he just glared at him and he didn't dare to move. While thinking, Zhang Wei looked down.</p>

<p>"Or have a good talk with her, it might be useful."</p>

<p>Talk? It's not like we haven't talked about it before, but we got another beating in return.</p>

<p>"Master, if it doesn't work, I can do it for you, hahahahahahaha. Introduce your wife to me, and I will grab her breasts with one hand and spank her big fat ass so hard with the other that she will urinate. I am not afraid of her dissatisfaction."</p>

<p>"Don't believe me, the poster. There is an old pervert upstairs. He is on every post."</p>

<p>Let someone spank Chen Man? This…</p>

<p>Zhang Wei suddenly felt a throb in her heart. She knew that Chen Man was a bisexual, and she had practiced with other hosts many years ago, but she was basically not satisfied with it, because Chen Man's personality was a bit cold and arrogant, and he naturally had high standards. It would be too difficult to make her willing to be beaten.</p>

<p>But then again, to put it another way, if there really was such a person, would I mind if Chen Man was spanked by others?</p>

<p>Probably not. To be honest, although I have no interest in beating people, it would be quite exciting if Chen Man could be beaten severely. I wonder if she would struggle and beg for mercy like me?</p>

<p>Thinking of this, Zhang Wei actually felt like he stood up a little.</p>

<p>After reading for a while, there were only a few replies, nothing interesting. Zhang Wei was about to close the computer and go back to sleep.</p>

<p>At this moment, Didi's prompt sounded, and someone commented again.</p>

<p>Zhang Wei clicked on the message. It is a person named Mr. K.</p>

<p>"Any woman, or anyone, can change and conquer. If you can't do it, it's because your method is wrong. I have a doctorate in psychology and have been in the industry for many years. I have rich experience in disciplining, punishing, and reforming young wives, and I live in City S. If you are interested, please contact me."</p>

<p>Zhang Wei looked at this comment and was speechless for a long time. He was having a fierce ideological struggle in his heart.</p>

<p>Mr. K, the master of the forum, is also one of the founders of the forum. Zhang Wei is very experienced and has no doubts about the authenticity of what Mr. K said.</p>

<p>But can Chen Man really be conquered by change?</p>

<p>Looking at the contact information left by Mr. K, Zhang Wei gritted his teeth and sent a friend application.</p>

<p>In the next few days, Zhang Weilu chatted a lot with Mr. K one after another. Mr. K told him that most women are strong-willed at heart. When you are much better than her in a certain aspect, even to the point of crushing her, then she will naturally obey you, regardless of economic level, social status, or even physical strength.</p>

<p>Chen Man is like this now entirely because he despises Zhang Wei in his heart. Zhang Wei thinks it makes sense, because no matter what, he seems to be inferior to Chen Man. The only thing better than Chen Man is that the photographer earns more money, but both of them have wealthy families, so this is basically useless.</p>

<p>But on this day, the two finally talked about the key point.</p>

<p>Zhang Wei: But I can’t change my wife now.</p>

<p>K: There is a way, but it requires some effort on your part.</p>

<p>Zhang Wei: What solution?</p>

<p>k: Change your mental outlook and temperament. I have seen your photos. To put it bluntly, they are too timid. Men should stand upright, not hunched over with messy hair. In short, change your image, go to the gym, and take your physical strength to a higher level.</p>

<p>Zhang Wei: Is this enough?</p>

<p>K: Of course not. Your wife hasn’t been spanked for a long time, so even if you change, you won’t be able to conquer her for a while.</p>

<p>Zhang Wei: What should we do?</p>

<p>k: If you can trust me, give me your wife’s contact information and I will make some preparations in advance. What I want to ask you is, can you accept your wife being spanked by another man?</p>

<p>Zhang Wei: If it doesn’t involve anything else and it’s just spanking, it should be fine.</p>

<p>In this way, Zhang Wei gave Chen Man's contact information to Mr. K.</p>

<p>After that, Zhang Wei started to exercise. The effect was not obvious at first, and Chen Man didn't notice at all.</p>

<p>Mr. K occasionally sent Zhang Wei some screenshots of his chat with Chen Man. Zhang Wei found that Mr. K was very serious when chatting with Chen Man. In short, he was very aura. Mr. K also seemed to have an educational background. Chen Man would also ask Mr. K about some teaching issues. It can be seen that Chen Man respected him. It's just that the two of them never mentioned the practical matter.</p>

<p>About a month later, Chen Man seemed a little irritable that night. Zhang Wei asked and found out that Chen Man's school had a new principal who was sent by the school board.</p>

<p>As soon as the principal came, he implemented reforms. Teachers began to have teaching tasks, which was to achieve a certain score rate every month. If they failed to achieve it, they would be punished. But Chen Man failed.</p>

<p>Zhang Wei: Punishment? What punishment?</p>

<p>Chen Man: I’ll deduct the bonus. I’m so annoyed. I can’t buy the bag I was interested in before. Forget it, sleep.</p>

<p>On the night of the next Monday, Zhang Wei received a call from Chen Man on his way home, saying that there was a meeting after school and there was no need to wait for her for dinner.</p>

<p>Zhang Wei didn't think much about it, this happened before.</p>

<p>After having dinner alone, Zhang Wei was editing pictures in front of the computer.</p>

<p>Suddenly, the door opened, and Chen Man came back wearing a white shirt, a black hip skirt and black stockings. Zhang Wei hurriedly greeted him.</p>

<p>"Zhang Wei, help me take off my shoes. I'm too tired today and don't want to bend down."</p>

<p>Zhang Wei nodded, squatted down and helped Chen Man take off her high heels. I was still a little happy in my heart. Usually Chen Man would sit on the chair and change his shoes by himself, ignoring him. This time I actually asked him to help me change my shoes.</p>

<p>Zhang Wei: My dear wife, what did you say in the meeting today?</p>

<p>Chen Man: It’s nothing. Even if there is something, it has nothing to do with you.</p>

<p>With that said, he went straight into the house and started changing clothes as soon as the door was closed.</p>

<p>Zhang Wei asked for trouble and returned to the study to continue working.</p>

<p>After a while, the phone rang. Zhang Wei picked it up and saw that it was a message from Mr. K.</p>

<p>"The first step was successful."</p>

<p>Then, Zhang Wei received an email in his mailbox, which contained a compressed package.</p>

<p>After opening, it is a video file.</p>

<p>Zhang Wei's breathing was a little rapid, and he had a hunch that it had something to do with his wife.</p>

<p>I went to the bedroom to make sure that Chen Man was already asleep. Zhang Wei returned to the study, put on his headphones, and turned on the video.</p>

<p>The video shows an office, with a man in his forties sitting behind a large desk. He looks very strong, has a Chinese character face, and is very dignified. The name tag on the table reads two words: Kang Jie.</p>

<p>At this time, there was a knock on the door.</p>

<p>"Come in."</p>

<p>A woman pushed open the door and entered.</p>

<p>"Principal, are you looking for me?"</p>

<p>Zhang Wei was stunned. It's Chen Man.</p>

<p>Chen Man walked to the desk.</p>

<p>Kang Jie: Teacher Chen, you failed this assessment. Teachers who fail will be punished, you know?</p>

<p>Chen Man lowered his head. There is no sign of him showing off his power at home.</p>

<p>"I know, the penalty is to deduct the bonus for the month."</p>

<p>Kang Jie: That’s right, but that’s a punishment for other teachers, not for you.</p>

<p>Chen Man was stunned for a moment</p>

<p>"Then...what is that?"</p>

<p>Kang Jie: Your family is rich, so the bonus is nothing to you, and since you are in a special situation, I decided to change your punishment to corporal punishment.</p>

<p>Chen Man: Corporal punishment? What's so special about my situation?</p>

<p>Kang Jie glanced at her and said slowly</p>

<p>"Xiao Chen doesn't eat ginger."</p>

<p>Chen Man was completely stunned because this was her online name in the SP circle.</p>

<p>Chen Man: Kang...k..., are you Mr. K? !</p>

<p>Kangjie nodded.</p>

<p>Chen Man: But, but...</p>

<p>"No but"</p>

<p>Kang Jie stood up, walked quickly to Chen Man, took her arm and dragged her to the sofa nearby. Kang Jie sat down, and then pressed Chen Man on his lap. What followed was a series of slaps.</p>

<p>Bang bang bang bang bang!</p>

<p>"Ouch, it hurts so much, please stop beating."</p>

<p>Kang Jie's big slap was very powerful, and Chen Man's body trembled with each slap.</p>

<p>And Chen Man was pinned down by Kang Jie, leaving no room for struggle.</p>

<p>After more than fifty spanks, Kang Jie suddenly lifted up Chen Man's hip-hugging skirt, and then pulled the black stockings and panties down to her knees, exposing her plump bare butt.</p>

<p>Chen Man was shocked</p>

<p>"You can't spank my bare ass! I'm married!"</p>

<p>Kang Jie was unmoved. He picked up the ruler and drew it down.</p>

<p>"Why can't they be spanked? Shouldn't teachers who don't teach well and mislead their children be spanked hard?"</p>

<p>Bang bang bang bang bang!</p>

<p>"Or are you going to tell your husband that because you fished in class, the principal spanked you like a little girl? Huh?"</p>

<p>"Ahhhhhhh! I was wrong. I didn't dare to go to class."</p>

<p>As Kang Jie spanked, Chen Man's butt gradually became red and swollen.</p>

<p>Zhang Wei was in front of the computer, watching his wife's ass being whipped back and forth by the ruler, making it even harder.</p>

<p>This time it took a full hundred blows before Kang Jie stopped. Chen Man's buttocks were already red and swollen.</p>

<p>"Take off the lower half of your body, then stand up, spread your legs, bend over and grab your ankles."</p>

<p>Chen Man was very obedient now and obeyed while choking. Zhang Wei could vaguely see something crystal clear between Chen Man's legs. He didn't know when.</p>

<p>Kang Jie took out a cane and walked behind Chen Man.</p>

<p>"Last twenty strokes, count down"</p>

<p>Snap!</p>

<p>"One!"</p>

<p>Snap!</p>

<p>"two"</p>

<p>…</p>

<p>After twenty spankings, Chen Man could no longer hold on and fell to his knees, rubbing his big ass with both hands.</p>

<p>The video ends here.</p>

<p>Zhang Wei suddenly realized that no wonder Chen Man didn't sit down when he changed his shoes just now. It turned out that he couldn't sit down.</p>

<p>Zhang Wei tiptoed to the bedroom. Seeing that Chen Man was sleeping soundly, he carefully lifted up Chen Man's nightgown. Sure enough, under the nightgown was a colorful big butt.</p>

<p>Zhang Wei couldn't bear it anymore and ran to the bathroom to release it.</p>

<p>In the next two months, Zhang Wei received several more videos from Kang Jie. The content is almost the same, except that Chen Man was spanked naked by Kang Jie in the office. It's just that the scale is getting bigger and bigger, until the last video, when Chen Man was spanked, he was completely naked. The plump breasts and round ass are all visible. When he was beaten in pain, Chen Man would even call Kang Jie daddy.</p>

<p>On this day, Zhang Wei received news from Kang Jie.</p>

<p>Kang Jie: Now Chen Man has listened to me very much, so let’s move to the second step to let her regain respect for you.</p>

<p>Zhang Wei: What are the plans?</p>

<p>Kang Jie: I will go to your house for dinner. When the time comes, just pretend to be drunk.</p>

<p>Zhang Wei: OK.</p>

<p>This day came soon.</p>

<p>On Friday, Chen Man told Zhang Wei that if guests came to the house for dinner tonight, Zhang Wei would know that Kang Jie was coming.</p>

<p>Sure enough, Kang Jie came to Zhang Wei's house that night.</p>

<p>"This is my husband, Zhang Wei."</p>

<p>"This is our principal, Mr. Kang Jie. He takes good care of me at school."</p>

<p>Zhang Wei and Kang Jie shook hands, thinking</p>

<p>"Taking care of you? Taking care of your big ass, right?"</p>

<p>After three rounds of wine, five flavors of food. According to the plan, Zhang Wei began to pretend to be drunk. He first went to the bathroom and made vomiting sounds by pressing his throat, then stumbled back to the room and pretended to have fallen asleep.</p>

<p>At this time, Chen Man and Kang Jie were the only two people left in the living room.</p>

<p>Kang Jie: Take care of your husband quickly.</p>

<p>Chen Man: Why do you care? You deserve it if you act like that when you drink.</p>

<p>Kang Jie: Xiaoman, this is not what a wife should say.</p>

<p>Chen Man didn’t take it seriously: It’s okay, just ignore him and drink.”</p>

<p>Kang Jie: I not only hope you will become a good teacher, but also a good wife.</p>

<p>With that said, Kang Jie pulled Chen Man up from the chair, pressed her on the table, lifted up her nightgown, and exposed her big white buttocks. Chen Man wasn't even wearing underwear!</p>

<p>Kang Jie: As a wife, she doesn’t even wear underwear when guests come over!</p>

<p>With that said, he picked up the rice shovel on the table and spanked Chen Man's butt hard.</p>

<p>“Ahhh! I don’t dare anymore, I was wrong, my daughter was wrong! "</p>

<p>"What's wrong! "</p>

<p>“You shouldn’t ignore your husband! Ouch! Shouldn't wear underwear! "</p>

<p>"Pah, pah, pah, pah"</p>

<p>"My daughter has really realized her mistake. Dad, please spare her! I don’t dare to seduce my father for a spanking without wearing underwear! "</p>

<p>In the scene at this time, a beautiful young woman was lying in front of the dining table with her bare butt raised in the air, being spanked hard with a spatula by a strong middle-aged man behind her.</p>

<p>And all of this was captured by Zhang Wei. The angle chosen by Kang Jie was very clever. Chen Man's bare butt was facing the direction of the bedroom. Zhang Wei could clearly see the red and swollen butt, the long white legs, and even the gradually moist ravines on the two buttocks from being hit continuously.</p>

<p>After about two hundred spanks, Chen Man's butt was completely swollen and even turned purple in some places.</p>

<p>Kang Jie put down his rice shovel</p>

<p>“Go, help your husband undress and get settled for bed. "</p>

<p>Chen Man quickly pulled down his nightgown, limped to Zhang Wei's bedside, helped him take off his clothes and socks, and covered him with the quilt.</p>

<p>During this period, Zhang Wei pretended to be dreaming, grabbing around randomly with his hands, and actually caught Chen Man's buttocks. Zhang Wei felt that Chen Man's entire butt was hot, and there were hard lumps in some places. Chen Man gasped in pain. But I don’t dare to make mistakes.</p>

<p>After doing all this, Kang Jie left.</p>

<p>Since that day, Chen Man did have some changes, and his attitude towards Zhang Wei gradually became better.</p>

<p>Zhang Wei is still sticking to his fitness plan.</p>

<p>At the same time, Zhang Wei would still receive videos of Chen Man being physically punished from time to time.</p>

<p>In a blink of an eye, it's the end of the term.</p>

<p>After the final exam, Chen Man told Zhang Wei that she would go to a remote rural primary school to teach for a month this holiday. Zhang Wei knew immediately that this must be Kang Jie's idea.</p>

<p>Sure enough, Kang Jie told Zhang Wei that now the last step can be taken, which can be regarded as a sublimation of Chen Man's career as a teacher.</p>

<p>He planned to take her to teach for a month, allowing Chen Man to see with her own eyes the lack of education in the countryside, so that she could realize the true meaning of education.</p>

<p>So on the first day of the holiday, Chen Man packed up his luggage and set off. After arriving, Chen Man found that this was indeed a very backward village, and even the so-called schools were just a few shabby houses. There are no teachers or principals. The conditions are very difficult. There are only four students, all in first grade, two boys and two girls.</p>

<p>During this month, Zhang Wei received videos of Kang Jie corporally punishing Chen Man almost every two or three days.</p>

<p>For example, because he disliked the rural environment and wanted to go back, Kang Jie hung his naked hands on the rafters and spanked his buttocks hard with a belt until his buttocks were all over the purlin and he was crying with snot and tears before he put it down.</p>

<p>Or, because the primary school students in the village have poor foundations, slow reaction times, and cannot learn knowledge points, they yell impatiently and are aggressive towards the students. As a result, Kang Jie took off his pants in front of four primary school students in the classroom, knelt on the podium, raised his buttocks to face the students, and spanked her hard with a sweeping broom. After the spanking, he had to continue the class with his lower body naked and his red and swollen buttocks exposed. But those students were all good kids and had been begging Chen Man for mercy.</p>

<p>Another time, due to poor diet, Chen Man was greedy and stole a chicken from the house of an old woman who was paralyzed in bed. Fortunately, Kang Jie found out and took Chen Man to apologize to the old woman and return the chicken. Then Kang Jie went directly to the yard of his wife's husband's house and beat Chen Man hard on the hands and feet (Chen Man was running very fast at the time) until Chen Man's delicate hands and white soles were swollen. Finally, Chen Man's hands and feet were tied together, like a roasted suckling pig, and he was hung on the crossbar of the chicken shack. He used the horse whip borrowed from the village chief's house to give him a firm spank. After the spanking, Chen Man's voice became hoarse from crying, and there was no good spot on his butt, which made the old woman feel very distressed.</p>

<p>"Ahem, young man, don't hit that child, it's not a big sin. "</p>

<p>Finally, Kang Jie made Chen Man naked, with her red and swollen butt exposed, and limp to help feed the chickens and do farm work in the yard of the old woman's house. We didn't go back until dark.</p>

<p>A month passed quickly and it was time to leave. The four primary school students couldn't bear to leave Chen Man, this beautiful big sister, and Chen Man's eyes were wet.</p>

<p>After the last class, Chen Man and Kang Jie took their four children to the sports room. It was said to be a sports room, but in fact it was a broken house where skipping ropes and footballs were stored. A big lock was hung on the door.</p>

<p>After a few people entered, they locked the door. Chen Man glanced at Kang Jie, who nodded.</p>

<p>Chen Man knelt down, called the four children to his side, and held them in his arms. The children have long been reduced to tears.</p>

<p>Chen Man said sincerely</p>

<p>"Children, during the month I spent with you, the teacher truly understood the importance of education. After the teacher leaves, you must study hard on your own according to the teaching materials the teacher left for you. In the future, you can get into a good university, learn your skills, and then come back to build your own hometown. OK? "</p>

<p>Several children nodded desperately.</p>

<p>Chen Man smiled and said</p>

<p>"Teacher, I have one more thing to ask you. I hope you can leave a deep impression on the teacher, so that the teacher will always remember that education should be child-oriented. In the past, the teacher taught you the lesson, now you should also teach the teacher a lesson. "</p>

<p>a girl asked</p>

<p>“How do we teach teachers? "</p>

<p>Chen Man: Hmm... Teachers usually do something wrong. How does Principal Kang (who became the acting principal of the village after he came) educate the teachers?</p>

<p>A boy answered</p>

<p>"Spank!"</p>

<p>Chen Man smiled and said,</p>

<p>"Yes, it's a spanking, so the teacher also hopes that the four of you can give the teacher a good spanking in the end, so that the teacher will always remember his responsibilities."</p>

<p>The four children looked at each other and nodded.</p>

<p>At this time, another boy asked innocently</p>

<p>"But teacher, your butt is so big and our hands are so small, how can we spank you??</p>

<p>Hearing this, Chen Man blushed. Take out the prepared boards and whips.</p>

<p>"use these"</p>

<p>After saying that, Chen Man stood up, blushed and took off all his clothes, while Kang Jie moved a wooden bench.</p>

<p>Chen Man lay naked on it. Under Kang Jie's command, one of the two girls was in front, holding down Chen Man's hands, and the other was behind, holding down Chen Man's feet. Two boys stood on either side of Chen Man.</p>

<p>Following Kang Jie's order, the two boys picked up the boards and slapped Chen Man's buttocks, and a crackling sound filled the cabin.</p>

<p>This scene is very similar to the ancient court beating, except that the executioners have become four children.</p>

<p>After a hundred spankings, the spanks were changed. Two boys held Chen Man down, and two girls were spanked.</p>

<p>The girl was not as strong as the boy, but after all she had been beaten a hundred times, Chen Man still moaned softly.</p>

<p>After another hundred spankings, Chen Man's buttocks became swollen. Kang Jie directed several people to change positions.</p>

<p>This time, Chen Man was lying on his back on the bench, with his hands pressed behind his head by a child. The other two children each held one of Chen Man's thighs and spread them widely apart. The last child took a whip and whipped the lower buttocks that could not be hit just now.</p>

<p>This position was much more painful than before, and Chen Man couldn't help but start crying loudly. Several children couldn't bear to be beaten anymore, but Chen Man comforted them.</p>

<p>"It's okay, teacher, hold on, you all have to fight hard to impress the teacher. "</p>

<p>So the children began to spank Chen Man's butt again. At the end of the day, the child's hand was a little unsteady and the whip accidentally hit the area between Chen Man's legs.</p>

<p>Originally, Chen Man was very ashamed and her body was very sensitive because she was spanked by four primary school students. At this stimulation, I actually lost control. It also startled the child.</p>

<p>Finally, it's over. At Kang Jie's suggestion, Chen Man took a photo with the four children. Of course, Chen Man had his back to the camera, kneeling on the ground, showing off his big buttocks that were already red, swollen and purple. At this point, the closed loop of Chen Man’s teacher ethics construction has been completed.</p>

<p>And this photo is on Zhang Wei's mobile phone at this time.</p>

<p>Today is the day when Chen Man goes home. During this month, in addition to watching videos every day, Zhang Wei has been working out almost all the time, and has achieved results, and his muscles have grown. He even cut his long, sloppy hair into a round, tough-looking hair. Now Zhang Wei can be said to have a completely new look, exuding confidence from the inside out.</p>

<p>The most important thing is that after watching so many videos of Chen Man, Zhang Wei now wants to hit someone, very much. It can be said that after these few months, he is no longer a babe.</p>

<p>The door opened and Chen Man walked in dragging his luggage. Zhang Wei stepped forward and gave Chen Man a big hug.</p>

<p>Chen Man was stunned for a moment, Zhang Wei looked completely different now than before.</p>

<p>When Chen Man was stunned, Zhang Wei asked</p>

<p>"How's the support teaching going? "</p>

<p>When Chen Man faced Zhang Wei's inquiry, she hesitated a little. She actually felt a slight sense of oppression.</p>

<p>"It's... quite good. "</p>

<p>“Well, is your butt okay? "</p>

<p>Zhang Wei said and brought the phone to Chen Man.</p>

<p>Chen Man was completely stunned.</p>

<p>"No, this is not true, please listen to my explanation. "</p>

<p>“Let it be explained! "</p>

<p>After saying that, Zhang Wei pushed Chen Man to his knees and forced him to raise his buttocks. He suddenly took off his pants, revealing a spanked butt covered with unhealed scars. Zhang Wei raised his hand and hit him hard.</p>

<p>“Ahhh! Don't fight, don't fight, I know it was wrong, I shouldn't have hidden it from you, I shouldn't have treated you like that before. "</p>

<p>“Don’t you dare anymore! "</p>

<p>“I don’t dare, I don’t dare anymore! "</p>

<p>“What do you call when you’re being beaten? "</p>

<p>"Old...husband? "</p>

<p>Snap, snap, snap, snap, snap, snap!</p>

<p>"Ah! dad! Call daddy! Spare me”</p>

<p>Zhang Wei looked at the naked little wife in front of him. A wave of desire rushed straight to his forehead, and he immediately picked up Chen Man and walked to the bedroom...</p>

<p>Everything got better from then on, and the two even succeeded in having a child. The elderly on both sides were very happy and rushed to take care of the child. This makes Zhang Wei and Chen Man very relaxed.</p>

<p>Now the sound of spanking and begging for mercy can still be heard in their house.</p>

<p>It’s just that the protagonist was replaced by Chen Man~</p>

<p>(Full text ends)</p>
