<h1>Li Qiang</h1>

<p>In an ordinary 8-person dormitory, Li Qiang was my lower bunk. Perhaps because of our fellow villagers, we got to know each other very quickly. It can be said that Li Qiang was my only friend during the four years of college. Although our subsequent relationship was a bit strange, I still regarded him as a friend in my heart. Li Qiang is very nice to me, okay...well...outrageous, haha, because I can't do laundry. He even washed my clothes for me, including my socks and underwear. When I first entered college, I was really grateful to him. A taciturn ordinary person like me could actually make such good friends (Li Qiang's family background is very good).</p>

<p>One morning, I opened my eyes and found that Li Qiang and I were the only two people left in the dormitory. We were the fastest to fall into college, and of course we could also be said to be the hardest to adapt, haha. I took out the socks that had been worn for a day from under the mattress. They were a little hard, so I threw them on the lower bunk. It turned out that the socks were worn for two days. Ever since I got used to Li Qiang's service (really serving, like a servant, and always smiling), I gradually changed them to once a day.</p>

<p>After getting out of bed, I smiled until my sock happened to be thrown in Li Qiang's face. I raised my foot and pinched the sock with my toes, reminding him by the way. "Xiaoqiang, you're still asleep, lazy pig, get up quickly and help me get off."</p>

<p>"Oh, what are you doing?" "Get the clothes." He took out the clothes while riding on Li Qiang's neck, and threw a pair of clean socks to Li Qiang. Li Qiang allowed me to help me put on my socks while riding him, which was very interesting.</p>

<p>Oh, by the way, I forgot to mention that my cabinet is at the top and I usually have to step on a stool. Once, after the stool in our dormitory was borrowed by a friend from the dormitory next door to play mahjong, I started using Li Qiang’s human chair.</p>

<p>Oops, a nail was stuck in my foot. Pulling out the nail embedded in the sole, Li Qiang helped me back to the dormitory. I don’t like physical education class, but I have to take roll call every time. I really can’t escape. This time I have a reason, so of course I hurry back...</p>

<p>On the way, I felt like nothing was wrong, so I took off my shoes and socks, and sure enough, there was only a small hole.</p>

<p>At that time, I was holding my hands behind my back, and my right foot was being lifted by Li Qiang who was squatting in front of the bed. "Go get a tetanus shot."</p>

<p>"No, it's okay, there's no bleeding."</p>

<p>"It seems like the skin is broken. Why don't you find some alcohol to disinfect it." "Where did you get the alcohol? Just use spit to disinfect it, give it a lick~" "Oh." A simple word "oh", and then he really stretched out his tongue and licked the sole of my foot. I was stunned for a moment, surprised, embarrassed, and a little excited.</p>

<p>We didn't speak. I don't know what Li Qiang was thinking. I really didn't know what to say. Quietly, as if I was possessed by someone, I said something that surprised even me, "Disinfect my feet completely." Maybe this is the so-called subconscious mind. The warm tongue was roaming around my feet, and my vagina was so hard that the bell woke us up.</p>

<p>In the next few days, I was a little embarrassed and uncomfortable, but Li Qiang seemed to have forgotten what happened that day. Slowly, we naturally got tired of being together every day.</p>

<p>"Hey, boss, hurry up and come to school. It's boring to stay at home. I rented a house outside. Let's live with me. We each have a house. It's so cool."... The New Year had just ended and there was only one week left before school started. Li Qiang went to school by himself. He originally asked me to go with him, but I still prefer to stay at home. …</p>

<p>Li Qiang doesn't seem to like staying at home, maybe because his parents are always busy with business and rarely take care of him... "Well, this house is nice, and it's close to the school." When there were only three days left before school, I couldn't help Li Qiang's phone harassment, so I came to the school early.</p>

<p>Over the next three days, our relationship took an unexpected and huge turn. ..."I love bathing, Ula Ula..." Being able to take a hot bath at any time is too tempting for me...Toothbrush, um, there is... in the bag (there are a lot of things in the bag, I don't want Li Qiang to mess it up)...This is...! ! ! Kneel on the ground, hold it there with your left hand, hold my sock in your right hand and cover your face. ! ! !</p>

<p>Li Qiang, kneeling on the ground, took me into a wonderful world... SM, a term I had never heard of before, was embedded in my body until today... sitting in front of the computer, browsing, whipping, adding feet, tying up, walking the dog, and... drinking urine! ! ! Stimulating my nerves, it also stimulated my body. Li Qiang knelt in front of me and licked my feet with some piety... so hard, so held back, and wanted to be released... Suddenly, there was a burst of warmth, and his dexterous tongue took me to heaven...</p>

<p>This was the most satisfying release since I maintained a super-friendly relationship with my left hand... Although I was still a virgin in some respects, I released at least 10 times in that warm mouth in the past three days... School started, and I asked Li Qiang to live back in the dormitory. The high-intensity release in the past few days made me feel uneasy after being empty... I don't know how far I will go on this perverted road. I'm sorry, it was really difficult for me to accept at the time... I feel like I... I don't know...</p>

<p>I stayed alone quietly for a few days. Slowly, I seemed to have figured it out, or maybe I hadn't figured it out... I no longer objected to putting it in a man's mouth. When desire came, I even wanted to call Li Qiang...</p>

<p>The scenes of those three days rolled over in my mind again and again... The panicked Li Qiang and me, who were dumbfounded, stared at each other for 10 seconds... "Boss, I..."... "What's going on?"</p>

<p>..."Boss, please don't tell others, I...I am an M."...</p>

<p>"What does M mean?"</p>

<p>..."It's sadomasochism. I like to be abused and humiliated. I don't know why, but I just like it. Boss, I want to be your slave. I can do whatever you ask me to do." ..."No way, how could such a person exist?"</p>

<p>..."Actually, there are a lot of people like this, but they can't be seen at ordinary times. There are SM forums on the Internet. If you don't believe me, take a look."...</p>

<p>I sat on the chair and browsed this strange world. I looked down at Li Qiang who was kneeling at his feet. He looked at me cautiously, like an injured puppy... "Lick my feet."... I couldn't bear it... His happy expression stimulated me again. Does he really like it? It's incredible... there is some princess on the computer training a couple slave, a man and a woman, naked, kneeling in front of the woman, licking her with relish... It's so exciting... I'm hard...</p>

<p>Li Qiang noticed my change and stretched out his tongue to lick my hardness. I looked at him without saying anything. He got some kind of encouragement and slowly sucked it in... The stimulation of desire was so strong... From the current perspective, Li Qiang's technique is very rough, but I still happily released my first time in a sense... After releasing, I felt empty and scared, regretful, and didn't know what to do...</p>

<p>After a while, the desire came, and I couldn't help but watch the training videos on Li Qiang's computer, and I couldn't help but call Li Qiang to enjoy his service... In 3 days, stimulated by desire, we tried, licking feet, oral sex, anal rimming, walking the dog, riding horses... Li Qiang asked me to pee in his mouth, I tried twice, but it was hard and couldn't pee, so forget it, and I also felt a little disgusting...</p>

<p>Maybe it’s the influence of this video about training couple slaves. My favorite is to let the female slave lift her feet and use her breasts to massage the owner’s soles... This is also my favorite way to use female slaves in the future... To put it simply, we have a master-slave relationship at home, but it has never been very in-depth. Gradually, it feels less exciting... In about a year and a half, I also met a few male partners online and met a few in person, but none of them lasted long... (It's not that I didn't want to find a female partner, I couldn't find one, haha)... It wasn't until the summer vacation of my sophomore year that I dated the first female partner, and the only female partner in so long...</p>

<h1>Lin Qian</h1>

<p>In order to meet her, I returned to Baoding alone. We met at the gate of Baoding. She was also a student, one level below me, and she was from the English Department of H University, which is said to be very beautiful... She looked good, um... she had a good figure, 1.65cm tall, 98 pounds, and a C+ bust... We walked around and chatted casually like netizens meeting. It was obvious that she was very nervous. This was her first time meeting netizens, and it was also her first time meeting SM fans...</p>

<p>In fact, I was quite nervous. I didn’t seem to have any domineering attitude. I couldn’t understand why she wanted to surrender as soon as she saw me. I still don’t understand it to this day. I guess such S temperament will never appear in me in this life... Of course I won’t talk about SM content on the street. As I said before, I am not good at words, so the chat between us was dry... The SM shop on Yuhua Road that I really wanted to go into, but never had the courage to enter. If it hadn't appeared, we might have chatted for a while and then said goodbye... When she saw this small shop, she was startled and said, "Let's go to your place."</p>

<p>When I entered the room, I really wanted to start... but I didn't know how to start, haha... She seemed to be more stupid than me, sitting there, asking and answering... "How did you fall in love with SM?"...</p>

<p>"I don't know. I liked to fantasize when I was very young. I was lying on the ground, and the handsome boy stepped on my face... He rode me, whipped me with a whip, and told me to crawl... He tied me with a rope and thought I was a dog, wandering around the house..." - "What do you think of me being your master?" (This sentence is so weak, haha) - "Okay."</p>

<p>——"Well, come and kneel down for me."</p>

<p>She knelt down a little hesitantly and tangled, and her face and neck were extremely red when she knelt down. ——"Huh..."...I let go of what I had been holding on to... She knelt down, I felt natural and had no confidence...</p>

<p>"Master...Master." - I said these two words with great effort... I didn't say anything, just looked at her, she looked up at me, and lowered her head as soon as she made eye contact with me... "Look up, look at me." - I looked at her very gently, she looked at my face, but did not make eye contact with me...</p>

<p>Slowly, she knelt and straightened her body... "Have you thought about it? It's easy to kneel down, but it's hard to stand up again. Are you sure you want to be my dog?" - "Yes, I want to be your dog. Please accept me, master. I will always be your meanest bitch." As she said that, she kowtowed her head and her body seemed to be shaking a little. Her red neck and red ears were very cute. ——"Take off your clothes."</p>

<p>He took off his clothes very quickly, as if he was risking his life. It was the first time I saw a woman's clear naked body. My breathing quickened. I suppressed the urge to grab the horse and stretched out a foot to her. Take off your shoes and socks and lick your tongue gently, like a kitten. My other foot rubbed her plush softness, it was very wet... I licked both feet all over, it felt so good, then I stepped on her breasts and played with them between my toes, which made her breathing even faster.</p>

<p>"Press my feet, use the bitch's filthy breasts."... She knelt in front of me, held my feet, pressed her breasts against the soles of my feet, and held my feet in circles... In fact, she was stepping on a ball of soft flesh, but the spiritual enjoyment was beyond words. Words to express... Her breathing became faster and faster, and my lower body became harder and harder. She rubbed it faster and faster, breathing desperately as if she was about to suffocate, accompanied by uncontrollable moans. Suddenly, her whole body trembled, she lay down, her legs were twisted tightly, and she cried...</p>

<p>When her excitement subsided, I ordered her to hold my hard cock in her mouth, and released it happily in her mouth... "Don't swallow it, open your mouth and show me." The small red mouth, white... a very erosive scene...</p>

<p>…I spit some spit in it. "You've done well, eat what's been given to you." - Swallow... Pa, I slapped her, "Why don't you know how to thank the master for the reward!" - "Slave, thank you for the reward, master, please punish the slave." - "The dog has a sock in its mouth, kneels straight, and is not allowed to move."</p>

<p>I took a toothbrush and brushed her nipples. She couldn't help but move, and whenever she did I would slap her in the face and on the butt. ——After playing for a while, I felt it again and wanted to have a real first time. In fact, I was still a little hesitant at the time. According to herself, this little bitch was still a virgin. But the villain in my heart can always defeat the kind villain...</p>

<p>The insertion process was simply a shame. It took ten minutes, but I couldn't get in. I was so anxious that I was sweating profusely. I was depressed. Why does this require technical skills? Originally, I was quite considerate of the little bitch for the first time, thinking I could make her feel better. But then I became anxious and didn’t care about anything else. I just inserted it in. The little bitch seemed to be in terrible pain, but it was fine if I really inserted it. I screamed, um...it tasted really good...</p>

<p>I made her lie down like a dog, spanking her ass and fucking her at the same time... "Why are you here." - "Bitches are here to serve their masters." - "Why do you live?" - "Bitches are born to make their masters happy, and the master's happiness is the bitch's happiness." - "Don't you think you are cheap?"</p>

<p>——"Well, the bitch is bitch and slutty, but the bitch is just the owner's slut. Please fuck the bitch to death. The lower bitch mouth and the upper bitch mouth have been reserved for the owner for 20 years. Please fuck them all. The bitch's dirty mouth, mean pussy, and mean asshole are all waiting for the master's visit."</p>

<p>I released it in the bitch's mouth. After that, every time I was with the bitch, every drop of my essence entered the bitch's mouth. I was afraid that she would get pregnant. ——During the entire holiday, Lin Qian never wore clothes in the house, never stood up, and lived like a dog... My summer life was to play with her and fuck her... But Lin Qian was obviously much more servile than Li Qiang. It should be said that under her guidance, we played more in-depth, holy water, and cleaned the unwiped asshole, but I had never been tied up, and I had never played with various professional equipment.</p>

<p>My SM is more spiritual, and I have never done any training to make the slave happy. In my case, the slave only exists to satisfy my desires. To put it simply, I can play with whatever I like... Maybe I am not a real S... After wandering around the compound for a while, I found that people like me, who do not tie up, do not whip, and do not have professional SM training tools, are simply embarrassed to say that I am an S... haha</p>

<p>In the year after that, I got two dogs... The way we get along is this: Li Qiang is my life slave. For example, I often ride him around at home, and he is responsible for cleaning the house, doing laundry, doing housework, and licking and massaging his feet. Later, another item was added, a urinal. Gradually, I got used to peeing in his mouth. At night, he would fall asleep on the floor next to my bed. I was always too lazy to get up to pee in the early morning, so I kicked him awake. He held mine in his mouth and I peed in his mouth...</p>

<p>Lin Qian is my sex slave. When I have desire, I call her to release her. Because she is embarrassed to face strangers, so every time I play with Lin Qian, I will let Li Qiang stay in the hut. If I want Lin Qian to spend the night at my place, I will ask Li Qiang to go back to the dormitory.</p>

<p>My life like this will be envied by many people in the compound, haha... I have maintained this kind of life for nearly a year... Suddenly, her appearance broke my seemingly peaceful life... "Lin Qian, let's separate. You can't always live like this. I feel like you are sinking deeper and deeper. You should have a normal life. Let's not meet again in the future." - "No." Ah! Master! Don’t leave you, bitch! What a bad thing, master, please don’t abandon me!” - She cried heartbrokenly, and I couldn’t bear it, even if I have a real dog, let alone a little bitch... But I had to harden my heart... We finally broke up, because... I was in love...</p>

<p>In my senior year, I moved back to the dormitory, and of course Li Qiang came back with me, still playing the role of nanny... This was my last year in college, and it was also my happiest year. My first love, also called dusk love, burned like dry wood...</p>

<p>In the blink of an eye, I graduated, and it was a tragedy. My school was, simply put, second-rate among the second-rate, and my work was not satisfactory either. She left me because of her parents' opposition. She cried and said sorry to me, saying that it would be better if I had money... Swallowing my tears, I set foot on the train going south alone... Money - I'm here to earn it for you! ...There is a saying that ideals are full but reality is skinny. This is the true portrayal of my three years in the south... In June 2009, I was tired and went home with a savings of more than 100,000 yuan... I couldn't even buy a toilet in Shanghai with this little money... I'd better go home to do a small business and live a relaxed life. Although Shijiazhuang is a bit rustic, it is my home...</p>

<h1>Reunion</h1>

<p>Li Qiang was so happy when he heard that I was coming back that he strongly urged me to live in his house. This kid got married and I didn't come back. One was because of work, and the other was because I was not doing well outside and was embarrassed to come back... Li Qiang took my bag and I walked behind empty-handed. We were very natural. I really didn't want to live at home, and because of Li Qiang's strong request, I agreed to live at his place...</p>

<p>The young couple lived in the new house with three bedrooms and two living rooms... "Qiangzi, where did you cheat your wife? After graduation, you have become more capable, and you even fooled your wife back home." - "Hey, my family recommended it, and the conditions are almost the same. I got the certificate. We don't seem to have any excitement. The love is ordinary, we have been married for less than a year, and we are living like an old couple." - "It is true to be ordinary." I definitely said this out of emotion... The door opened, Li Qiang went in first, and his wife and I looked at each other. Anyway, I was stunned... Lin Qian? ? ? ! ! !</p>

<p>Tangled... But I know that the evil villain is extremely powerful... "Qiangzi, I really want to eat chicken drumsticks. Go buy some chicken drumsticks. I know a place that is very authentic, over there at the Provincial Hospital..."... "Hey, okay."</p>

<p>It takes 2 hours to drive back and forth... It's the rush hour at this time... Let me give you a brief introduction. Li Qiang helps in his parents' company. Lin Qian works as a teacher in a secondary school. She goes when there is class and rests at home when there is no class...</p>

<p>"Master."... Lin Qian knelt at my feet... It was obvious that she was excited and scared at the same time. Originally, I wanted to tell her that Li Qiang was also my slave, but I played a prank and without saying anything, I directly inserted my hard-on into her little mouth. She has been hard-on for two hours since we entered their house. Let's calm down first... Regardless of the thrust, Lin Qian's tears and saliva were splashed out. She kept holding it in and slammed into me. Ah...I released and got it on the floor...</p>

<p>Lin Qian glanced at me, but I didn't say anything. She lowered her head and licked the semen from the ground. She had done this often before and was very skilled... I wonder if all the spectators would go crazy if they saw their wives kneeling on the ground licking the semen of other men on the floor. Where would Li Qiang be? Can he accept it?</p>

<p>I have to say that when I entered the house, I had the idea of ​​letting them serve me together. The reason why I kept Lin Qian was because she has a deeper feeling for me. There should be no problem in confessing to her first. But when I discovered that Lin Qian, who was licking semen, had an orgasm, I changed my mind. It seemed that it would be more exciting if they didn't know each other's affairs... Well, let them enjoy the excitement first...</p>

<p>Before Li Qiang came back, I fired another shot in Lin Qian's pussy. Speaking of which, this was the first time I released in Lin Qian's pussy. Anyway, I don't have to worry about her pregnancy now... I sat on the sofa and thought about how to get along with the couple. Lin Qian knelt naked on the ground and massaged my feet with her woman's pride... When there was a knock on the door, Lin Qian quickly put on her dress, which was naked... It doesn't matter, I am confident that Li Qiang won't notice...</p>

<p>"Here, wifey. Boss, the chicken drumsticks you mentioned are really good. It smells really good."... Sweat... I didn't expect that the chicken drumsticks I liked to eat in high school are still sold. "Qiangzi, it's been a long time since I've eaten the food you cooked." - "No problem, right now, I'll go to the toilet first."</p>

<p>——"I want to go to the toilet too." I whispered to Lin Qian. Lin Qian's face turned red immediately. She knelt down to support my brother, opened her little mouth and took it gently.</p>

<p>Anyone who has had this experience knows that it is quite difficult to urinate at this time. Fortunately, I am experienced and have just released twice, so it is relatively fast. Although the speed was not slow, I still hadn't finished peeing when Li Qiang flushed the water. "You go wash the vegetables first, wife, I'll cook them later." "Qiangzi, you haven't helped me relieve my hands in a long time, and I have forgotten what it feels like." I said calmly.</p>

<p>Li Qiang glanced at Lin Qian in the kitchen with embarrassment, and whispered, "Boss, come here." - "This is it."</p>

<p>——Lin Qian in the kitchen cannot see the living room. I sat on the sofa and Li Qiang knelt in front of me. I peed for a while before I finished, I was so excited.</p>

<p>To be honest, I am not very interested in male M, and the three and a half years that Li Qiang and I have been together day and night have already worn away my excitement about him. In the last two years of college, Li Qiang was more like my nanny, and I rarely let go under his stimulation. However, now I find that training Li Qiang at a very close distance from Lin Qian has given me a new stimulus. Just like that, I peed into the couple's mouths.</p>

<p>Li Qiang went to cook while Lin Qian watched TV with me in the living room. I rubbed Lin Qian's breasts casually and stuffed two small tomatoes into Lin Qian's pussy. Lin Qian looked very nervous, but the water kept flowing... Before dinner, I asked Lin Qian to put on her underwear, and also found two cups and peed in them.</p>

<p>Li Qiang and Lin Qian both looked at me when they picked up the cup. I gave them a knowing look, haha, it was really fun. They both carefully covered each other, like thieves, for fear that the other would notice something strange about them, and at the same time they secretly glanced at each other. I was the only one secretly enjoying watching my own prank...</p>

<p>The next day, they both went to work. I was lying in bed, thinking about the chaotic relationship between the three of us. People will always be more rational when they are calm, but I know very well that it is difficult for me to give up my current life. Although I know it is immoral, I just can't let go.</p>

<p>But the two of them are quite destined. Thinking back on how close they were in the rental house in Baoding, Li Qiang knew that I had a female partner in my junior year, but we never met. At that time, Li Qiang was in the hut, and I was playing with Lin Qian in the big house. Li Qiang must have heard Lin Qian's screams many times. Why didn't he feel familiar? (I later learned that it was a routine thing for the two of them to have sex, and neither of them found it very interesting. Lin Qian had never asked Li Qiang to sleep with him.)</p>

<p>At noon, Lin Qian came back. The holiday was approaching and there were very few classes. "Master." "Yes."</p>

<p>After not seeing each other for so many years, the bitch has become even more attractive with the added status of a wife. As soon as she entered the house, Lin Qian naturally took off her clothes, knelt on the ground, kissed my feet, and opened them for me to inspect. Haha, so wet.</p>

<p>"Press your feet."</p>

<p>"Well, thank you, Master."</p>

<p>He lifted his feet and pushed up.</p>

<p>"In these years, how many men have recognized the Lord?"</p>

<p>I have already asked Li Qiang, and he has never found another master. He is relatively timid, reasonably rational, and his servility is not so strong that he cannot control it. I estimate that if I hadn't caught him that time, he would have only been obsessed with adultery for the rest of his life and would not have come to reality. I believe that most M's should be like this. "No, Master, you didn't want me last time. I was sad for a long time. After I married Li Qiang, I decided to be a good wife and never touch SM again."</p>

<p>"So what do you think about our relationship now?"</p>

<p>"I...I don't know. If Li Qiang finds out, he will definitely not want me. I'm so scared...Master, if Li Qiang doesn't want me, can you want me? I will be your bitch and serve you for the rest of my life, okay?"</p>

<p>Looking at her eyes, I was really touched.</p>

<p>"Well, okay. Li Qiang doesn't want you, I want you. But let's be careful and don't let him find out. Li Qiang is my good brother, and I don't want to hurt him. Hmm... It would be nice if Li Qiang was a little servile. That would be safer, and even if he knew it, he would be able to accept it more easily and the harm would be less. How do you think you can give him a try?"</p>

<p>"Well...he is always too lazy to move now. I often ask him to exercise, but he doesn't go. You see you joking with him, riding him around the house, and you say you help him lose weight. You two have such a good relationship, so joking like this should be fine."</p>

<p>A cucumber, half in the pussy and half in the asshole. Cooking, eating, crawling around the house all afternoon. I didn't let Lin Qian take it out when Li Qiang came home at night.</p>

<p>Lin Qian went out to buy groceries, and I rode Li Qiang around the house.</p>

<p>"Qiangzi, why are you getting fatter and fatter?"</p>

<p>"Yes, I have gained a lot of weight in the past few years after graduation." "Tell your wife that I will ride you around to help you exercise. See if she can accept it. If so, you won't have to avoid her and ride you."</p>

<p>"Well, maybe it works. She is willing for me to exercise. I'm too lazy to move. Let's try it when she comes back. It's just a joke. I guess it'll be fine."</p>

<p>After dinner, the three of them watched TV on the sofa. Lin Qian sat nervously, wondering if the cucumbers pickled all afternoon would shrink in size.</p>

<p>"Qiangzi, look at your fat body, it's time to lose weight."</p>

<p>"He is too lazy to die. I asked him to go to the gym with me to exercise many times, but he just won't go. After I bought the treadmill, he never got on it once." Lin Qian is also very smart.</p>

<p>"It's so boring and unmotivated to run up there alone."</p>

<p>"You lazy fat guy, let me find some motivation for you." I pushed Li Qiang to the ground and sat on him, "Climb for me, drive... drive... Hey, Qiangzi, you used to hump me when you were in school, remember? We made a bet that time, you humped me for half an hour, right?"</p>

<p>"I can't climb now. And it has kneepads, which is different."</p>

<p>"Lin Qian, do you have knee pads at home?"</p>

<p>"No"</p>

<p>"It seems there is, in the drawer under the wardrobe."</p>

<p>"Hehe, I'll go find him and kill this lazy fat guy."</p>

<p>"Put on your knee pads and get on the treadmill."</p>

<p>"No, my God..."</p>

<p>"Haha, just think of it as losing weight."</p>

<p>Li Qiang climbed on the treadmill seemingly resigned to his fate. I sat on his back near his butt, with my feet on the side of his face. Lin Qian pressed the switch. Hahaha, everyone is happy. Li Qiang and Lin Qian were both proud.</p>

<p>Li Qiang, who was just trying to crawl forward, couldn't see my hand rubbing Lin Qian's breasts.</p>

<p>Lin Qian's face still blushes easily, haha, she looks very cute when she is shy. The exciting scene made me hard. I took off my underwear and motioned to Lin Qian. Lin Qian stood up straight, bent down, and bit me. Ah, so hard...</p>

<p>"Qiangzi, that's good, don't stop. Hmm... I feel so good riding it. From now on, I will ride you for exercise every day, okay?"</p>

<p>"Well, it's time to train him hard, he's too lazy to die." Lin Qian spit out my hardness and cooperated with me.</p>

<p>"Huh...huh...it feels like I'm sweating. Huh...it's not bad. I don't have the willpower, boss. You have to force me in the future..."</p>

<p>The three of us were working hard. Li Qiang tried hard to crawl forward. It was also difficult for Lin Qian to stand with her legs straight and bend over. As for me, I rubbed Lin Qian's breasts and pussy hard. All three of them were very happy...</p>

<p>Li Qiang was tired, so I asked him to take a bath. I wanted to release my hardness in his wife's pussy. Lin Qian's desire had been suspended all afternoon, and she was so full that she wanted to gush out.</p>

<p>With the TV on, Lin Qian had my sock in her mouth, and I poked Lin Qian desperately... and released it into Lin Qian's pussy.</p>

<p>Lin Qian cleaned me up with her mouth, accepted my gift of holy water, and then licked off the essence that flowed to the ground. After I was done, I went to the bathroom, sat on Li Qiang and took a shower.</p>

<p>Lin Qian went to take a shower, and Li Qiang knelt down to lick my feet.</p>

<p>"Boss, I felt so good just now. It's so exciting to ride a horse for you in front of my wife."</p>

<p>"Well, it feels pretty good. The more familiar and casual we are with Lin Qian, the more we can play in front of her."</p>

<p>"Well, boss, you might as well use your charm and get my wife."</p>

<p>"Haha, okay. Are you willing?"</p>

<p>"The master wants it from me. He thinks highly of me. Why would he be reluctant to part with it? But, boss, take your time and don't break it. My parents like Lin Qian very much. If I dare to divorce her, my mother will tear me to pieces."</p>

<p>"Don't worry, can I still have sex with you? Talk to Lin Qian and see if she can accept a 3P. With your consent, it will be easier for me to have sex with her."</p>

<p>"Well...Boss, I don't think she can agree."</p>

<p>"It's not to ask her to agree, but to let her know that you want her to go to bed with me. You emphasize to her that you will still love her after she goes to bed with me. It's just that you are a bit perverted and like this tone. You will feel great if she goes to bed with me, do you understand?"</p>

<p>"Yeah, I understand. I'll try to mention it tonight. Boss, she won't be very angry, right?"</p>

<p>"You just asked her for her opinion. It's okay. You have to be honest. You have to be honest about your abnormal psychology. This is very important."</p>

<p>"Yeah, okay."</p>

<p>"Also, let Lin Qian ride you and let her feel that you like playing this."</p>

<p>In the morning, I felt like my penis was being held in someone's mouth. I peeed without opening my eyes. Both of them were able to drink it without stopping.</p>

<p>"What time is it?"</p>

<p>"It's almost nine o'clock, Master."</p>

<p>"Don't you have to go to school?"</p>

<p>"Well, there are no classes in the morning."</p>

<p>"Oh, is there anything to eat? Go and make me something to eat."</p>

<p>I have been running the market throughout the day. I have been exposed to the maternity and baby industry before. This time I want to rent a stall and do wholesale baby products. I have channels for this.</p>

<p>When I went home for dinner that night, I told my dad what I thought. Doing this is about stability. You can't make a lot of money, but you can still have enough food and clothing. My family also supports it.</p>

<p>As soon as Li Qiang's house opened the door, I was happy. Lin Qian rode Li Qiang to open the door for me.</p>

<p>"Hey, we've all started exercising."</p>

<p>"Well, Li Qiang, this lazy guy, really likes to play with people on his back. Haha, I'm always afraid of falling off when riding, and I'm nervous, so you should do it."</p>

<p>"Come on, I'll hold you up, put more weight on him, and let's ride him together. Haha, Qiangzi, can you hold on?"</p>

<p>"Come on, we have a small body and are very powerful."</p>

<p>"Get on the treadmill."</p>

<p>There is music playing in the house. Li Qiang climbed on the treadmill, sweat dripping down. I hugged his wife and rode on him, rubbing and prodding Lin Qian's white and tender breasts. I really wanted to push the hardness into the softness, but hey, I couldn't get it in, so I had to wait for Li Qiang to take a shower. However, it must feel good to ride Li Qiang and Lin Qian. Well...yes! This should be fine, hehe.</p>

<p>"There is a male slave who keeps begging me to use him. I relented and agreed to use him. You wait for my call during the day tomorrow and we will ride on him and make love, just like we did when we rode the strongman just now. At that time, I really wanted to fuck you, it was so hard to hold me back."</p>

<p>Li Qiang was in the bathroom, and I told Lin Qian after I fucked her.</p>

<p>"Well, I didn't think so either just now."</p>

<p>"Haha. I'm going to take a shower."</p>

<p>In the bathroom, I sat on Li Qiang and applied bath soap.</p>

<p>"Qiangzi, I really wanted to fuck your wife just now, and I almost couldn't help it."</p>

<p>"Then you have to work harder. I mentioned it to her yesterday, but she didn't agree, but I don't think she was particularly disgusted. She also said: "As long as you are willing to give it up, I don't care. "Try to tease her and see how she reacts. Just don't make her anxious, but her gentle temperament probably won't make her anxious."</p>

<p>"Take this matter slowly, don't rush it. Qiangzi, I will ask a female slave to serve me tomorrow. I will ride you and fuck her, just like I did just now, treat her as your wife, and fuck her well. I was tortured just now, and I want to have a good time. But this slave girl doesn't want to see outsiders, so I have to blindfold you tomorrow."</p>

<p>"Well, okay. Boss, you ride me and fuck my wife, ah. ah. I'm so excited just thinking about it, haha."</p>

<p>"Don't worry, the day will come. By the way, have a good rest tonight, and you have to work hard tomorrow. If you lose your energy after I do it halfway, see how I deal with you."</p>

<p>"Boss, you are so powerful, I don't know if you can do it."</p>

<p>"Stop talking nonsense, you need to practice more. Whenever you can hump your wife and me for an hour, I will definitely fuck your wife."</p>

<p>"If you could have fucked my wife, you would have done it long ago. You still have use for it..."</p>

<p>"Hmm~ What did you say?"</p>

<p>"Oh, oh, it's nothing, boss. I will definitely work hard to let you fuck my wife as soon as possible, hehe."</p>

<p>"You brat."</p>

<p>The doorbell rings. (Music is playing in the room.)</p>

<p>"Put on this hood and climb on the treadmill." I also took off a sock and stuffed it into Li Qiang's mouth.</p>

<p>"Here you go, bring this." I handed Lin Qian a hood that was also made from my underwear.</p>

<p>"Yeah."</p>

<p>"Just think of him as Li Qiang, let's ride him and have a good time."</p>

<p>"Yeah."</p>

<p>"Hold it." I took off the other sock.</p>

<p>Li Qiang crawled hard, and I rode him and fucked Lin Qian hard. It felt so good... I've always felt so good lately, and I don't know if I'll be exhausted...</p>

<p>After the release, I asked Lin Qian to go back to school.</p>

<p>Li Qiang lay on the ground and licked my feet.</p>

<p>"Huh... I felt so good just now. This little bitch looks like Lin Qian. It feels so good to fuck her. Hey, Qiangzi, I'm calling Lin Qian's name while fucking this little bitch. How do you feel?"</p>

<p>"I'm so hard. I feel a lot like Lin Qian. The thought of me carrying my master on my back and fucking my own wife makes me so excited. I haven't experienced that extremely despicable feeling for a long time, so when you call Lin Qian's name, I feel strong all over. I can't believe that I can carry two people on my back for such a long time."</p>

<p>"Hehe, there will be more opportunities like this in the future, so you should behave well."</p>

<p>"Hey..."</p>
