<p>Jing promptly opened the room door and left it ajar, knelt on the floor at the doorway, wearing a black hood on his head. Everything before him was pitch black, only his mouth exposed. Kneeling there and waiting, he felt very uneasy in his heart, yet he also found kneeling quite comfortable. This was what Jing's master, Qingling, had instructed before leaving.</p>

<p>Soon, Jing heard the footsteps of a man and a woman. They entered the room, walked past Jing without paying any attention to him, and went straight into the inner room. Jing realized that Qingling had come home, and she had brought a man with her. After a while, the collar around Jing's neck clicked into place. Following that, with a gentle tug, Qingling held Jing with the thickest metal leash he liked, leading him into the inner room. The man sat at the edge of the bed, and she sat on his lap. This man was Qingling's boyfriend, Pu Wu.</p>

<p>"Let me introduce. Husband, this is my dog. You can call him whatever you like."</p>

<p>She smiled a bit shyly. "Dog, this is my boyfriend. As I told you, you can call him sir, but I prefer you call him daddy. Understand?"</p>

<p>Jing didn’t dare to look up at this unfamiliar man and only replied, "Yes, Mom."</p>

<p>Jing knew this was just the beginning of everything.</p>

<p>"Let’s rest for a bit, I’m a little tired, right, hubby?"</p>

<p>She leaned on Pu Wu’s shoulder, and both of them smiled at each other in a flirtatious manner.</p>

<p>"Dog, go do the chores. I’ll inspect them in a while. If I’m not satisfied, you’ll be punished."</p>

<p>"Yes, Mom. I understand."</p>

<p>"By the way, hubby, you go inspect his work, and punish him at the same time. Let him know who’s in charge in this house, who the boss is."</p>

<p>She asked her boyfriend.</p>

<p>Turning back to Jing, her voice became cold and commanding, "Go beg your daddy to inspect you, to punish you."</p>

<p>Jing hesitated slightly, which seemed to displeasure her a little. "Hurry up, dog, or get out!"</p>

<p>Jing lowered his head. "Excuse me, could you inspect my work? If I haven’t done well, please punish me."</p>

<p>Jing felt her face turn red.</p>

<p>"Say it again, remember to call me 'Dad,' and make sure your voice is lower. Before saying it, you have to kowtow to your father."</p>

<p>Park Wu grinned, looking less than 30, not as old as Qingling claimed, 38. He sat on the edge of the bed, Qingling on his lap, his hand gently tucked between her thighs. When Jing kowtowed, he couldn't help but laugh out loud, and Qingling couldn't help but laugh too. They stood up, and Park Wu wrapped his arm around her waist and sat on the other side of the bed. Then she instructed Jing, "Go downstairs and clean your dad's car. That Busang. If you're good, wait for you to come back. I have something to keep you clean." ”</p>

<p>After washing Pu Wu's car, Jing didn't know what to do next. She silently walked into the room and sat dazed on the bed in the outer room. Only when Qingling stood with her hands on her hips did he react. Just as he was about to stand up and kneel at her feet, she stopped him, pushed him to sit down, leaned in close to him, held his head in her arms, and gently stroked his hair.</p>

<p>She had already changed into that dress used as pajamas, wearing the socks she wore for sleeping on her feet.</p>

<p>"Do you miss me? Dog?" ”</p>

<p>She pinched Jing's cheek and gently kissed his forehead. Jing was completely melted, feeling his master loved him deeply. He passionately embraced Qingling's slender waist. He even wanted to ask Qingling if she could unlock the chastity lock on his lower body. Perhaps Qingling sensed Jing's thoughts, and her mood suddenly changed, and she slapped Jing</p>

<p>"Is this how you should treat your master? Stand up, strip naked, I'm going to punish you, you useless fool. ”</p>

<p>Jing stripped naked, his gaze fixed on the chastity lock on his genitals. It had been 48 hours without being removed, and he was feeling extremely uncomfortable.</p>

<p>"You still can't take it off. You have to keep holding on. I always train you in high heels. Do you know how uncomfortable I feel? Go stand in position now. ”</p>

<p>Jing stood at the foot of the bed, facing the bed, legs spread apart. Qingling secured his ankles with two straps on the bed legs, his arms stretched out, locked to the ceiling with two handcuffs. "I'm not putting a headgear on you yet. I want you to watch, and I want to watch your expression." ”</p>

<p>Qingling knelt on the bed facing Jing, "I want my husband to spank you. I want to appreciate the expression on your face as you suffer for me. I like seeing the pain and humiliation on your face. I will never protect you, nor interfere with your father punishing you. I will even laugh at your shameless face. Don't you always want me to insult you? I'll give you the real humiliation." ”</p>

<p>She smiled at me, tilting her head like an innocent child, looking forward to an interesting game.</p>

<p>She was simply too beautiful, more beautiful than any other beauty.</p>

<p>What she was doing now might be even more than Jing expected.</p>

<p>I know you work hard at housework to please me, but I hope you admire me even more, serve me, serve us, and my husband.</p>

<p>Jing painfully closed her eyes, beginning to deeply understand her master's words: to take good care of the two of them.</p>

<p>"I'm going to shut your mouth. This house isn't well soundproofed, don't scare the neighbors, right, dog?"</p>

<p>Qingling took off her own underwear from between her legs and magically produced a pair of men's underwear, clearly worn by Park Wu. She wrapped it together, stuffed it into her mouth, and sealed it with tape.</p>

<p>Now you can beg as much as you want. Look at how pathetic you are—begging us won't help, but it will excite me and my husband.</p>

<p>She laughed.</p>

<p>Jing felt a wave of dizziness, a deep-seated insult, and waves of fear. Qingling was so noble, so cruel, so enchanting. Jing's penis stiffened. Ever since meeting Qingling and becoming her slave, this game had become increasingly out of control. All of this began to brainwash Jing. In fact, before being silenced, Jing almost wanted Qingling to stop for a moment. He had something he wanted to say.</p>

<p>What do you want to say? Are you about to faint?</p>

<p>Qingling was a bit confused, and Jing nodded vigorously.</p>

<p>"Heh, then just faint. Nothing will change. I won't stop, dog."</p>

<p>Jing was helpless and could only sob. Qingling gently stroked his cheek, kissed his forehead, and whispered in his ear: "I love you, dog. I want you to honor me, worship me, and suffer for me. I want you to show how much you love your master, your mother. I am your everything. The man by my side may not last long, but you will always follow me. Now I'm going to call your dad, be braver for Mom." ”</p>

<p>As she was about to leave, Jing mumbled with their underwear in her mouth, "I love you, Mom." I love you. She just smiled, lightly touched Jing's cheek with her finger, and turned to walk toward the inner room. ”</p>

<p>A few minutes later, the man and woman walked to the outer room. Qingling gave Jing's bare butt a slap. She climbed onto the bed in the outer room, leaned against the headboard, and lay down watching.</p>

<p>"Honey, start punishing him."</p>

<p>He told Park Moo, who was standing behind Jeong. Although the room was warm, Jing couldn't help but shiver. Park Moo unbuckled his belt and pulled it out.</p>

<p>He adjusted his position, pulled the belt down, and Jing's butt felt as if it were on fire.</p>

<p>Jing lost track of time during the beating. Qingling kept telling her lover to keep hitting her, and Jing began to cry, struggling with her limbs. But it was all in vain. He begged loudly for mercy, terrified, and loudly declared himself a wretch, but could only make whimpering sounds.</p>

<p>Jing's breakdown immediately excited Qingling. She lay on the bed opposite, spread her legs and moaned, her eyes silky as she looked at her boyfriend behind Jing.</p>

<p>Park Wu dropped his belt, lunged at her, threw himself on top of her, tore open her underwear, roughly lifted one leg, threw off her pants without taking off her underwear, pulled out his penis, and thrust it into Qingling's already soaked crotch. Qingling, like an octopus, wrapped her limbs around her man, letting out enchanting sounds mixed with moans, mournfulness, and sighs. Jing knew her master had climaxed instantly, the moment the penis entered. This was an experience he had struggled to spend hours giving the mistress, and now he reached it all at once.</p>

<p>Park Wu continued to fuck her wildly. Jing just watched, somewhat stunned. His attention was completely drawn to her slippers, which moved up and down with Park Wu's thrusts. Jing involuntarily moved her lower body in sync with Park Wu's rhythm, but it was not just impulsiveness—it was more humiliation. Only then did Jing realize her master could be so pleased, and tears fell uncontrollably. For the past three months, Jing had worked hard to serve Qingling, but she had never been this excited. He knew that his tongue could never surpass a man's powerful lower body.</p>

<p>During this period, Jing Ling's efforts brought the master several climaxes. Many times, he had to use a dildo to wear on his face, making Qingling ride and achieve it.</p>

<p>Qingling tensed her legs, while Park Wu thrust faster and faster, moaning loudly, screaming, and sounding in satisfaction. They reached climax together. Especially Qingling, who had lost count of the number of climaxes. As Qingling gradually calmed down, Park Wu still gently trembled on her, shooting the last drop of semen—symbolizing male rights—into her warm, burning private parts. Jing could only watch blankly, while Qingling gently stroked her lover's hair with one hand and gave her a victorious smile with the middle finger with the other.</p>

<p>In the end, they separated, lay on each other's wrists to rest, enjoying the pleasure after climax, whispering softly with laughter. They completely ignored that there were others else in the room. Jing had never seen his master make love before, and he found this warm scene more humiliating than the sex itself. It made him feel that he was so insignificant to his master.</p>

<p>"Alright, get dressed."</p>

<p>庆龄轻吻自己的爱人，坐起来，很快穿好睡衣，下床走过晶，准备去里屋，忽然又站住，走回来，到了晶身边。</p>

<p>一手抓起晶的头发，因为晶要比庆龄矮一些，她又175高，晶只有170。让他泪流满面的面对自己，说：“现在你知道，为什么他是我男友了吧，你根本就不能比，这才是一个真男人操一个女人的样子，记住，以后乖乖做好你现在这个有前途的职业，狗奴才！”</p>

<p>然后她转身对她的爱人说：“老公，麻烦你继续惩罚完他吧，别着急，慢慢晶很震惊，他以为惩罚已经结束了。他一下子惊恐起来。庆龄微笑着看着晶，优雅地把手伸进睡衣里，到自己的胯下，当她拿出手地时候，上面有几滴液体，那是混合了他们两个人地体液，她陶醉地把手指伸进自己的嘴巴，看着晶的眼睛，忘情地吮吸干净。”</p>

<p>晶惊呆在那里，庆龄靠近他，突然一个耳光打上去。然后笑着转身进里屋，把晶和朴武留在那里。</p>

<p>朴武赤裸的起床走到晶身边，晶一直就这样被挂在那里，他把鼻子几乎顶到晶脸上，“喜欢看你尊贵的女主人被我压在身下狂操吗？奴隶？是不是不想我叫你奴隶？”</p>

<p>晶一声不吭凝视着墙，他被自己的主人独自留下和她的男友在一起，很尴尬，同时也很担心他下面会对自己做什么。</p>

<p>“那我叫你假娘们儿，你喜欢吗？怎么了，怕我？你最好怕我。我可以随便操你的主子，你主子也答应我随便怎么搞你，你要敢反抗，她说她会赶你滚蛋的，你觉得如何啊？”</p>

<p>“你在她眼里是个狗屁，现在她只喜欢我这个。”</p>

<p>朴武抓起晶的头发，强迫他低头看自己的下体，同时用另一个手，缓慢地撸着鸡巴。晶确实被他的下体震惊，上面甚至还湿润着，沾满他女主人的体液。</p>

<p>“还要谢谢你，”朴武继续说，“这段时间我没时间陪她，你伺候得不错，她和我说，你偏要做她的奴才，伺候她，却不敢和她做爱，下贱地喝她尿，吃她屎，当我再找她的时候，她立刻知道了她是多需要一个真正的男人，更加爱我了朴武从地上捡起皮带，”我们来玩玩，我看你到底有多下贱，在我皮带下呻吟求饶，我也会让你的女主子在我胯下这么求饶地。</p>

<p>他大笑。</p>

<p>晶努力地不叫出来，但是当被打了50多下的时候，他最后放弃了，他继续哭起来，喊饶命，当朴武最后停手的时候，晶筋疲力尽地挂在那里，精神和肉体都屈服了。</p>

<p>“很不错，是不是假娘们？我现在很累，要进里屋，让你主子给我跪着口交。对了，她是不是从来也没有叫你射在她嘴里？我真不敢相信，她可喜欢给我口活了，天天含着我鸡巴睡，竟然不碰你，看来你真是贱，她看不上你。”</p>

<p>说完朴武站到床上，去解开晶悬挂在天花板的双手，他仍然坚挺的鸡巴在晶眼前直晃。晶满眼都是他的鸡巴，甚至可以闻到上面的味道。可以想想自己的主人一会就会把这个鸡巴含在嘴里呵护吮吸，那种侮辱，带来了极大的兴奋。</p>

<p>“我和你主子玩的时候，你再清洁一遍厨房的地面，这次用你的舌头。一寸寸都给我舔干净了。如果我不满意，我会和你主子说，我们不需要你这样的废物，到时候她就会在你和我之间选择，呵呵，你觉得她会怎么选？”</p>

<p>这问题很好，从我伺候庆龄开始，我就没有奢望过她会选择我。</p>

<p>“你这个傻逼假娘们不要抱幻想，昨晚你主子还说她非常爱我，现在赶紧跪下舔地板，我要进去告诉你主子，我也爱她。”</p>

<p>他离开后，晶解开了自己脚上的固定，伸展一下四肢，爬进厨房开始他的工完成了朴武指定的工作以后，晶在厨房的水池洗了一下自己的嘴，他忽然觉得有人站在自己身后。转过头，他看见赤身的朴武在对他坏笑，他握着自己已经软了的阴茎，正在厨房的地上小便，晶愣在那里，看着朴武像摆弄橡胶水管一样，随意把尿，尿到各处。</p>

<p>你还没有完活啊，假娘们。</p>

<p>他假笑，“我想贱货还有很多活要做啊。”</p>

<p>晶有些恼了，他对自己说，别想我舔这个，没门。</p>

<p>看着晶倔强的表情，朴武平静地说：“也许我可以再打你一顿，或者去告诉你主子？”</p>

<p>“好，我去找你主子。”</p>

<p>朴武说着转身离开。</p>

<p>“不要，”晶脱口而出。</p>

<p>晶自己都不相信自己说的话，但是他不能失去自己的主人，她收留了自己做奴，晶很感激她。晶跪下来，开始舔朴武的尿。</p>

<p>“我和她说你很贱了，不过没想到这么贱，我这辈子都没见过你这么下贱的晶没有去反驳，只想快点舔完，另外他明白朴武是对的，这就是他想要的下贱生活。”</p>

<p>当晶全部舔干净以后，朴武才离开，晶去厕所，用整瓶漱口水，想去掉朴武尿的味道。</p>

<p>当晶走出厕所，看见庆龄正从里屋走出来。她穿着整套女王装，吊带袜和高靴，整整比晶高一个半头。她指指眼前的地面，晶跪下来抬头看着她，高贵的主</p>

<p>“喜欢厨房地面的味道吗？奴才”她问。</p>

<p>“不太喜欢。”</p>

<p>"Alright, this will make you more careful in the future and not get dirty."</p>

<p>Qingling took Jing with her, letting him crawl behind her, while she sat on the bed in the outer room.</p>

<p>You must understand, my dog. I have you, you are mine, and if I want you to be someone else's slave, you must obey, just as I do mine.</p>

<p>"Please, Mom."</p>

<p>Jing was a bit emotional, "He's going too far." ”</p>

<p>Qingling slapped him again, and Jing couldn't help but cover her face, but Qingling kept hitting him.</p>

<p>When Qingling stopped, her voice was especially cold.</p>

<p>This is not the attitude a servant should have toward his master and elders, and you are even less worthy of speaking of my husband. Right now, it's important to you. I hope you please him to show your admiration and obedience to me, understand?</p>

<p>"Yes, Mom. I was wrong, forgive me. ”</p>

<p>Jing immediately gave in.</p>

<p>"Hmm, that's much better. I have something I need to clarify with you. This might be the most important decision for you. You could say this might be the last thing I allow you to do."</p>

<p>Jing listened intently.</p>

<p>"How long has it been since I allowed you to cum, slave?"</p>

<p>"It's been two months, Mom."</p>

<p>"I think you must be desperate right now. Use that useless thing of yours to finish a bit."</p>

<p>"Yes, Mom, please, let me come."</p>

<p>Jing seemed to see hope.</p>

<p>"Alright, I can allow you this once."</p>

<p>Jing immediately became aroused, her penis twitching in her chastity pants.</p>

<p>"Likewise, I will give you a chance to decide our future. Ever since you taught me how to be a master, I've fallen in love with sadistic love. I hope to continue this relationship with you. As a strict mistress and a submissive slave, I have many plans to implement. In some ways, I really like you. Your service to me is a pleasure." I mentioned a Scorpio woman who loves trying something different from ordinary sex. Guan Jing was somewhat distracted, completely immersed in the desire to ejaculate, completely attracted by Qingling's sexy stockings, slender body, and beautiful face. ”</p>

<p>Qingling stood up. She pulled up her queen's leather dress and took off her black underwear—she looked incredibly sexy. Then she sat back down on the bed and took off her necklace, which now had the key to her chastity pants hanging from it.</p>

<p>"Listen up, slave."</p>

<p>Qingling raised her voice, "You have a choice. If you choose the key, our relationship is over. You can open your chastity pants, masturbate with your little thing, cum on my stockings, and then calmly leave here. We won't know each other anymore." ”</p>

<p>"Choose one of the two. You can also stick your dog face between my legs without the key, suck my husband's semen out from below, lick it clean, and if you choose this, our relationship will continue, and this relationship will continue forever, with no turning back. I'll also give this key to my husband for safekeeping." ”</p>

<p>"You know what I want you to choose, but it's up to you to decide. But let me remind you, I like this good dog of yours, and I hope you can serve me forever."</p>

<p>Oh my god, Jing shouted in her heart, why are you forcing me like this? I just really want to cum once. The legs in front of me were so long and slim. Compared to the black stockings, her thighs looked even fairer. Jing couldn't help but want to touch them. He looked up at Qingling's beautiful, gentle face, her smile always tinged with a hint of sadness. Why did she look at her face? Jing felt a bit guilty—she had taught her to suffer in love. Now, between her boyfriend and me, if she wanted to find balance, she had to make me give in completely to have both.</p>

<p>Her smile gradually softened, and she whispered, "Baby, I like you." ”</p>

<p>Jing suddenly understood that he couldn't refuse any request from this woman. She worked hard to be her master, even overcoming her shyness. Now she had the chance to repay her and make her happy. Jing knew this was her value.</p>

<p>Jing stopped her hand reaching for Qingling's enchanting legs, leaned her face toward her crotch, and Qingling slowly spread her legs, revealing her wrinkled labia. A thin layer of white liquid covered her labia with a strong scent—the scent of a man and woman having sex wildly. Jing stuck out her tongue, hooking the female lead's boyfriend's semen into her mouth, licking deeper and deeper. Qingling clamped his head between her legs, and a stream of warm, slightly salty urine rushed into Jing's mouth.</p>

<p>"Oh, oh, good child, master's good servant, isn't that right, my treasure?"</p>

<p>Her legs were slightly apart, so Jing could hear her words. "Behind your hands, slave. As a slave, you can't disrespect your master, right?" ”</p>

<p>Jing tried hard to swallow, not choking, eyes tightly shut and quickly swallowed. The master's urine stirred a sense of pride in his heart; he made his master happy. He had the chance to come, but gave up for his master.</p>

<p>After peeing, Qingling grabbed Jing's hair and stuffed it tightly between her legs, her hips actively rubbing against his face. Clearly, she was very excited, shouting, "You born slut, lick your dad's cum, this is your despicable fate. You sucking semen and licking pussy, I feel so good, I like you being my slave." "I'll play with you however I want, lick me, little variety guy, ah." "Ah, ah, you filthy dog, fuck." ”</p>

<p>Jing nearly fainted from lack of oxygen, and was finally let go, weakly lying on Qingling's lap, gasping for breath. Jing regained consciousness, remembered she hadn't been allowed by her master, hurriedly got up, looked up at Qingling, and was surprised to find tears sliding down her beautiful face. She hurriedly wiped them away and stood up. She tried hard to calm herself.</p>

<p>Jingguqi bravely asked, "Mom, do you love him?" ”</p>

<p>"I should punish you. As a slave, how dare you ask questions? But your choice makes me happy, and your useless tongue tries to please me. Alright, I'll answer your question." Love is the relationship between master and her lover, and has nothing to do with being a slave. It's a kind of love completely different from the master-slave relationship between you and me, so to answer your helpless question: yes, I love Park Wu, and he loves me too. No time to pay attention to you, I'm going into the inner room now to show how much I love him. ”</p>

<p>Jing's heart felt crushed; he was crushed by desire and reason. Qingling coldly stepped over his head and walked toward the inner room. Jing shouted loudly, "Mom, I love you, I love you very much, that's why I chose this." Qingling turned to smile at Jing and said, "I know, baby, I know. Go do the housework." Also, although you are my property and belong to me, now I hope you can please Daddy. Since he likes letting you lick his urine, next time just keep drinking it with your mouth, just like you did earlier. Oh, and I really want to see you lick his toes, lick the dirty look behind him.</p>

<p>Qingling seemed to get angry, "You slut, working like this feels too comfortable. Aren't you just making a piece of your own mouth? Put it on and go. So you don't keep talking nonsense." ”</p>

<p>After seeing Jing wear it, she left satisfied.</p>

<p>Jing was alone in the outer room, ironing Qingling's clothes, hoping she would like it. At that moment, Park Wu came out, watched Jing work for a while, then grinned wickedly and said, "Isn't it uncomfortable to wear a chew?" ”</p>

<p>She had been wearing the chew for an hour already, and her drool was already dripping uncontrollably, making her extremely uncomfortable. Jing really wanted to undo it. But she didn't want to be mocked by the man in front of her, and she really hated his so-called concern. It wasn't because he had taken away more love from her mistress, but because she was here to be a slave. It wasn't out of jealousy, but because she still couldn't completely set aside her dignity to face a fellow woman, especially since this man had no sympathy and even deliberately made things difficult for her.</p>

<p>"Yes, it's a bit uncomfortable, sir."</p>

<p>Jing spoke vaguely, because of the chewing issue.</p>

<p>"I hope you can be more respectful toward me."</p>

<p>Park Wu pointed at the ground beneath his feet and said to Jing.</p>

<p>Jing was very embarrassed, and in the end, she put down the iron, sprawled on all fours, and crawled in front of the man like a dog.</p>

<p>"Let's start, beg me to allow you to take off your dog muzzle."</p>

<p>"Sir, may I take this off, is that okay?"</p>

<p>"Hmm, I feel much better now. Okay, I'll think about it, but first I need to set a rule for you. From now on, whenever I appear, you must immediately kneel down and kiss my feet. Understand?"</p>

<p>Jing's heart was tormented by dignity and desire. Moving a little closer, she kissed the toes of Park Wu's slippered feet, admonishing herself that men and women are nothing but flesh, and since the mistress liked it, she had to do it.</p>

<p>"Also, I want you to go and say a few words to your mistress now."</p>

<p>Park Wu explained what he wanted to say about kneeling in front of the mistress, and Jing felt a little better. Park Wu stood aside and looked at Jing, saying: 'Mother, I am here to apologize to you. I am a slave, I cannot and do not deserve to enter your body, so I have never been able to fully satisfy you. I am a useless wretch.'</p>

<p>Jing continued, 'I am really glad you have such a wonderful boyfriend, he makes you so happy and fulfilled.'</p>

<p>Qingling listened to this, holding back her laughter, only making a funny face at Pu Wu. Jing didn't dare to look up, just staring at her feet, continuing to say the words she had been instructed to say earlier.</p>

<p>"Mr. Park Mu, no, it's Dad, very handsome, I really admire him. You two are a match made in heaven, I hope you can grow old together."</p>

<p>"Alright, sissy, that's enough, you can get lost now."</p>

<p>Pu Wu said, 'Go out and do some work.'</p>

<p>Jing clumsily crawled out of the inner room and closed the door. Inside, the sounds of Qingling and Pu Wu laughing loudly could be heard. Jing felt very excited, yet tears also streamed down his face.</p>

<p>Serving a married couple has always been Jing's biggest fantasy, but the feeling is really contradictory.</p>

<p>After dinner, Jing kept serving Qingling and Pu Wu drinks and snacks. They sat on the bed watching DVDs, just like any other couple. When Jing had nothing to do, she knelt by the door, listening to their playful words, their lingering voices, and occasionally giggling. It was late, Qingling got sleepy, and Pu Wu said to Jing, "Go out, you can sleep in the bathroom." ”</p>

<p>"Yes, sir."</p>

<p>In the past, Jing always slept by Qingling's bedside and had to help her get up at night. Sometimes Qingling would ride him to the bathroom for convenience, and other times she would pee directly into his mouth. Jing regretted not being able to do this today, but at least tonight he didn't have to help Park Wu get up at night. Jing both hoped and feared this.</p>

<p>The next morning, Jing was allowed to leave the bathroom and make breakfast for Qingling and Pu Wu. Then she cleaned the table in the outer room. After finishing eating, Qingling told Jing that she could eat breakfast, but she ate it from the dog food bowl under the table, knelt on the ground, and could only eat with her mouth.</p>

<p>Jing was very hungry and wolfed down her food. Qingling sat to the side, watching him finish eating, then went to the kitchen to clear the dishes. Then she heard Qingling calling her from the outer room, so she hurried out and knelt before her.</p>

<p>"If I beg my husband to unbutton your chastity pants so you can masturbate, would you do something for me?"</p>

<p>Of course Jing was willing.</p>

<p>Qingling called out to Pu Wu from the inner room. Pu Wu stood there, Qing Ling told Jing to kneel behind him, then knelt in front of Pu Wu, took off Pu Wu's pants, and even his underwear was empty.</p>

<p>Pu Wu spread his thighs. He was very tall, over 180 cm, and Jing was kneeling behind him, much shorter than his buttocks. Qingling, through Park Wu's thigh, said to Jing, "If your father is kind and gives you the key so you can enjoy yourself, shouldn't you repay him?" ”</p>

<p>"Yes, Mom."</p>

<p>Jing didn't know what Qingling meant by repayment, but she really wanted to come. Park Moo handed Qingling the keys and asked her to open Jing's chastity pants. Jing's penis seemed to sprout as if she was finally free.</p>

<p>Qingling didn't care at all about Jing's genitals; all her attention was on Pu Wu's penis in front of her. She greedily licked his glans, then took his testicles into her mouth. From between his legs, she said to Jing, "Alright, Nunu, now I command you to play with your own little thing and show me. But at the same time, I want you to lick your dad's Jing. He has never served a man like this before, but at the same time, he enjoys this humiliating feeling." ”</p>

<p>"You dare defy my orders, you filthy dogs? Think carefully! ”</p>

<p>Qingling's voice turned cold.</p>

<p>"Please, Mom."</p>

<p>Jing pleaded.</p>

<p>"Shut up! Do as I say, or get lost. You idiot, what are you listening to me?"</p>

<p>Jing had no choice; she wasn't joking. Jing hesitated and stuck out her tongue, pressing it toward Park Wu's hairy buttocks. Qingling had already reached behind Park Wu's buttocks, gently spreading his buttocks. Jing slipped her face into Park Wu's buttocks. His ass smelled very bad. Jing stuck out her tongue and slowly moved it. After a while, she found it acceptable, so she started licking seriously. Jing felt she was really filthy, but he liked this lowly feeling.</p>

<p>Qingling knelt in front of her, holding Park Wu's butt and starting to give him oral sex. Jing knelt behind and couldn't see her, but Jing knew she must be very excited because she heard Qingling's breathing. Jing and Qingling, one in front and one behind, served Pu Wu together.</p>

<p>"Don't forget to play with your own little cock, slut, lick faster, let's see who comes first."</p>

<p>Jing had been wearing chastity pants for two months. Ever since Park Wu learned that Qingling had such a slave, he forced her to put it on. So now that her lower body is free, she can't get an erection. No matter how hard she tries, she's still so small. There's simply no way she can compare to Park Wu.</p>

<p>"Oh. Really. ”</p>

<p>Qingling muttered while licking, "Everyone really is different, honey, I really love your cock. Come for me, please, baby." ”</p>

<p>Qingling spat out Park Wu's penis, stroking it hard with her hand, and said to Jing, who was struggling to lick Park Wu's asshole, "You're so pathetic. Look at your useless thing. You begged me to untie you, but you couldn't get hard. You're so disgusting. You're a man too. How can you compare to my husband? Look at your dad, what a beautiful cock! You slut, be careful, lick my ass. I want to see how much you admire my husband's ass. Damn, you're too filthy, licking other men's anuses, damn." ”</p>

<p>The more Qingling spoke, the more excited she became. Park Wu also became aroused, telling her to stop her mouth, forcibly inserting his penis into her mouth, pulling her hair and fucking her mouth. Qingling held the base of his penis with one hand, sensing he was about to climax. So she reached behind Park Wu's buttocks, grabbed Jing's hair, and dragged him beside her. At the moment Park Wu came, she inserted the glans into Jing's mouth. Park Wu's penis kept ejaculating inside Jing's mouth. Jing could imagine how intense Qingling's sensation would be when he ejaculated inside her master, with so much semen powerfully ejaculating inside.</p>

<p>"Honey, you're too strong."</p>

<p>Qingling panted, "Dog, put on your chastity pants and stop embarrassing yourself." ”</p>

<p>"Get dressed and crawl over here. Keep cleaning your dad and lick it carefully."</p>

<p>Jing knelt between Pu Wu's legs, seriously licking his testicles, penis, even his anus. He didn't think about anything else, just wanted to finish everything quickly, but as he licked, he started to get excited. His penis felt sensation in his chastity pants as he licked while Qingling caressed Pu Wu's lower body.</p>

<p>Finally, after finishing the lick, Jing looked up at her mistress. Qingling was sitting nearby, kissing Park Moo. The helpless embarrassment, humiliation, and a hint of jealousy made Jing sob uncontrollably.</p>

<p>"Dog," Qingling's voice was gentle. She let go of Pu Wu's wet lower body and began to stroke Jing's hair. "Alright, cry out. This is a process you have to grow, and you'll have to go through even more in the future." ”</p>

<p>Jing weakly lay her face on Qingling's lap, tears soaking her sexy stockings. She continued to comfort her, "My dear dog, I know you cry for me, and for everything you've lost. So you won't have anything again. Let go, let all of that go. You'll soon understand. Once you completely surrender, you'll feel happy. Forget your past life, forget that you were once alone. Those things will never come again. You're a dog, my dog, this is your fate. We can enjoy this relationship together, but you must give yourself completely to me, holding nothing back." ”</p>

<p>Qingling grabbed Jing's hair and pulled him up. Jing, with tearful eyes, looked at her beauty. He admired this woman, and she wanted to completely conquer him. Jing thought, fine, I am hers, forever.</p>

<p>"But I'm a bit dissatisfied. When I gave the order to the filthy dog, he actually hesitated."</p>

<p>Qingling became serious. "Go kneel at the foot of the bed in the outer room. You'll need to be properly disciplined." ”</p>

<p>Jing knelt naked on the floor at the foot of the bed, facing the surface, waiting for a long time. Then she heard them come out of the inner room, and Park Wu tied my ankles to the two foot legs of the bed. This time, my hand was pulled behind my back, stuck to the ceiling, stuck there, my face almost lying flat on the bed.</p>

<p>Qingling picked up the straight whip Jing had specially made for her and struck her naked, protruding buttocks hard. Just yesterday, Park Wu had just hit him here and hadn't recovered yet enough. Now the injuries were worse. By the time Qingling was enjoying herself, Jing was in so much pain she couldn't even scream.</p>

<p>Qingling dropped the whip and sat naked on the bed, watching Jing kneeling below. Park Wu held him, playing with her breasts and kissing her neck.</p>

<p>"Watch closely, dog. Do you remember? A few days ago, I told you my husband wanted to have anal sex with me, and I asked what you wanted to prepare. You said if you were afraid of dirt, you should use a glycerin enema a few times. But my husband loves me very much, so he doesn't mind. Besides, even if it's dirty, the dog will still clean up, right? I want you to watch my husband fuck my ass, kneel here and watch like that." ”</p>

<p>Qingling knelt on the bed, her buttocks facing Jing. Jing looked up and saw clearly—he saw Park Wu spread her buttocks with his fingers and started thrusting with his fingers. Soon, Qingling said she was ready. Park Wu also stood on the bed, straddled her buttocks, grabbed his big cock and pressed it against her anus, teasing Jing: "Watch closely, slut." ”</p>

<p>"Come on, honey, fuck me from behind."</p>

<p>Qingling groaned.</p>

<p>"Begging me, you little slut."</p>

<p>He replied.</p>

<p>"Stop teasing me, honey, go ahead, put it in my back, baby."</p>

<p>He started thrusting in, at first slowly, but gradually Qingling's anus relaxed, and she started to enjoy the pleasure from the pain. Qingling said to Jing, who was behind her butt, "What are you doing with this filthy dog?" "Ah, licking your dad's toes, I want you to please your dad. You belong to me, my dog, but I want you to be a filial child, you must be filial, worship your dad, your dad is a real man, fucking me from behind feels so good, you never know this feeling. Letting a man fuck her isn't a big deal, but when a woman gives her back to a man, it means she belongs to that man forever, understand?" "Filthy dog," Jing licked Park Wu's toes, humming softly, humming so much he could barely make a sound.</p>

<p>Qingling was held by Park Wu's buttocks, arched high, her face pressed to the side of the bed, while Park Wu stood up, straddling her hips and freely penetrating her anus.</p>

<p>Qingling lay there, barely able to see Jing licking Park Wu's toes, and continued with satisfaction: "Mmm, this feels so good, don't stop, honey, I want your cock, inside my pussy, in my mouth, behind me. My husband is a real man, a hundred, a thousand times better than you. You're not even worthy of competing with him." ”</p>

<p>Jing didn't dare face Qingling's slightly twisted face from being squeezed, only desperately licking Pu Wu's feet. But Qingling was unwilling to let him go.</p>

<p>"Go tell your dad how much I love him, you slut."</p>

<p>"Dad, Mom loves you very much. I love you very much. ”</p>

<p>"Beg him to fuck me harder from behind, never stop, tell him I belong to him, please, your dad, you beast."</p>

<p>Jing's dirty words stimulated the two anal sex lovers. Park Wu screamed and ejaculated inside her rectum, bringing her to climax as well.</p>

<p>Licking the feces on the penis, drinking Park Moo's urine, serving his stool, making toilet paper. Ling didn't let Young Master Jing do it either. The reason was simple: now there were two masters, and even Park Moo was an even more important master.</p>

<p>The bathroom door was gently knocked, but Jing didn't respond. The knocking grew louder. Qingling's voice said, "Open Jing for me immediately, then kneel on the floor. That was where a slave should be." "What's wrong with you, servant?"</p>

<p>She asked, "Speak!" ”</p>

<p>Jing was like a terrified child, not knowing how to speak.</p>

<p>"Do you remember when you asked me, no, you begged me to take care of my boyfriend?"</p>

<p>As she spoke, she sat on the toilet lid, pulled up her skirt, and got up with one leg on. Jing could hear the sound of her stockings rubbing together, and her high-heeled slippers swayed on her raised feet.</p>

<p>"Mm," Jing replied calmly.</p>

<p>"You should also remember that you begged me over and over, saying you could be even more degrading, that you wanted me to humiliate you completely, to make you my toy, my tool, my servant. Remember? ”</p>

<p>Jing nodded; he had to admit that this was exactly what he wanted.</p>

<p>"You want me to ignore your existence, your feelings, and not care about using you, as long as I can be happy with my boyfriend, right?"</p>

<p>Jing nodded again.</p>

<p>"You want to face me and my man realistically, telling me to enjoy this relationship, not just to satisfy your fantasies, or that I've completely misunderstood."</p>

<p>"That's not it, it's just that I......"</p>

<p>"Just what?" Didn't I do everything you asked me to do? Did I not do it well? Didn't I do it ruthlessly? Come on, I don't understand what you want me to do. ”</p>

<p>"I know, all of this was done by my begging, and you did very well. I just didn't expect you to go this far, and even be even stricter with me."</p>

<p>"Fine," she replied, angry, "You decide how I can treat you. Am I a prostitute working for you?" ”</p>

<p>"No, don't misunderstand me," Jing replied, hoping to please her, "I just don't want to lose you, so I can come back to you and listen to you call me to be good." ”</p>

<p>"Good girl," she said, "I really like you, really like you. I spent a lot of thought and time just to meet this time. You know I'm very introverted. I gave up my shyness and did everything you asked me for. If I didn't use my boyfriend to humiliate you, you'd complain about being too gentle and feeling nothing, right?" ”</p>

<p>She was right.</p>

<p>"Look, if I let you cum now, you won't get excited. I know you, and you'll stop right away, want to leave, and won't respect my boyfriend anymore. In a few weeks, you'll want to serve both of us again. I can forgive you. But my boyfriend won't. ”</p>

<p>She knew Jing well; she was right about everything.</p>

<p>"I can say this: I'm giving you a chance to go back in time, just to serve me, but I'm telling you, from now on this is the only way. My boyfriend won't give you a second chance."</p>

<p>"Dog, you choose for yourself. Will I continue, or will you never have the chance to serve us again? From now on, don't even think about serving the couple again. Otherwise, you have to give your whole body and soul to me, let me be happy on my own, hurt or insult you, and treat you as I please. That's your decision." ”</p>

<p>Jing couldn't refuse her words; they made him so impulsive. He crawled toward Qingling, begging her to take him in.</p>

<p>"Alright. Be good, it's late. Tonight you can come sleep in the inner room, just like before, on the floor next to me, and help me get up at night. But from now on, you must drink your father's nighttime urine. Come on." ”</p>

<p>Qingling led Jing toward the inner room.</p>
