<p>My former name was Shang Yafang, and my father was the deputy commander of a certain military region. I graduated from high school at the age of 17 and was recommended to the military academy without taking the exam. My academic performance during the four years was pretty good, and I got admitted. Because I was good at singing and dancing, and I was pretty, I was also elected as the literary and artistic committee member of the school student union.</p>

<p>After graduation, I worked in the army for two years and got the rank of major. Our army only has a 23-year-old female major like me. Although everyone knows that this is due to the influence of my father and my husband-to-be, the son-in-law of our military region commander, the concept of hierarchy is very strong in the army. After all, I, the yellow-haired major commander, am in charge of a group of female signal corpsmen, and I am very impressive.</p>

<p>Our family lives in a prosperous coastal city. We have a very large yard in the suburban seaside residential area for high-ranking military officials. There are many lilac trees and flowers in the yard. You can see the blue sea from the windows. There are three independent small buildings in the yard. There are two female nurses assigned to Dad, one shift of service guards, two male secretaries, two drivers, and two luxury cars.</p>

<p>Not only do I own a Ferrari sports car, but my boyfriend also gave me a BMW on my 24th birthday. My subordinates often rotate and maintain a squad of female soldiers to serve me exclusively in the small building where I live alone. These female soldiers are all young, beautiful and docile girls carefully selected for me by my secretary. They are all recruits under the age of 20. They are very afraid of me, a senior cadre and a major leader, so they are very docile. Even my secretary, a 27-year-old veteran with the rank of lieutenant, does not dare to neglect me, a princess-like boss, and treats me as her queen.</p>

<p>"Hmph! Otherwise, I would have relegated her to the frontier long ago."</p>

<p>I am an only child, and I probably have a bad temper since I was a child. I only know how to boss around and often beat and scold the servants - my father's secretary, guards, drivers and nurses. Now I am even more unscrupulous towards my own secretaries and orderlies, beating and scolding them at will, and none of them dared to resist at all.</p>

<p>One night, probably because I drank too much water during the day, I had a hazy dream about going to urinate. Suddenly I was suffocated and woke up. I opened my beautiful eyes and thought about it? Oh, it's true. I was lying on the warm bed, too lazy to get up, when I suddenly came up with a weird idea that I had never had before:</p>

<p>"Who's on duty?" I murmured.</p>

<p>Every night there were two female soldiers on duty kneeling on the floor above my bedroom. This was the rule. And they don’t wear military uniforms, they only wear sexy underwear-style short aprons, dressed like maids in the Western Middle Ages. This was my boyfriend’s idea.</p>

<p>The young female soldier's lotus-like white arms and plump and beautiful thighs are outside, without a cover. Her plump breasts are bulging in front of the apron, and her white buttocks are also exposed. A red thin belt is tightly inserted into the buttocks. There is only a small pink triangle cloth in front, which barely covers the young flowers. Fortunately, these female soldiers are all young. They have just grown and have not spread to a large place. They only have some soft curves from the narrow triangle edges.</p>

<p>They were all very shy in this outfit at first, especially when my boyfriend came over, but after a while, they got used to it.</p>

<p>"Xiao Xiao, I want to let go. You come up and cover it with your mouth. You have to drink it without even a drop leaking out." I didn't open my eyes and mumbled in a daze.</p>

<p>"Yes! Ah?... Chief... What..." Xiao Xiao suspected that he heard wrongly and looked at Xiao Zhang in panic.</p>

<p>"Yes, yes." Xiao Zhang nodded to her, affirming: "Hurry up! Otherwise the chief will punish you again."</p>

<p>"I... am." Although Xiao Xiao was very surprised that the commander could give such an order and felt extremely humiliated, he still had to obey the commander's order because the princess commander was too arrogant and would be severely punished and whipped if he did not get what he wanted. Therefore, these female service soldiers were very afraid of this young commander and had developed the habit of being submissive.</p>

<p>Xiao Xiao carefully climbed into the chief's bed from the foot of Avon's silk camel hair blanket. The leader was wearing a silk nightgown, and Xiao Xiao gently lowered the hem of the nightgown to his lower abdomen. It was dark under the quilt and he couldn't see anything, but Xiao Xiao could smell the faint fragrance emanating from the leader's young and delicate skin, especially the smell unique to that place, which made Xiao Xiao quickly find the place.</p>

<p>"What should I do? Do you want to cover it with your mouth? This is too insulting! You still want to drink?! Is this...is this also a soldier's bounden duty?!" Xiao Xiao was humiliated, angry, but also frightened. "Can I resist the chief's order? Can I?" Xiao Xiao was very conflicted in his heart. In the end, I had to make up my mind, open my eyes, and slowly explore the secrets of Avon.</p>

<p>"Oh..." Avon's vagina trembled slightly, and her legs spread slightly. It was the first time Avon tasted another girl's mouth for her secret sting. "Ah! This feeling is so novel and comfortable!" Avon felt hazy and experienced pleasure like never before!</p>

<p>"Xiao Xiao, I can't come out, please." Avon continued to order Xiao Xiao.</p>

<p>Xiao Xiao didn't dare to neglect. At this point, he had no choice but to resign himself to fate. Xiao Xiao had no choice but to do it seriously. Although Xiao Xiao had never done this before, he did it with his boyfriend, so Xiao Xiao knew where to stab him. Xiao Xiao raised his soft tongue and moved it up and down the inside of the leader's penis. The leader's penis gradually began to move and became soft with Xiao Xiao's tongue. Xiao Xiao also gradually got into the mood, became greedy, and from time to time took the two pieces of the leader into his mouth and slurped hard.</p>

<p>"Oh...ah...so comfortable..." I began to react, my body swaying in pursuit of Xiao Xiao's hot tongue.</p>

<p>Xiao Xiao began to attack the leader's bulging bud with the tip of his tongue, "Wow... ah... oh..." I gradually got closer and closer, feeling that my whole body was filled with an inexplicable pleasure and movement. "Oh...ah..." Xiao Xiao's tongue has invaded Avon's flower alley, and a large amount of juice gushes out of the pot uncontrollably. "Squeak, squeak" Xiao Xiao sips Avon's juice hungrily.</p>

<p>"Ah...ah...ah...I'm...going to let go..." Avon shouted out fiercely.</p>

<p>As Avon screamed, Avon reached her climax, and at the same time, the anxious Ye also let out.</p>

<p>"Uuuuuuuuuuuuuuuuuuuuuuuu"</p>

<p>"Wow...oh...ok, so comfortable!" Avon breathed a long sigh of relief, feeling relaxed all over his body, his bones seemed to be falling apart, and he lay limp in the warm quilt.</p>

<p>"Eh?! Damn it, why did you miss it?"</p>

<p>"Ah! I...I, I..." Xiao Xiao knew that he had committed a heinous crime. His face turned pale with fright, his whole body trembled, and he stammered: "Chief, I...I was wrong...Please punish me, chief."</p>

<p>I was sleepy and said, "First, take off your clothes and kneel outside, with a bowl of water on your head, and reflect. We'll talk about it tomorrow." Xiao Xiao really didn't dare to disobey the order. He didn't care about the shame, so he took off his clothes, took a bowl of water, and knelt there in the yard outside. He didn't dare to shake the bowl of water on his head. It was late autumn at that time, and it was almost freezing outside at night. The cold sea breeze made her skin feel as painful as a knife. She was still a young girl who had just started to have an affair, and she was kneeling naked outside. Naturally, she was extremely humiliated. But she really didn't dare to disobey the leader's punishment order even in her dream.</p>

<p>After dawn the next day, my father got up for morning exercises and saw a young girl kneeling naked in the yard. He walked up to her and asked her: "My child, what mistake have you made?"</p>

<p>"I didn't serve the leader well." Xiao Xiao was ashamed and replied tremblingly.</p>

<p>"It's so cold, I'm going to freeze. Go back to the house quickly." The old chief touched Xiao Xiao's face, which was red from the cold, with compassion.</p>

<p>The female soldier was indeed so cold that she could hardly hold on. Her whole body had turned purple, and her two breasts that were about to grow were almost frozen solid. And she knelt naked in front of others, so ashamed that she wished she could crawl into the ground.</p>

<p>"No, no, I can't go back without the commander's order. I am a soldier and can persevere in any difficulty. If I do something wrong, I should be punished." The little female soldier replied firmly.</p>

<p>"Alas! This child is a silly girl." The old chief shook his head and walked away. He didn't know whether he was talking about his daughter or Xiao Xiao.</p>

<p>"Eh?! Isn't this Xiao Xiao?" Xiao Li, the male driver of the old leader, discovered the naked female soldier. "Oh, Xiao Xiao, you are so cold!" Xiao Li took the opportunity to touch Xiao Xiao's pair of erfeng rooms. The driver, Xiao Li, is usually very good. How could he miss this God-given opportunity?</p>

<p>"Don't, don't be like this, Brother Li." Although Xiao Xiao knew that Xiao Li was hypocritical, he couldn't refuse this "concern" on the surface, but he felt extremely humiliated in his heart. And with the water bowl on his head, he didn't dare to move.</p>

<p>"Let me warm you up, hehe!" Xiao Li covered Xiao Xiao's room with one hand, and pinched Xiao Xiao's other head with his thumb and index finger with the other hand.</p>

<p>"No, no, Brother Li, please, no!" Xiao Xiao felt very humiliated.</p>

<p>"Wow! You're not even wearing any underwear!" Xiao Li had seen it a long time ago, but he deliberately said it, glancing at Xiao Xiao's private parts with sticky eyes: "You look very beautiful!"</p>

<p>"You, you, please, don't say those words again, it's so embarrassing."</p>

<p>There were gradually more and more people in the yard, and Xiao Xiao's sense of shame became more and more intense as the number of people increased.</p>

<p>People coming and going just looked at the naked female soldier kneeling in the yard, but showed no sympathy at all, because this kind of thing has become commonplace here.</p>

<p>Even her boyfriend couldn't easily see young Xiao Xiao's plump body, but now she was kneeling naked and on display here. Xiao Xiao endured great humiliation in her heart, but she knew she could never resist the leader's order.</p>

<p>I had forgotten that there was a female soldier kneeling in the yard, and I was about to go out to the regiment headquarters when I suddenly heard a pitiful voice: "Chief, I..." Xiao Xiao was worried that she would have to freeze here for a day when the chief went to work, and she would not survive, so she boldly asked the chief, which meant begging him for mercy.</p>

<p>"Oh! Are you here? Stupid pig, go back to the house. I'll deal with you at night. Write me a review and reflect on it seriously."</p>

<p>"Yes, Chief." Xiao Xiao stood up, stood at attention, held his head high, and walked into the room with goose steps. People in the yard felt a little funny when they saw the naked Xiao Xiao maintaining his military demeanor.</p>

<p>When I got home in the evening, I saw Xiao Xiao standing upright in the porch, still naked. I suddenly felt a very noble honor. I just said a casual word, but Xiao Xiao obeyed so seriously. This kind of fun of enslaving others is really wonderful!</p>

<p>"Chief, this is my review." Xiao Xiao respectfully presented her review with both hands.</p>

<p>Oh, read it to me. "Under the service of the female service soldiers, my servants, I changed into casual clothes and lay on the recliner with my eyes closed to meditate. Two servant girls came over and knelt on both sides of me, gently beating my legs.</p>

<p>"Chief, I am guilty. Due to my negligence, I failed to drink the leader's drink completely, causing the holy water to spill on the leader's forehead, which not only soiled the sheets, but also affected the leader's rest. If the leader did not rest well, it would affect the work, affect the military work of the entire regiment, and cause huge losses and sacrifices. Therefore, seeing that I had indeed committed an unforgivable crime, I asked the leader to severely punish me, and I was willing to do so. In addition, in order to avoid making such mistakes in the future, I decided to practice my drinking skills and asked the leader to let me drink everything from now on. I would be the leader’s pot. "</p>

<p>"Oh! Haha, you have a profound attitude towards admitting your mistake. Okay, I will give you all I have to drink from now on. This time, let’s get a lighter punishment. Xiao Zhang, put a 50 belt on her buttocks, Xiao Xiao wants to count.</p>

<p>"Yes, thank you for your kindness, chief." Xiao Xiao gave me a military salute, then walked to the corner and kicked up his buttocks to accept the punishment.</p>

<p>"One, two, three..."</p>

<p>"Pah, pah, pah..."</p>

<p>…</p>

<p>"48, 49, 50."</p>

<p>"Report to the chief, the fight is over."</p>

<p>Xiao Xiao's originally white buttocks were now swollen and turned pink.</p>

<p>"Well, okay, let's go back and get dressed."</p>

<p>"Yes, Chief." Xiao Xiao struggled to walk and staggered.</p>

<p>Alas! In fact, I am not always so domineering. I was born into a political family, and I learned about power and sophistication at a very young age. To my boyfriend, I had no choice but to obey him because his father had a higher status than mine. My "love" with my boyfriend is purely a political marriage. He has countless beautiful girls around him, and one of them changes almost every week. Of course, I also raised two beautiful little boys behind his back. He also pretended not to know about this and turned a blind eye.</p>

<p>Of course, I can't control his affection. Even if he catches me sometimes, I can't do anything about it. Sometimes, in order to please him, I even order my female soldiers to do it with him. Just because of my skillful wrists, I was able to tie my boyfriend to me more firmly for a long time. Because of our relationship, our fathers helped each other politically and our positions were stabilized.</p>

<p>Once, the Central Military Commission came to the military region for an assessment, and my dad was found to have some problems. Dad bribed a central official with 500,000 yuan. But the senior official still didn't seem to have made the final decision. Dad was as anxious as an ant on a hot pot, and he was frowning all day long.</p>

<p>"Alas! It seems I have to help dad."</p>

<p>That evening, I went alone to the residence of the Central Committee members. ?</p>

<p>"Chief, can I have dinner with you tonight?" I hinted bluntly.</p>

<p>"Oh?!..." The central officials were a little surprised, but seeing my charming eyes and sexy figure, they couldn't help but agreed, "Okay, come in!"</p>

<p>"Yes." A confident and contemptuous smile flashed across my lips. "No man can resist my temptation!" I thought proudly in my heart.</p>

<p>I got drunk on purpose during dinner. I snuggled into the chief's arms and looked at him drunkenly: "Chief, can I help you take a bath?"</p>

<p>"Ah? Then..." The chief was a little surprised by the teasing of my bones.</p>

<p>"Okay?" I twisted deliberately.</p>

<p>"Ah...ok...ok!"</p>

<p>"Come on, let me help you get dressed." I undressed him a little unsteadily, and I also deliberately twisted myself until I was completely naked. I leaned against him and we entered the bathroom together.</p>

<p>That senior man can be my grandpa. The wrinkled skin and the weak man made me heartbroken, but my purpose was clear, so I gritted my teeth and endured it. We soaked in the warm bath together, I pretended to be confused and let the old ghost touch my delicate body arbitrarily.</p>

<p>After letting him play with it for a while, I finally spoke: "Chief, let me apply foam to you." As I spoke, I used my huge penis to carefully apply foam all over his body, and deliberately squeezed his penis repeatedly.</p>

<p>"Oh...wow! Xiao Shang, you are really good!" His man finally got aroused, and I took the opportunity to take it in my mouth immediately. The tip of my tongue teased the most sensitive part of the head, and I often took the two shriveled balls into my mouth and sipped.</p>

<p>"Oh...ah...quickly! Shang, let me in quickly..." He finally got angry.</p>

<p>"Chief, please be my godfather! I miss you so much!" I said in a sweet voice.</p>

<p>"Oh...that's great...we can see each other in the future!"</p>

<p>"Yes, godfather! You are really my good godfather! As soon as you call me from now on, I will come to see you right away." I said to him more enthusiastically: "Godfather's food is so delicious! I want to eat it often!"</p>

<p>"Ah...ah...my dear daughter, you are so wonderful!"</p>

<p>"Dad, you must help me solve my dad's problem!" I seized the opportunity to say the most important thing. ?</p>

<p>"That's natural, my good daughter, come on, give it to daddy!" The old man couldn't hold on anymore.</p>

<p>"Well, godfather, come here, my daughter, my daughter's baby is dead." I said in a cooing voice, while I raised my fat ass high by the bathtub, and the bright red and soft flower was completely exposed in front of the old ghost.</p>

<p>"Dad is here." The old man came into my house with a stiff "Puff".</p>

<p>"Oh...ah..." I also half-seriously and half-falsely expressed my feelings, swaying my butt excitedly with his, and it didn't take long for the old ghost to die.</p>

<p>I deliberately tortured him, and just now, I started to hold his soft stick in my mouth again, and at the same time, I used a pair of jade hands to gently caress his bag. After a while, I made him semi-hard again. This time I asked him to sit on the small stone bench in the bathroom. I sat in his arms and clamped the semi-hard in my still-unfilled pot, and I actively rocked it.</p>

<p>"Oh...ah..." the old man enjoyed it crazily.</p>

<p>"Oh...ah..." I also circled him hungrily.</p>

<p>"Ah...ah...I can't do it anymore..." The old ghost was fucked by me again, but I still didn't have enough and continued to caress the old guy.</p>

<p>"Ah...ah...my good daughter, my father is dying, I am..." The old ghost began to beg for help.</p>

<p>"No, I want it more!" I acted coquettishly and asked the old ghost for more.</p>

<p>"My baby, are you going to kill me? Dad is really exhausted." The old ghost was already out of breath.</p>

<p>"Okay." I waited for the old ghost to wash himself off without mercy, and then helped him go to bed and sleep together until dawn.</p>

<p>When I got up early the next morning, before I had breakfast, I made him hard again and raped the old ghost again. The old guy was really frightened, and he kept begging for mercy. In the end, not only did he not investigate and deal with my biological father, he also gave me 100,000 yuan as a gift for recognizing his daughter.</p>

<p>"Hey, how about it? My skills are extraordinary!" In the future, due to my dedication, of course my dad was promoted to commander.</p>

<p>Later, as a representative of the regiment, I went to Beijing for a meeting. In the presidential suite of a five-star hotel, I relived the dream with my godfather.</p>

<p>After a long night, when I woke up, my godfather was already sitting on the sofa in his nightgown, drinking tea.</p>

<p>"Baby, wake up, let's have breakfast." I lazily got up, went naked to the living room, drank a cup of warm water, and ate a few bites of sandwiches.</p>

<p>"Dad, I'm so sleepy." I said in a cooing voice, and then I pushed myself into the old ghost's arms: "I want more!"</p>

<p>"Look, look, it's here again. Dad is old and can't survive. You almost died last night." The old ghost's withered hands were squeezing my room. I put my hand under him and played with the soft and droopy member.</p>

<p>"Dad, what time is it? Why don't you leave? Commander Chen is waiting for you." The old man's third son came here to look for him.</p>

<p>"Ah!..." I screamed and cowered in the old ghost's arms, ashamed. I was naked and didn't know how to cover my shameful body.</p>

<p>"Oh, let's go now." The old ghost said and got up. "Baby, it's okay. Go play with the mistress. He is young and strong." After saying that, he pushed me away, got up and dressed, and left under the guard of the guard.</p>

<p>"Godfather." I squatted on the carpet in panic, not daring to look at the third young master who was about my age.</p>

<p>"Haha, haha, beauty, are you still shy? Come on, crawl over here and let me play."</p>

<p>"Ah?! He actually said it was for fun? What am I? A toy?" I felt extremely humiliated in my heart, my whole body was trembling slightly because of this, and my blushing face was like a fire. "I...I'm just their toy." I slowly crawled to his feet in shame and coyness.</p>

<p>"Here, help me with my shoes with your mouth." He sat proudly on the sofa, crossed his legs, picked up a newspaper of the day and started reading. "Come on, man, watch out for me." He didn't even look at me.</p>

<p>"Oh my god! He is so much better than me. He simply doesn't regard me as a human being. No matter how bad I am, I am still considered the commander's daughter!" I felt so humiliated that I couldn't even get angry. "Oh, Dad, Dad, for the sake of your future, I have no choice but to be insulted."</p>

<p>I gritted my teeth and crawled in front of the third young master's feet. I opened my mouth and bit the third young master's leather shoelace, and pulled it bit by bit. Finally, I opened the door. "But how can I take off his shoes?" Naked, I crawled in front of his feet like a dog, looking at the shiny leather shoes and thinking hard about it.</p>

<p>"Yes!" I bit the back of his shoe with my teeth and pulled it down hard. "Successful!" I finally took off his first leather shoe with my mouth. Although I feel very shy, I also feel the joy of success!</p>

<p>"I'm such a loser, but I'm actually happy doing this." I scolded myself.</p>

<p>Then he first asked me to take a bath for him, and then asked me to use the room to bathe his whole body, and then used my mouth to make his penis hard. This kid was very playful and wanted my eyes. I had never been so humiliated before. I refused, but he didn't care about my noble status and slapped me hard several times. I had to give in.</p>

<p>"My good brother, my eyes have never been done like this before, please be gentler!" I begged him with tears in my eyes.</p>

<p>"Okay, okay, baby, I'll be gentle. Virgin eyes like yours are my favorite."</p>

<p>"Ah!...It hurts!...Slow down...Slow down..." I felt his hard member slowly pushing open my shy anus petals, unstoppably entering my eyes and my delicate rectum inch by inch. I only felt strange pain and humiliation, and I was shaking all over, but I couldn't refuse this prominent man. He had the ability to destroy my family, and I had to sacrifice myself.</p>

<p>"Ah! Ah! It hurts so much. Please be gentle."</p>

<p>"Your eyes are so good, so tight. I haven't had such a good eye in a long time."</p>

<p>My mind was completely controlled by the penis in my rectum. I lay on the imported high-end carpet like a bitch. The huge hanging room swayed heavily with the penis, and the muscles all over my body twitched with the sharp pain like tearing.</p>

<p>He was getting harder and hotter, and his movements became more and more violent. Along with his loud howl, I felt a heat deep in my rectum. He pulled out, but my delicate eyes were still open and my mouth was moving. I could no longer control it. I was exhausted and unable to get up, so I had to lie still and breathe.</p>

<p>"Haha, little baby, it looks like your eyes haven't eaten enough yet, and you're still asking for it with your mouth open. Here you go." As he said that, he picked a big green banana from the fruit plate and thrust it into my eyes cruelly. At first, a piece of it was left outside, like a dog's tail.</p>

<p>"Little bitch, crawl twice for me."</p>

<p>"You?! How could you do this to me?" I cried aggrievedly.</p>

<p>"Ah ha, are you still aggrieved? There are so many beautiful female stars who want to wink at me, but I still think she has no class! I've been lucky enough to treat you the first time we met. You should feel so honored that you should thank me. Do you still dare to complain?</p>

<p>Do you still think about it? I can make your father step down with just one word. As long as I am happy, I can put you in my dog cage and raise you like a dog. If you don’t believe me, come and take a look at my house. I have three beautiful dogs tied up in the house right now. "</p>

<p>"Ah!..." I was shocked, he did have that ability. I suddenly lost my self-esteem, and immediately climbed up on the carpet like a dog, climbed up to him, and coquettishly took his limp hair, which was covered with a mixture of yellow and white stickiness, and smelled of shit, into my mouth, carefully and cleanly, and he stroked my hair with satisfaction.</p>

<p>"Good brother, it's all my fault, little sister. I don't dare to make you angry anymore. From now on, I can do anything you ask me to do." I had to say these words against my will.</p>

<p>"Hmm, that's good. Brother won't treat you badly." As he said this, he forced all the bananas that were so long into my eyes.</p>

<p>Before it was over, he picked up the small perfume bottle on the dressing table and forced it into my front vagina. Finally, he used two clothespins to tightly clamp my two pink vaginas.</p>

<p>"Oh! It hurts, okay."</p>

<p>"It doesn't hurt, it doesn't hurt, you will get used to it." He said and put a clothespin on each head.</p>

<p>"Ah!" Severe pain spread from my head to my whole body, and I was shaking slightly.</p>

<p>"Hehe, honey, okay, I'm going to take you shopping and give you some gifts."</p>

<p>"Good brother, how can I leave like this? I'm so sad!"</p>

<p>"Slowly you will get a good taste. By the way, I'll give you some more perfume." He took out a small bottle of yellow perfume from his pocket and put some on my thighs, inner thighs, and eyes. It felt cool. Reluctantly, I put on my tight jeans and a tight top and tried walking around the house a few times.</p>

<p>"Ah! That taste is so uncomfortable!" I had a headache and pain. My rectum and eyes were filled to the brim with big bananas, and my vagina was also filled with perfume bottles. The tight jeans prevented the bananas and bottles from falling out. The bulge of the clamps was vaguely visible in front, and the tights were also stretched strangely around the head. Thinking of this made me feel extremely humiliated, but I had no way to escape or resist it all. I followed him downstairs with difficulty and took his big Mercedes to the most upscale commercial building.</p>

<p>When walking in the shopping mall, I had to pretend to hold his arm, otherwise I wouldn't be able to walk a step. But even so, my walking posture was weird, and many people looked at me strangely. I felt so ashamed that I had never felt ashamed before!</p>

<p>Later, I gradually felt a new kind of thorns attacking my whole body in waves from my butt, eyes and inner thighs. I tried to control this feeling, but it became stronger and stronger. My plump part began to twist slightly, and my thighs were secretly rubbing against each other. In my mind, I never wanted to make such an extravagant gesture in such a high-end public, but it seemed that I could no longer control my body.</p>

<p>"I have to go to the bathroom." I whispered to him.</p>

<p>"Do you want to do it?" He actually whispered, but directly hit my mind, and I couldn't help but feel ashamed.</p>

<p>"Don't go anywhere, just follow me." He warned me calmly but majestically, so I had no choice but to endure the pain and follow him around. But he deliberately took me to a crowded place, humiliating me to the point of shame, but he was even more proud!</p>

<p>I should be considered a rich person. I have a car, a fur coat, everything. But the way he spent money to give me gifts really shocked me:</p>

<p>Give me a pair of high-top stockings, French brand, 3,500 yuan!</p>

<p>Give me a pair of Italian lace bra, 3800 yuan!</p>

<p>Give me a German one for 2,700 yuan!</p>

<p>Give me a pair of high heels, 8,800 yuan!</p>

<p>Give me a Kun bag for 12,000 yuan!</p>

<p>Give me a set of autumn clothes for 22,000 yuan!</p>

<p>Give me a windbreaker, 31,000 yuan!</p>

<p>Give me a bottle of French perfume for 6,000 yuan!</p>

<p>Give me a set of French cosmetics for 8,000 yuan!</p>

<p>Give me a South African diamond necklace for 80,000 yuan!</p>

<p>Give me a ruby and diamond ring for 70,000 yuan!</p>

<p>Give me a Kun watch for 50,000 yuan!</p>

<p>He bought 300,000 yuan of small gifts for me in the shopping mall. Not only was I shocked, but the American general manager of the shopping mall was also shocked. He personally put us in the car and bowed.</p>

<p>In the next three days, he gave me another gift of nearly 700,000 yuan, but I also paid a huge personal and physical price. He took me to gatherings among his male and female friends and only introduced me as the daughter of a certain military region commander and the future daughter-in-law of a certain commander. But he never introduced his friends to me. Maybe I was not qualified to know them.</p>

<p>I consider myself a son of a high-ranking cadre. How many commanders’ daughters can China have? But in this small group of high-ranking officials who look up to others, I am just a toy with some status.</p>

<p>At their parties, anyone could order me to do anything, and I was often stripped naked and left to the indignity of these men and women. Once they tied my hands behind my back and clamped them tightly with special steel clamps. My head was pierced and a small ring was hung. Then they hung a tray with drinks and snacks in it to serve them. What humiliation and pain I endured at that time! Looking back now, I still feel scared.</p>

<p>Oh? It seems that one day, he took me to a large, heavily guarded yard, which was ten times larger than my yard. There were small bridges and water, rockery and real trees, lawns and flower beds, and pavilions. It seemed to be his unmarried home. The girl was very beautiful, about the same age as me, but her arrogance was beyond my reach.</p>

<p>She kissed him affectionately and asked him: "Who is she?"</p>

<p>"Oh! She is the daughter of a certain commander, the future daughter-in-law of a certain commander."</p>

<p>"Hey! Is there something new?"</p>

<p>"Where, where, how dare you, how dare you, she is just another little bitch begging for food."</p>

<p>"Really?"</p>

<p>"Really, if you don't believe me, I'll show it to you." After he finished speaking, he called to a young man who looked like a secretary in the distance.</p>

<p>The man ran over diligently: "Sir, what are your orders?"</p>

<p>"Huh? Didn't her father go to the Politburo meeting? Why didn't you secretary go?"</p>

<p>"Oh, Secretary Wang has gone. I stayed at home to take care of the lady."</p>

<p>"Oh, that's it. You go and make her look like a dog."</p>

<p>"Yes." This secretary-like man nodded. I can understand this kind of person.</p>

<p>He took me to a house and ordered me to take off my clothes indifferently, as if my son was not a human being. I knew that resistance was futile, so I had no choice but to give up my shame and get naked in front of this strange man. Then the secretary used some props that I had never seen before to dress me up. Put on a dog collar, put on a dog leash, put on a headbell, put on handcuffs and leg cuffs, and finally put on a blindfold and a chew. This is how I became a beautiful dog.</p>

<p>The secretary led me to catch up with him and her: "Miss, sir, it's done."</p>

<p>"Oh, thank you for your hard work."</p>

<p>"No, no, it doesn't matter. It's an honor to serve you. This puppy is very beautiful and plump."</p>

<p>"Oh? Just try it if you like?"</p>

<p>"No, no, that's not what I meant. Young lady, please play slowly while I go back to the room."</p>

<p>I was led by this noble lady like a blind dog, crawling on the lawn.</p>

<p>"Oh! I can't bear to look back!" Later, I was sent home by his special plane. I forgot the humiliation in Beijing and became a noble queen to my servants again.</p>

<p>However, I have also learned some of the tricks used by upper-class young ladies to treat living people like playthings and animals. Several of my female soldiers became my pets, and I had two pretty boys. For a while, I simply made them naked like male dogs. I tied leather collars specially designed for military dogs around their necks, tied them to my head with a dog chain, and ordered them to check my pedicles and eyes.</p>

<p>The fun of enslaving people is indeed good! No wonder those princes and grandsons do not keep real cats and dogs as pets, but instead keep young and beautiful girls and boys as pets.</p>
