<h1>An unexpected surprise</h1>

<p>I've always considered myself a good person. This illusion lasted until Ma Rong and Song Zhe became famous. Because I feel like what I did was much more serious than what they did... Fortunately, I found that accepting that I am a bad person is easier than I thought.</p>

<p>I am a small wholesaler and have been doing this for more than ten years. At the beginning, the shop was very small, with only four people including me. The person who has been with me the longest is called Zhao Xin. He's our store manager. He is very kind, likes to help others, is very enthusiastic, and also likes to chat. We spend almost ten hours working and chatting together every day. After more than a year, I have become very familiar with it.</p>

<p>At that time, I had a bad heart but not a courage. Although there was a little ambiguity between us, I couldn't think of any way to clarify it. Mainly because I don't dare. Too cowardly...</p>

<p>The story begins with a small accident.</p>

<p>One day just after get off work, I received a call from Zhao Xin.</p>

<p>"Hey, boss, are you leaving?"</p>

<p>"Not yet. I'm just going downstairs. I haven't left the mall yet. What's wrong?"</p>

<p>"Some bastard hit me while riding a tram, and he ran away shamelessly. The pain in my back is really bad now, and I'm afraid my waist is flashing. Can you take me to the hospital for a checkup?"</p>

<p>"Okay, it's okay. Where are you? Wait for me."</p>

<p>Driving to the hospital.</p>

<p>"Does your back hurt badly? How does it feel?"</p>

<p>"Well, when it first hit me, it hurt so much that I couldn't breathe. That bastard didn't care about me when he saw me lying on the ground, and ran away! I really hope he can get to the front and be killed."</p>

<p>"Then you have to go to the hospital to take a X-ray to see if there is anything wrong with the bones. As long as the bones are okay, you are fine. I just have a few days of rest at home. By the way, what will your daughter do after school? Do you want to pick her up on the way?"</p>

<p>Because Zhao Xin has to pick up her daughter who is in kindergarten, she leaves a few minutes early after get off work every day.</p>

<p>"It's okay. I called my mother and asked her to pick her up. Let her stay at my mother's place first."</p>

<p>The film was taken in the hospital. Zhao Xin felt that her back pain was much lighter. The results of the film will not be available until the next day.</p>

<p>"Where's your husband? Why didn't you ask him to come over?"</p>

<p>"My husband is on a business trip. He's not at home."</p>

<p>On a business trip? My mind changed. Zhao Xin seemed to be fine. She herself said that it shouldn't be a big problem. I thought I would definitely regret letting such a God-given opportunity pass. So I drove her to the downstairs of her house.</p>

<p>I said, "I'll help you up."</p>

<p>"Well, no need, I'm fine." Zhao Xin resisted slightly, but his refusal was not firm.</p>

<p>I didn't listen to her, grabbed her waist and held her in my arms. He said: "It's better to hold on tight, in case it flashes again. But it will be a big trouble."</p>

<p>It was quite dark. I couldn't see her face clearly either. Under the cover of night, Zhao Xin did not refuse again.</p>

<p>He was half pushed and half carried by me and walked upstairs. Entered home.</p>

<p>"Hurry up and lie down on the bed. Let me see how the place where you hit it is?"</p>

<p>She coyly crawled onto the bed. He buried his head in the pillow. When I saw it, since you were pretending to be an ostrich, I wouldn't be polite. Everyone knows this. You can't wait for the woman to speak first.</p>

<p>I was also excited to death at this time. Get on the bed and lift up Zhao Xin's clothes. Exposing her smooth back.</p>

<p>"It's a little bruised. Let me take a look here." As I said that, I pulled her pants down a little, exposing half of her buttocks.</p>

<p>"Does it still hurt?"</p>

<p>"It doesn't hurt much anymore."</p>

<p>"I'll rub it for you."</p>

<p>It would be more appropriate to say it was rubbing rather than stroking. I gently touched her back and slowly stretched my hand forward.</p>

<p>Gritting her teeth, she put her hand directly into Zhao Xin's bra.</p>

<p>Zhao Xin groaned and buried her head deeper. His breathing became heavier. However, he did not stop him!</p>

<p>I rubbed Zhao Xin's breasts and pinched the hardened nipples with my fingers. My cock was so hard that it was about to explode. My heart that had been hanging around finally dropped.</p>

<p>I knew Zhao Xin was moving. If a woman is willing to let you rub and caress her breasts, it means that she has accepted you in her heart.</p>

<p>Then I became bold. One hand rubbed her chest, and the other hand pulled Zhao Xin's pants down to her knees. I reached out and touched it, my dear, it was muddy.</p>

<p>Women are like eggs, hard on the outside but very soft on the inside. The hard part is how to break their shell.</p>

<p>Once the shell is breached. They will throw away their armor and be defeated.</p>

<p>"Lie down here, lie flat."</p>

<p>Sure enough, Zhao Xin was much more obedient at this time. He said nothing, but turned over obediently.</p>

<p>I continued to rub my chest with one hand. Putting one hand around her neck, "Zhao Xin, I like you. I have been for a long time. I dare not tell you. It's great that I finally have you." After saying that, I kissed her, and Zhao Xin blushed like a monkey's butt. But as soon as their mouths touched. The little tongue stuck out.</p>

<p>Soft tongues intertwined. The deep, forgetful kiss really made me feel a little bit like I was in love.</p>

<p>I quickly took off my clothes. Then he stood up with his dick erect.</p>

<p>"Come here. Help me."</p>

<p>Zhao Xin knelt down. Kneeling upright, his mouth was facing my cock, his eyes were staring at my cock, breathing heavily, his face was red as if he had a fever.</p>

<p>I held my dick with my left hand and touched Zhao Xin’s head with my right hand. Weiwei slapped Zhao Xin's mouth hard. I originally thought that it would take some effort, and at least I would have to beg Zhao Xin before she would help me eat. I didn't expect it to be smoother than I imagined. Young women are good, you don’t need to say much, people will understand.</p>

<p>Zhao Xin opened her mouth and took my cock. He vomited back and forth.</p>

<p>"Yes, that's it. Take it deeper."</p>

<p>"Be careful that your teeth don't touch me. Cover them with your lips."</p>

<p>"Put your lips together hard."</p>

<p>"Where's the head? Let me feel the head."</p>

<p>"It feels so good, so comfortable, Zhao Xin, it feels so good, your little mouth is so hot, it feels so good to lick it!"</p>

<p>Zhao Xin's ventriloquism is obviously a bit rusty. But the stimulation in my heart is too strong. A wife who is very strong at home kneels on her bed to give you a blowjob and lick your dick. It is really great. The stimulation of betrayal is really too strong.</p>

<p>And I don’t know why. Zhao Xin was very obedient. I let her take it deeper. She really sucked it in hard. Hands on my ass. Kneel straight up. Use your arms and head together. Like helping me fuck her mouth. Fuck him directly to his throat, and stop only when he feels like he's about to retching.</p>

<p>I said smacking my lips together, hard. I really felt it right away. She sucked harder. Even my teeth still bump into me occasionally. Practice makes perfect in everything. There is no way to do it skillfully right from the start.</p>

<p>I said let me feel the tongue. Zhao Xin used his tongue to press the glans every time when my cock entered.</p>

<p>Then rub the dick with your tongue and eat it inside.</p>

<p>While Zhao Xin was eating the dick, she raised her eyes and looked at me. Eye to eye. She spit out the dick in embarrassment and said, "Don't look at me, don't look at me." Then she opened her mouth and took it in.</p>

<p>I was so happy. She looked up at her husband. Their wedding photos hang above the bed. Zhao Xin’s husband looked at me with a happy smile. I also looked at him with a smile. He stroked his wife's head with his hand.</p>

<p>However, his wife did not see the eye contact between us. Now his wife only had a cock in her eyes, and she was eating it sizzling with relish. For some reason, trying to serve the cock in her mouth was like a kind of belief. She didn't know how to think, she just kept eating, eating deeper, and sucking harder.</p>

<p>I looked up at Zhao Xin, who was wearing a white wedding dress, and looked down at the woman who was trying hard to help me eat my cock. I felt so conquered. I held Zhao Xin's head with both hands and suddenly pushed hard, and my cock penetrated Zhao Xin's throat. Zhao Xin groaned in pain and pushed me away.</p>

<p>"I'm in tears. I hate it. It's so deep."</p>

<p>"The deeper you eat, the happier I will be. Come and eat by yourself, as deep as you can. I won't hold down your head, okay?"</p>

<p>Zhao Xin wiped her tears, rolled her eyes at me, opened her small mouth and took my dick in. My mouth was a little deeper than before, and every time I had a gagging reaction, I quickly pulled away.</p>

<p>In fact, it doesn't feel particularly satisfying when I poke it just a little bit deep. It's mainly psychological stimulation. Seeing the woman kneeling under me, enduring the discomfort to serve you, just to make you happy, regardless of how despicable I am, it really makes me happy. After Zhao Xin took it for a while, I felt the urge to ejaculate and quickly withdrew. The stimulation was too strong.</p>

<p>"Lick your balls." Zhao Xin lowered her head, stretched out her tongue and licked from his dick to his balls. To be honest, licking the balls doesn’t feel like much, both mentally and physically, it’s far less satisfying than eating a dick. I just wanted to calm down and not cum all at once.</p>

<p>Calm down for a moment. I pushed Zhao Xin onto the bed. Use the most normal posture. Spread Zhao Xin's legs.</p>

<p>"Hold your legs." Zhao Xin opened her legs obediently. His face was flushed and he didn't dare to look at me, so he turned his head to one side.</p>

<p>I held my cock and entered easily. Slow thrusts. Zhao Xin hummed, suppressing his moans. I rubbed Zhao Xin's breasts with both hands.</p>

<p>"Zhao Xin, do you feel good? Are you comfortable? Well, do I feel good about it?"</p>

<p>Zhao Xin didn't answer, as if he didn't hear him. He was on his side, trying his best to suppress his moans.</p>

<p>I straightened Zhao Xin's head. "Look at me. Does it feel good to tell me?"</p>

<p>Zhao Xin let go of his thighs. He covered his eyes and still refused to speak. I leaned down. Kiss Zhao Xin's little mouth. Zhao Xin's tongue still stretched out forcefully right after the kiss. Tangled with my tongue.</p>

<p>This is a typical example of not saying anything with your mouth, but being very honest with your body.</p>

<p>Originally I was thinking, what if Zhao Xin asked me to wear a condom? It's impossible for me to run out and buy a condom at this time, so I can only borrow it from Zhao Xin's husband. But unexpectedly, she didn't even mention it. Since Zhao Xin didn't mention it, it was naturally impossible for me to mention it.</p>

<p>Maybe it was because the first time was too exciting. We climaxed without changing positions, just in the traditional missionary position.</p>

<p>Before I shot, I asked: "Zhao Xin, I can't do it anymore. I'm going to cum. Is it safe to cum inside? Or in your mouth?"</p>

<p>Zhao Xin said: "Yeah. Yeah. As soon as I leave, I'll shoot inside."</p>

<p>I didn’t expect that I could creampie my wife for the first time. I thrust like crazy. Then it explodes. Feeling comfortable all over, I ejaculated. We both gasped and hugged each other. Rested for a while.</p>

<p>Then I pulled out, took Zhao Xin's underwear, and wiped my dick. Then he wiped Zhao Xin's lower body.</p>

<p>"Oops, it leaked a little, it's on the bed." I quickly wiped the liquid on the bed. "Is this okay? What should I do?"</p>

<p>Zhao Xin said: "It's okay. My husband won't be back for ten days and a half."</p>

<p>"Oh, come and wash me up." In the bathroom, I held the shower head. Zhao Xin helped me wash my dick. "Which towel belongs to your husband?"</p>

<p>"We didn't share the towels. We all shared the towels."</p>

<p>"Oh, can you wipe this with me?" I gave her the face towel. Zhao Xin gave me a look, took the towel and helped me clean it. Then I went back to bed and lay down to rest while Zhao Xin cleaned herself.</p>

<p>"Come lie down here and rest for a while."</p>

<p>Zhao Xin poured me a glass of water. After drinking some water, we lay on the bed. Rest together.</p>

<p>"Today is like a dream. I never thought it would come true."</p>

<p>Zhao Xin still looked embarrassed to say anything. This woman allowed her to do anything, but it seemed quite difficult to get her to say something. A dead duck has a tough mouth.</p>

<p>"It's a little late, I have to go. You have a good rest at home and don't go to work tomorrow. I'll come see you tomorrow morning."</p>

<p>"Stop coming. What are you doing here? You're not doing anything good."</p>

<p>"Come...fuck you. Hey hey hey."</p>

<p>"Get lost."</p>

<p>Lying in bed at night. Thinking about all the details of today. I feel so beautiful. Suddenly an idea came into my head. Zhao Xin's performance today was in one word - obedience. Because she was unusually obedient, I became a lot more courageous and made a lot of demands that I thought were quite excessive.</p>

<p>But why was Zhao Xin so obedient the first time? This is the first time. Aren’t women usually very reserved? And Zhao Xin is a very strong woman. Especially when facing her husband at home. Zhao Xin's husband does all the housework in their house. Zhao Xin and her husband usually do the cooking and cleaning of the house. Zhao Xin is also the stronger one when talking about something on the phone. If they quarreled and got angry, it was Zhao Xin and her husband who would coax Zhao Xin.</p>

<p>Why is she so submissive? I thought, is it because I am her boss? You usually listen to me, are you used to it? Thinking about it carefully, it doesn't seem to be the case. It feels a bit like Zhao Xin likes this...um...M feeling.</p>

<p>He just likes to serve others humbly and likes the feeling of being abused.</p>

<p>Think of this. I felt extremely excited. I have said before that I am actually quite a coward. Besides my wife, Zhao Xin is my second woman. no way. That's what it means to have a thief's heart but not a thief's courage.</p>

<p>And I still have a secret in my heart. Never mentioned it to anyone. That's why I like SM very much. I enjoy abusing people. I like women to serve me meanly. Yes, mean and active service. I am an S.</p>

<p>But not the typical S, because I don't like being tied up, whipped, or exposed. I don't like any conventional SM methods.</p>

<p>I like the spiritual. For example, I prefer a woman to give me oral sex more than to have sex. I often fantasize about a woman kneeling down and giving me a blowjob. Licking my asshole. Lick my feet. I peed on them and in their mouths. I cum on their faces. I have women deepthroating me and I thrust hard into their throats. All in all, the meaner the woman is, the more comfortable I feel. Of course I never had the chance to practice it.</p>

<p>Of course I dare not mention my perverted thoughts in front of my wife. Therefore, the sex between my wife and I is quite satisfactory and there is not much passion anymore.</p>

<p>I feel that it is difficult for both men and women to confide their perverted thoughts buried deep in their hearts to their significant other. Just like if a woman likes to be abused, she is unlikely to tell her husband. And there is also a saying that women should be more open-minded when facing their lovers. Many methods that they dare not try with their husbands are acceptable to their lovers.</p>

<p>Zhao Xin made me feel very good today. I decided to give it a try tomorrow. Zhao Xin was thin-skinned and couldn't ask her directly. I try these ways that I like. See how much she can accept? I fell asleep with beautiful fantasies.</p>

<h1>Bitch Zhao Xin</h1>

<p>The next morning I went out as usual for work, but I didn't go to the stall. Instead, he went directly to Zhao Xin's home. Zhao Xin opened the door, "Oh, my God, why are you here so early? I'm still sleeping."</p>

<p>"Well, it's okay, just go back to sleep."</p>

<p>I hugged Zhao Xin and lay on the bed. Up and down his hands. I hugged Zhao Xin from behind. He stretched out his hands to rub Zhao Xin's breasts.</p>

<p>"Oh, you hate it." Zhao Xin lost all sleep after being tortured by me, "I'm going to wash up first."</p>

<p>I looked around randomly in their bedroom. Zhao Xin washed herself and went to the toilet again, and did it for a long time.</p>

<p>"Come here, my baby, you miss me so much."</p>

<p>"You damn ghost, you come here to torment me early in the morning." After saying that, he came up and kissed me. After a while, I felt that Zhao Xin was emotional.</p>

<p>"Come on baby, lick that cock."</p>

<p>Obediently, Zhao Xin lay down between my legs again. I sat on the bed leaning against the bed. Watching Zhao Xin's little tongue lick my cock. The little tongue licked back and forth, licking every part of the dick, then opened the little mouth and took it in.</p>

<p>"Be careful to cover the teeth with your lips. The teeth will hurt when touched."</p>

<p>"Lick your tongue in circles."</p>

<p>"It feels so good. You're my little bitch."</p>

<p>I paid attention when I said this sentence. Zhao Xin didn't have any objection.</p>

<p>"Little bitch, take it deeper." Zhao Xin immediately took it deeper.</p>

<p>"Hook the dog's mouth deeper." Zhao Xin took it deeper until he retched.</p>

<p>"Where's the puppy tongue? Dog tongue, let me feel the dog tongue." Then I felt Zhao Xin's little tongue pushing against my cock.</p>

<p>"Suck it hard with your dog mouth, suck it hard with your dog mouth. Oh, it feels so good little bitch. It feels so good. Ah, it feels so good. My little bitch, you feel so good eating my dick."</p>

<p>"Puppy tongue licks in circles." After saying this, I felt Zhao Xin's little tongue circling the glans inside.</p>

<p>So obedient. Zhao Xin was too obedient. Zhao Xin didn't express any disgust when I said this to her. She must like this feeling. Unexpectedly, I didn't expect that I would not only have a lover. He also owns a female slave.</p>

<p>And I feel that it is far from reaching Zhao Xin's bottom line.</p>

<p>I was enjoying Zhao Xin's oral and tongue service. The phone rang.</p>

<p>"It's the booth's phone number." I answered the phone. Zhao Xin didn't stop and continued to help me eat my cock.</p>

<p>"Hey, what's up?"</p>

<p>"Well, are you almost there?"</p>

<p>"No, I might have to be late today. What's going on?"</p>

<p>"It's this housekeeper. I'm not familiar with this software."</p>

<p>Usually either I am there or Zhao Xin is there. When invoicing customers. All invoicing is done by computer. Although I have taught the two little girls, they are not familiar with it because they rarely use it. So I taught her how to use the housekeeper to issue invoices on the phone, and at the same time enjoyed Zhao Xin's vile and proactive oral sex service.</p>

<p>After hanging up the phone, I placed Zhao Xin lying on her side. Bring your legs closer to your body. Make it into a V shape. I'm behind Zhao Xin. The cock was inserted without any obstruction. There's so much water, it's really a treasure to be able to get so excited just by eating a cock.</p>

<p>I thrust for a short while and then put one of my feet up. He reached to the side of Zhao Xin's face.</p>

<p>"Little bitch, lick your feet for me."</p>

<p>Zhao Xin hesitated for a moment, then opened her mouth and took my toes into her mouth. My feet were held in Zhao Xin's mouth, making them feel wet and warm. It was so exciting that I felt my dick getting bigger.</p>

<p>My toes stuck into Zhao Xin's mouth. Chasing her little tongue.</p>

<p>"Between your toes, little bitch. Lick every toe. Put your dog's tongue in there and lick it." Zhao Xin stretched out her little head. Licking the spaces between each toe one by one. Then he took my big toe into his mouth.</p>

<p>"Lick every toe, lick every toe. Hold it with the dog's paws." Zhao Xin hugged my foot and sucked every toe. She seemed to be going crazy.</p>

<p>"The dog's tongue sticks out, stretches it out, and licks the forefoot. Licking hard, crazily. Licking the soles of the feet, licking the heels.</p>

<p>Bite it with your dog's teeth. "</p>

<p>After Zhao Xin frantically licked my entire feet. I put my foot in her mouth. "Open your mouth as wide as you can, and take in as much as you can. Let me see if I can take it all in?"</p>

<p>Surprisingly, Zhao Xin was able to hold my entire foot and five toes in his mouth. Oh my god, how did Zhao Xin hold my whole foot in his mouth? However, the little toe was right at the corner of the mouth, so I couldn't even hold it all in. I put my foot into Zhao Xin's mouth as hard as I could. Zhao Xin must have reached her limit. No matter how hard I tried, Zhao Xin couldn't hold my little toe in her mouth.</p>

<p>"Where's the dog's tongue? Sweep it back and forth and lick it."</p>

<p>Maybe it was because his back was turned to me. Zhao Xin became even more despicable. Also more obedient. He opened his mouth as wide as possible, held my feet and stuffed them into his mouth. When he heard my words, he immediately acted on them. I immediately felt Zhao Xin's little tongue licking my toes back and forth powerfully.</p>

<p>I went crazy and fucked her like crazy from behind. "Hold the dog's paws tightly. Licking a little more crazily. Like a mad dog, lick like a mad dog."</p>

<p>Suddenly Zhao Xin started shaking violently. A sustained and violent orgasm came. Zhao Xin roared in his throat.</p>

<p>Holding my feet and sucking them like crazy.</p>

<p>I'm almost there too. After Zhao Xin finished enjoying her orgasm, I inserted him again. Started twitching like crazy. He shot it straight in.</p>

<p>Just now, Zhao Xin was shaking too violently when she climaxed, and her dick came out. It was Zhao Xin who took the initiative to let his dick come out.</p>

<p>It seems that you can't fuck a woman when she's climaxing. They won't let you move when they climax. You have to wait until they have finished enjoying their orgasm before you can fuck her again.</p>

<p>I don’t know if it’s because I’m S, but I don’t really like it, and I’m not very good at helping women with foreplay.</p>

<p>In my opinion. Zhao Xin and I didn't have me to help her with foreplay. She is the one who will serve me. Eat my cock and I feel better. Just started fucking her straight away.</p>

<p>The most I could do was rub my breasts and buckle Zhao Xin's pussy. I don't like licking a woman's pussy. Of course Zhao Xin never asked for it. Just like today, Zhao Xin has been serving me, and then we fucked in the same position, and she actually reached climax!</p>

<p>Isn’t it difficult for a woman to reach orgasm? I feel a little more confident. Zhao Xin is an M. She likes to be abused. The more you insult her, the more excited she becomes. This also explains why no matter how much I insulted her, she never expressed displeasure. Just use this posture, ah, by the way, we haven’t changed postures today, it’s the same posture from beginning to end. Just fuck her in this position and she will climax! And the climax came very violently!</p>

<p>Although she may feel that her preference is a bit perverted and a little embarrassed to admit it. But, in fact, she did climax with my insults.</p>

<p>Washing is complete. "You should go to the stall early. The two housekeepers are not familiar with them."</p>

<p>"Well, okay, let's go together. I'll accompany you to the hospital to get the results."</p>

<p>"No, you don't know if I'm okay or not! You should go early."</p>

<p>"Well, okay. Give me a call when the results come out."</p>

<h1>Husband’s phone number</h1>

<p>I received a call from Zhao Xin in the morning. The results came out, and as expected, nothing happened. The doctor looked at it and just said that there were some bruises, which would heal after a while, and that there were no broken bones or anything.</p>

<p>I had nothing to do in the afternoon and left early. Needless to say, I went to Zhao Xin’s house again. Zhao Xin's home is an older one with two bedrooms and one living room. The hall is small and has a dining table. The cabin is the bedroom. The big house was used as a living room.</p>

<p>At this time I was sitting on the sofa. Legs spread widely. Zhao Xin knelt in front of my legs, holding my thighs with both hands, and moved his head up and down. Swallowing my cock in her mouth.</p>

<p>"Zhao Xin, is my dick big?"</p>

<p>"Wow, big." Zhao Xin returned sheepishly.</p>

<p>"How does it compare to your husband's?"</p>

<p>"Yours seems thicker. Well...it's also longer." Zhao Xin's face was flushed, she twisted her butt uneasily, spit out her cock and said softly.</p>

<p>"Do you feel better when I fuck you, or do you feel better when your husband fucks you?"</p>

<p>"Get lost."</p>

<p>I suddenly remembered the scene when Zhao Xin helped me eat my cock while I was on the phone in the morning. "Zhao Xin, call your husband. You call your husband and eat my cock at the same time. Can you?"</p>

<p>"Get out, no. Why are you so perverted?"</p>

<p>"I'm just a pervert. Oh, my baby, just give me a call. I'll be particularly excited if you call me."</p>

<p>And you control it yourself and feed it to me. I won’t make a sound or press your head. It’s okay, really. "</p>

<p>"Then you call your wife first. I promise not to say anything."</p>

<p>"Okay, no problem." So I called my wife and chatted a little bit. Zhao Xin, who said I was a pervert, was also very perverted and fed me even harder. There was a sizzling sound.</p>

<p>"Okay, okay, it's your turn. As long as you call your husband, I will accept whatever you say I am, okay? I am a pervert, I am a pervert."</p>

<p>Zhao Xin snorted, "Okay, I'll satisfy you, this little pervert."</p>

<p>"Chat for a while longer. Ask him more questions. Let your husband talk more. Can't you feed me while he talks? By the way, give him a chance to show your husband how much he misses you."</p>

<p>Zhao Xin rolled her eyes at me, took her mobile phone and dialed her husband's number. I quickly said: "Hands-free. Hands-free."</p>

<p>While waiting to be connected. Zhao Xin took my cock in her mouth and swallowed it up and down.</p>

<p>"Hey, wife."</p>

<p>Zhao Xin spit out my dick, "What are you doing, are you busy?"</p>

<p>"I'm not busy. It's okay. Just tell me."</p>

<p>Zhao Xin was just about to hold the cock in her mouth and was about to speak. She only had time to stick out her tongue and lick the glans.</p>

<p>"Well, it's nothing. I've been to the hospital and the results came out. The doctor said it's okay. Well, I feel like I'm fine too. You don't need to ask for leave to come back. It's not necessary."</p>

<p>"Does your waist still hurt?"</p>

<p>As soon as Zhao Xin opened her mouth,... I patted Zhao Xin on the head, and Zhao Xin nodded at me to show that he understood what I meant.</p>

<p>"It won't hurt if you don't touch it. It's just a little bruised. It only hurts when you press the bruised area. It's really fine. I'll go to work tomorrow." As soon as he said this, Zhao Xin quickly took my dick in his mouth and started swallowing up and down.</p>

<p>"Oh, it's okay. If something happens, I'll ask for leave and go back. It'll be okay."</p>

<p>Zhao Xin spat out his cock and said, "No, I'll definitely let you come back if necessary. I'll go to work tomorrow, why do I need to ask for leave?"</p>

<p>"Well, okay then."</p>

<p>"Did you miss me?"</p>

<p>"Of course I have, I have been thinking about it for a long time."</p>

<p>"Then tell me something nice, how do you miss me? Be specific, say more, don't just say "I miss you".</p>

<p>After saying that, Zhao Xin opened her mouth and took my cock, sucking and swallowing.</p>

<p>"..."</p>

<p>I can’t remember the rest of the conversation clearly, because I felt like my soul had begun to drift away, and I was so happy that I felt like I was out of body.</p>

<p>We talked on the phone for a while, and when I put down the phone, I said: "Ah, it feels so good. I feel so good when the little bitch eats it. Eat it deeper in the dog's mouth, and lick it hard with the dog's tongue. I want to cum in your mouth." When Zhao Xin was talking to her husband on the phone, because she was afraid of her When her husband heard the sound of sucking a cock, Zhao Xin deliberately swallowed and swallowed carefully. Of course, the stimulation was very strong, but the stimulation on the cock was still relatively small. Otherwise, I guess I would have shot Zhao Xin in his mouth while they were talking on the phone.</p>

<p>Hearing this, Zhao Xin hesitated. Spitting out his cock, he said, "My husband has never ejaculated in my mouth. I feel so sick. Is it okay to ejaculate outside?"</p>

<p>Huh? ? shock. You can lick your feet, but semen can’t be ejaculated in your mouth? This is not possible. You can't come to Zhao Xin's house every time, and you can't ejaculate every time. Zhao Xin can't ejaculate in his mouth. It will be very troublesome in the future.</p>

<p>"I won't let you eat it. It's so close to the toilet. If you hold it in your mouth and spit it out, it's over. You should rinse your mouth at most."</p>

<p>"I feel sick in my heart." Zhao Xin said sheepishly.</p>

<p>"Try it, there is always a first time for everything, ah, give it a try, be good."</p>

<p>Zhao Xin gritted his teeth and took it in. I thought that I could actually get Zhao Xin's blowjob for the first time, and my cock was about to explode with excitement.</p>

<p>"Hook your mouth deeper and eat faster." Zhao Xin quickly swallowed the cock.</p>

<p>"Ah, hurry up, suck harder, harder." Zhao Xin swallowed the cock faster.</p>

<p>"Ahhhh, the fastest, the dog's mouth eats the fastest, eats like a mad dog! I'm going to cum! Mad dog! Mad dog!"</p>

<p>Zhao Xin was like a mad dog, swallowing the cock desperately.</p>

<p>"Ahhh..." I roared and ejaculated into Zhao Xin's mouth.</p>

<p>"Don't spit it out, take it deeper and moisten it for me." Zhao Xin gasped, holding the cock in her mouth.</p>

<p>After enjoying the climax for a while, Zhao Xin spit out his cock and quickly ran to the toilet to spit out a mouthful of semen, accompanied by the sound of retching.</p>

<p>It seems that Zhao Xin is really disgusted with semen.</p>
