<h1>(1) Original sin</h1>

<p>I am an extremely sultry person, and I always lock a lustful breath firmly between my heart and lungs, until a boiling desire brews, burning my body like crazy. Finally, I have no choice but to find an explosive point, and then wrap my fingers around it, move it up and down, and shoot out the uncontrollable sultryness along with the viscous white liquid out of my body.</p>

<p>For an eighteen-year-old high school student, such breaking points can be seen everywhere, especially Dong Yanqing, the Chinese teacher of our class. She was a newly married woman, about twenty-seven or eighty years old. Dong Yanqing was born with the appearance of a ripe peach, with a plump face and plump and straight peaks in the front and back of her body, which is very eye-catching.</p>

<p>Dong Yanqing's lectures were full of passion. Every time she wrote on the blackboard, when she reached the bottom position, she would move her body back without any scruples and raise her round buttocks wrapped in tensile black nylon pants. Her round buttocks were always affected by her movements while writing, swaying back and forth in front of me.</p>

<p>I sit in the front row of the classroom. Whenever this happens, I always feel the hot and coquettish breath in her crotch. This breath hit my face and was irresistible.</p>

<p>At this time, I couldn't help but put my hand into my crotch, imagining a magnificent picture in my mind. With the swaying round buttocks, I trembled my body, held my breath tightly, and ejaculated the semen mixed with the smell of urine. Yes, I ejaculated on my underwear, because I couldn't care less. When this happened at first, I would immediately go back to the dormitory and change into a brand new pair of underwear, but then as the number of ejaculations increased, the supply of new underwear exceeded the demand, so I simply ignored it.</p>

<p>The reason why I ejaculate more and more often is not because there are more Chinese classes, but because there are other beauties in our class. Her name is Sun Tiantian, I think, I love her. I silently followed her every move, every frown and smile.</p>

<p>When I see her eyes, I feel inexplicable happiness, and my beating heart seems to have turned into a hydrogen balloon, floating in the clouds. I met her back on the road, and my heart felt as if it had been suddenly licked by a puppy's wet tongue, making it soft and sticky. I often hope that time will stop when I face Sun Tiantian, and the earth can be destroyed at this moment, because I will die happily without having to face all kinds of pain in the future.</p>

<p>My foresight of pain stems from Sun Tiantian's pride. I know exactly what kind of man she likes. Her pride made me feel inferior. I don't know when, but I tried hard to search her eyes, but I didn't dare to face the look in them.</p>

<p>I longed to hear her sweet voice, but I just stood secretly in the corner behind her.</p>

<p>In the corner behind her, I saw her delicate buttocks, those of a girl. Although her buttocks were not as plump as Dong Yanqing's, they were slim and plump, wrapped in jeans, and tilted upwards powerfully.</p>

<p>Whenever I lust after Sun Tiantian and ejaculate, I think that I am divided, divided between sex and love.</p>

<p>I can feel my platonic love for Sun Tiantian. She is the new world of my life. When I fall in love with her, I have no sexual desire. But I have already said that I am a sultry person. Whenever I feel horny, there is only desire in my body, no thoughts of love, and my semen will be ejaculated all over. The smell of fishy smell is my passionate obsession with every sexy woman.</p>

<h1>(2) You are my enemy</h1>

<p>Before Lindbergh became my enemy, he was my best friend. We come from the same village, live in the same dormitory, and have the same hobbies. We often talk all night long and become each other's best friends.</p>

<p>But there is one thing about him that is different from me. He has a figure and face that women like, and his clothes are also very fashionable. Although his parents worked early and late in the village and earned only a few hundred yuan a month, Lin Bai always wore designer clothes, and a pair of Nike shoes alone was worth seven hundred yuan.</p>

<p>The money Lin Bai bought the shoes was defrauded from his family, claiming that it was the information fee charged by the school. Lin Bai's father was illiterate, but he did whatever it took for his son's education. When Lin Bai's father, who was in ragged clothes and looked like a beggar, came to school, Lin Bai pushed his father into the corner and looked into the distance with cold eyes.</p>

<p>In fact, there were very few people here at all. It was a fixed place for Lin Bai to meet his father, but Lin Bai was still uneasy, fearing that others would know that he had such a dirty father.</p>

<p>But I saw all this, because Lin Bai had no need to hide it from me. When I saw Mr. Lin taking out a wad of bills from his arms with trembling hands, and then being pulled away by Lin Bai, my heart sank. At that moment, I felt an indescribable dislike for Lin Bai.</p>

<p>But we are friends after all, and I owe him a favor. Because of this, I swallowed back the words I wanted to accuse him of.</p>

<p>The thing is like this, two weeks ago, Lin Bai proudly took out a piece of beautiful letter paper to show off to me. After I read it, my eyes suddenly went dark and I almost fainted. My whole body seemed to be filled with lead, extremely heavy and without any strength.</p>

<p>That was Sun Tiantian's love letter to Lin Bai. When I asked Lin Bai what his plan was, although I tried my best to control it, my voice was still trembling.</p>

<p>Lin Bai smiled and said that Sun Tiantian was not his type. More importantly, he knew my secret love for Sun Tiantian, so he would reject her. Finally, Lin Bai patted me on the shoulder and said, "Brother, come on!"</p>

<p>From that moment on, I swore that Lindbergh was my brother for life.</p>

<p>However, when my brother's father mumbled and wanted to say a few thoughtful words, Lin Bai waved his hand impatiently and said, "You go back, I have to go to class." Then he left without looking back.</p>

<p>When Lin Bai's back disappeared from sight, Mr. Lin turned his rickety body and prepared to leave his son's school.</p>

<p>At that moment, I couldn't bear it anymore, so I rushed over and took Old Uncle Lin's hand and said, "Uncle Lin, why are you here? I'll take you to our dormitory to sit for a while." I didn't allow Old Uncle Lin to object, took his arm and walked towards the dormitory building.</p>

<p>I took Mr. Lin to our dormitory and introduced him along the way as Lin Bai's father. My classmates greeted Mr. Lin cordially. Mr. Lin spoke in a dull tone, but smiled honestly and nodded constantly.</p>

<p>In this way, I completely offended Lin Bai. His eyes were about to burst into flames when he looked at me, but he never questioned me. I thought he would eventually understand my painstaking efforts.</p>

<p>At night, Lin Bai smiled and handed me his phone and said, "There is a video in it. Do you like it?"</p>

<p>While handing over the phone, Lin Bai's evil smile was filled with endless resentment. I was stunned for a moment, then finally took the phone and opened the video.</p>

<p>This is a video recorded by Lin Bai himself. It is a sex video about him and a charming young woman.</p>

<p>The woman in the camera is lying on the bed, raising her butt high, her buttocks are dark, and through the messy pubic hair, the dark red labia is looming, like a seductive canyon, and the continuous gush of semen sticks to the pubic hair, shining brightly. In the video, Lin Bai took out his own thick and long cock, thrust it smoothly into it, then moved his body skillfully and started thrusting quickly.</p>

<p>What kind of situation it was, I kept imagining Lin Bai's feeling in my mind. I thought the young woman's vulva must be warm and moist. She tightly wrapped Lin Bai's hard cock, swallowing and swallowing smoothly under the lubrication of the semen, revealing the delicate pink flesh walls of her vulva, which were covered with lustful liquid.</p>

<p>Lin Bai kept hitting the young woman's fat buttocks, and the young woman gradually began to talk lustfully. The voice was very familiar. It suddenly struck my mind that this was Dong Yanqing's voice.</p>

<p>Dong Yanqing was lying on the bed like a dog, and suddenly turned around and shouted at the top of her lungs, nothing more than lewd words such as "darling, baby, kiss husband". Lin Bai puffed out his chest proudly, like a conqueror, vigorously beating the woman under his crotch.</p>

<p>Although I have watched countless Japanese AVs, none of them can compare with the mood I felt at this moment, because the male protagonist is my daily companion, while the female protagonist is a young teacher who I have lusted after countless times but never had the chance to kiss.</p>

<p>My heart was burning, on the one hand it was boiling with desire, on the other hand it was jealousy. I felt that my cock was as hard as steel, but there was no vagina that could accommodate it. I wanted to put my hand into my crotch, but Lin Bai was standing next to me. Out of shame, I lowered my head hard to cover up my increasingly heavy breathing.</p>

<p>At this time, Lin Bai patted me on the shoulder and said, "Look at this."</p>

<p>I looked up and saw the corner of a pair of underwear in his hand. It was a pair of pure white cotton underwear, which had turned yellow in color. Especially in the middle, there was a small area with obvious stains remaining.</p>

<p>Lin Bai curled his lips and said with a smile: "These are the underwear Dong Yanqing wore, and the stains on them are her secretions."</p>

<p>Hearing what he said, I felt anxious and opened my eyes wide, but then I heard Lin Bai say again: "Of course, it is possible that he has come into contact with my semen. If you need it, I will sell it to you for one hundred yuan."</p>

<p>My old face turned red and I stared hard at him. He was deliberately humiliating me. I wanted to fist him back.</p>

<p>Just as I was getting ready to go, I suddenly heard a comfortable moan coming from the phone. I couldn't help but look over and saw that Dong Yanqing had turned around and was giving Lin Bai a blowjob. In the corner of the screen, there seemed to be a pair of white underwear.</p>

<p>My cock became even harder. After a long time, I finally took out a hundred dollars from my pocket. Lin Bai took the bill, laughed, threw his underwear on my bed, and then left the dormitory happily.</p>

<p>I held the underwear Dong Yanqing wore in my hand, put my nose close to it, and sniffed the scent she gave off. It was a filthy smell, perhaps no different from the stinky smell in the toilet, but in my opinion at the time, it was the most beautiful smell in the world.</p>

<p>However, there may be traces of Lin Bai's semen inside, but I was so horny that I had already put down all my self-esteem. I wanted to believe that these were just the underwear that Dong Yanqing had worn. It had been in close contact with her vagina and was stained with the liquid flowing out of it.</p>

<p>In the video, Lin Bai held up Dong Yanqing's legs, and his huge cock re-entered the mysterious place. He thrust hard, and both of them had expressions of ecstasy on their faces.</p>

<p>I quickly took off my pants, tightly wrapped the underwear Dong Yanqing was wearing around my penis, and moved it vigorously to the rhythm of the video.</p>

<p>So the three of them reached climax at the same time. Lin Bai's semen ejaculated onto Dong Yanqing's face, and my semen ejaculated onto the underwear Dong Yanqing wore.</p>

<p>At the end of the video, Lin Bai picked up the underwear in the corner and wiped the semen off Dong Yanqing's face.</p>

<h1>(3) A cuckold who is not qualified to wear it</h1>

<p>Later, to my surprise, Lin Bai and Sun Tiantian established a relationship as lovers. The two of them went out as a couple, which was extremely sweet. Sun Tiantian's face was always filled with a happy smile, and she often leaned closely on Lin Bai's shoulder, ignoring the strange looks from others.</p>

<p>Whenever this happens, Lin Bai always looks at me proudly and contemptuously. Only then do I know how deep his hatred for me is. He is actually taking revenge on me.</p>

<p>What's even more outrageous is that Lin Bai actually brought Sun Tiantian to our dormitory.</p>

<p>That night, I don't know how he hid it from the eyes of the building management aunt. In short, he took Sun Tiantian's little hand, walked in swaggeringly, and then locked the door.</p>

<p>I had just finished washing at that time, and I was so surprised that everything happened in front of me, like a dream.</p>

<p>Lin Bai pulled out a white underwear from my bed, waved it in front of Sun Tiantian and said, "Look, these are Dong Yanqing's underwear that I told you about."</p>

<p>Sun Tiantian covered her mouth and giggled, a lovely blush rising on her jade-like face.</p>

<p>My face immediately turned red and I yelled at him, "You're talking nonsense."</p>

<p>Lin Bai sneered and threw the underwear back into place, hugged Sun Tiantian's slender waist, and said softly: "Tiantian, you don't mind if we make out here, right?"</p>

<p>Sun Tiantian shyly shrank into his arms and said with a trembling smile: "As long as you like it, I'm willing to do anything."</p>

<p>My brain seemed to have been hit hard, the roar was deafening, and I couldn't hear clearly what the two people said next.</p>

<p>The woman I love was fucked by another man under my eyes. This is perhaps the greatest shame in my life. My heart couldn't stop trembling, as if it would break at any moment. However, deep down in my heart, I actually had some expectations, because then I would have the opportunity to see Sun Tiantian's body.</p>

<p>At some point, the two of them were kissing each other. I buried my head in the quilt and wanted to escape from this world, but my lower body became hard as expected, as hard as steel.</p>

<p>I involuntarily put one hand into my crotch and started kneading it, while my other hand quietly opened a gap. Through the gap, I could clearly see the man and woman hugging each other.</p>

<p>Lin Bai was already naked. He was slender, strong and powerful, with sharp muscles and full of explosive power. Sun Tiantian in his arms only had a pair of underwear left, and a pair of greasy white breasts pressed tightly against his chest. The skin color of the two formed a sharp contrast. It was a wheat color full of power, while the woman was a sweet milky white. I had to say that whether I wanted to accept it or not, the two were really a match made in heaven.</p>

<p>I swallowed a mouthful of saliva and felt all the energy in my body gathered in my brain, and then expanded rapidly, disrupting all consciousness. Driven by his dizzy brain, the hand in his crotch used all the strength to ravage his cock.</p>

<p>Lin Bai seemed to hear the sound behind him, turned around and smiled evilly: "Tiantian, is he masturbating?" Sun Tiantian slapped his shoulders with both hands and said shyly: "You are so bad."</p>

<p>Lin Bai immediately took her cherry in his mouth, inserted his tongue sensitively, and sucked hard. The sound he made was particularly clear in the dormitory at night.</p>

<p>Lin Bai peeled off Sun Tiantian's underwear with his left hand and showed off: "Zhang Sen, are these underwear worth two hundred yuan?"</p>

<p>"Ah, this is very dirty." Sun Tiantian reached out to hook the underwear in Lin Bai's hand, but Lin Bai raised it high, as if showing off a trophy of his own.</p>

<p>"It's worth it!" I said tremblingly, my voice very weak.</p>

<p>I expected Lin Bai to throw his underwear on my bed, but he laughed loudly and threw his underwear aside.</p>

<p>I felt very disappointed in my heart, but my desire was even more intense.</p>

<p>I saw Lin Bai parting Sun Tiantian's slender and plump legs, and his huge cock penetrated into the flesh-colored canyon deep in the black forest. He moved his waist skillfully. I saw that his cock was getting wet gradually as it went in and out, and the purple-red head was stained with sweet bodily fluids.</p>

<p>I was extremely hateful and angry, and at the same time, my cock was also extremely hard.</p>

<p>Sun Tiantian's body is beautiful after all, with a perfect S-shaped curve. Although her breasts and butt are not fat, they look white, tender and soft, and her flesh is full of vitality. She has a pair of big watery eyes, which are full of tenderness and sweetness at this time. The high bridge of the nose was like a jade carving, with a drop of crystal sweat hanging on it. The small cherry mouth was even more attractive and beautiful. Lin Bai was sucking it gently, and the tongue was stirring like a delicate flower in the rain.</p>

<p>Tiantian's legs were pressed to her chest, and her round butt was pushed upwards. My eyes greedily grasped the impact of her curves, and at the same time I saw with extreme contradiction the big cock that was rapidly thrusting between Tiantian's buttocks.</p>

<p>When my eyes touched Lin Bai's cock, my heart skipped a beat. What kind of cock was this? It was twice as thick and long as mine. I subconsciously covered my crotch, fearing that my cock would come out and be seen by Tiantian, although she never looked at me from the beginning to the end.</p>

<p>Lin Bai's movements became more and more skillful, without any sluggishness. His cock continuously impacted Tiantian's round buttocks. Tiantian moaned softly with the rhythm of his impact, her beautiful eyes blurred.</p>

<p>Lin Bai's cock was thrust in and out of my beloved woman's pussy for hundreds of times, and the splashing liquid wetted the lush black grass. Then I could more clearly see the two sweet labia tightly attached to Lin Bai's cock, gentle and lingering, and squirming gently. Although the cock was violently thrusting, and every time it was inserted deeply, the pussy always held it tightly, as if sucking and absorbing it. Tiantian endured the hard conquest and wrapped Lin Bai tightly with gentleness and flexibility.</p>

<p>"Zhang Sen, do you want some sweet underwear?"</p>

<p>"I want it, no matter how much it costs." I felt that I had been controlled by a wave of lust, because I loved the sweet love in front of me crazily. Even though she was being fucked by other men, it could not extinguish my passion at all.</p>

<p>How I wish it was my tongue stirring in her mouth, how I wish it were my hands stroking her satin skin, how I wish it was my cock that was thrusting rapidly in and out of her vagina. However, her soft and delicate body was actually suppressed by Lin Bai's strong body. He straddled Sun Tiantian and worked hard to cultivate the increasingly fertile and muddy fields.</p>

<p>Lin Bai hugged Tiantian's buttocks, turned over and sat on the bed, and Sun Tiantian sat on him.</p>

<p>Lin Bai firmly hugged the sweet and plump buttocks, jerked his waist violently, and moved a big cock into the air, stirring and thrusting rhythmically.</p>

<p>"Xiao Bai, you are so good...ah...your cock is so powerful." Tiantian's voice lost control, but it was still crisp and gentle, and it was really beautiful.</p>

<p>The new position Lin Bai chose seems to be to allow me to see the intersection of the two people more clearly. The semen gurgled out from the sweet hole, flowed along Lin Bai's sinuous fleshy stem to his two testicles, and then dripped onto the bed.</p>

<p>That is the liquid flowing out of Tiantian's body. It must be contaminated with her temperature and her breath. It must be the most beautiful and sacred liquid. Even though it must have a fishy and lustful smell, I am still extremely eager to receive its moisture. That was sweet cum, and I had the urge to lick and suck it.</p>

<p>However, all the semen flowing out of Tiantian's vagina flowed onto the genitals of a dirty man. I groaned in my throat and moved my gaze upwards. So I saw Tiantian's asshole, which was her anus, opening and closing slightly as Lin Bai's cock thrust in and out.</p>

<p>At this moment, in my mind, the sweet asshole is her most holy place, because every other part of her body is being desecrated by Lin Bai.</p>

<p>"Four hundred yuan!" Lin Bai raised Tiantian's underwear and waved to me.</p>

<p>I tried to hold my breath, took out the remaining four bills from my wallet, and threw them under the bed. Lin Bai laughed loudly and threw his underwear over. Coincidentally, Tiantian's underwear happened to fall on my face.</p>

<p>"Tiantian, I can finally have close contact with you." I sniffed Tiantian's underwear excitedly, as if burying my head between her legs, and couldn't help but start stroking the glans with my right hand. Between inhalation and exhalation, a pleasure spread throughout my body like an electric current. I breathed heavily, shaking my body and ejaculating semen.</p>

<p>And Lin Bai is still fucking my beloved Tiantian. At that moment, I said to myself that the two of us were only in physical contact. Tiantian is still the purest and most beautiful girl. I still love you. I will touch you with my love and make you fall into my arms willingly. I will love you with my whole life, no matter who has fucked you.</p>

<p>Lin Bai's cock suddenly thrust more violently, like an electric drill, and he tightly hugged Tiantian's waist with both hands.</p>

<p>He moaned happily, and she moaned happily too. The two bodies were entangled, and the thick semen was poured into the sweet pussy, and then flowed out again...</p>

<h1>(4) Courtship</h1>

<p>For a long time, Tiantian would come to our dormitory every night to have sex with Lin Bai. Their intimacy became more and more skillful, and Tiantian changed from a shy girl to a lustful woman who took the initiative. I always ejaculate amidst their orgasmic moans. Although I feel jealous and angry, I have not weakened my love for Tiantian at all, because I understand Lin Bai and he will one day get tired of Tiantian’s body.</p>

<p>That day came quickly. At that time, I was alone in the dormitory. I held Tiantian's underwear in my hand and wrapped it tightly around my cock. I had just stroked it once or twice when Tiantian pushed open the door and walked in. Her sudden appearance startled me, my underwear fell to the ground, and my dick was dangling in front of Tiantian, with a trace of sparkling liquid hanging on it.</p>

<p>I hurriedly lifted up my pants, my face burning with embarrassment. I really couldn't get my hands on my mini cock in front of Tiantian, because after all, she had been gracefully in love with Lin Bai's huge cock countless times. The gap between the two was too obvious.</p>

<p>Tiantian was shocked at first, but then she covered her mouth and chuckled, saying: "You...you really secretly used someone else's underwear to masturbate."</p>

<p>I felt that my face was getting swollen and hotter, and I wanted to find a crack in the ground to crawl into. In the past, when I used Tiantian's underwear to masturbate, I was hiding in my bed, so it was not like being touched by someone now. I awkwardly put on my pants, touched the back of my head and said, "Didn't Lin Bai accompany you?"</p>

<p>Mentioning Lin Bai, Tiantian's bright eyes suddenly dimmed, and then she shed crystal tears, feeling heartbroken. Tiantian was extremely weak at this time. I immediately wanted to hold her in my arms, but was hindered by her turning a blind eye to me.</p>

<p>"He wants to break up with me... He said he has fallen in love with another woman." Tiantian finally burst into tears. She squatted down weakly and covered her face with her hands, tears streaming down her face.</p>

<p>I didn't know how to comfort Tiantian, I just stroked her back gently, hoping that she could wash away all the pain and unhappiness with tears.</p>

<p>I don't know how long it took, like a day and a night, like a lifetime, Tiantian finally cried her tears and stood up sobbing. She sat on Lin Bai's bed, hugged the pillow and said, "I'll wait here for him to come back. I want to ask him clearly."</p>

<p>"Tiantian, there is no need for a beauty like you to feel sad for someone like Lin Bai." I hesitated to express my thoughts, "Actually, Lin Bai just wanted to sleep with you from the beginning. He didn't really like you at all."</p>

<p>Tiantian raised her eyebrows and said angrily: "Don't you just want to sleep with me?"</p>

<p>I was extremely embarrassed and waved my hand hurriedly: "Tiantian, no, I... I... really love you, and I am willing to do anything for you."</p>

<p>"What a joke, are you willing to lick my asshole if I ask you to?" Tiantian said with disdain.</p>

<p>It was as if a big drum was beating in my heart instantly. It was noisy and uncontrollable. I swallowed hard and remembered that before, Tiantian rode on Lin Bai's big cock, and Lin Bai sprinted hard underneath, and the sweet anus would open and close rhythmically. At that time, I was so eager to kiss its fragrance.</p>

<p>"I...I...of course I am willing." I mustered up the courage to speak out what was in my heart.</p>

<p>Tiantian looked at me in surprise and said, "I know you like me, but... I didn't expect you to be so perverted."</p>

<p>Tiantian's body exuded a faint fragrance, and her body, which became weaker due to crying, became more sexy in my eyes. My heart was filled with excitement, and I couldn't help but kneel in front of her and said, "Tiantian, this is not a perversion, but my eternal love for you. Everything about you is the most precious and beautiful to me."</p>

<p>I leaned over and kissed her sweet little jade feet, and passionately licked and sucked her beautiful toenails with my tongue.</p>

<p>Tiantian shrank, pulled her legs back, and said coldly: "I'm Xiaobai's, so don't have such wishful thinking."</p>

<p>"But he won't cherish you at all." I rushed forward, holding Tiantian's feet and swore, "Tiantian, be my girlfriend, I will definitely cherish you."</p>

<p>"No!" Tiantian said firmly.</p>

<p>"Then...then...let me lick your asshole." I breathed heavily, my eyes full of desire.</p>

<p>"Go away, you pervert." Tiantian flew up and hit me on the bridge of my nose with the sole of her shoe. She kicked me away hard and said, "In the end, you are just coveting my body."</p>

<p>"No." I knelt on the ground, waved my hands, hugged Tiantian's legs again, and put my head under her skirt. I love her but don't know how to prove it. I was humble in front of Tiantian. I didn't dare to hold her hand or kiss her on the mouth, let alone fuck her like Lin Bai. But if one day I can, I just hope to bring her orgasm without caring about my own feelings. And now, I only deserve to lick the sweet asshole. And I longed to lick that sweet asshole and make her feel my love for her.</p>

<p>"By the way," Tiantian, who was still crying just now, suddenly showed a bright smile, "If I offer my asshole to Xiaobai, he will definitely change his mind."</p>

<p>I froze in despair, imagining Lin Bai's cock fucking Tiantian's asshole in my mind. I was so angry that I wanted to vomit blood.</p>

<p>At this moment, Lin Bai pushed open the door and walked in, still with an evil smile on his face. He waved his hand to Tiantian and said, "It's useless Tiantian. I forgot to tell you that I hate anal sex because it's too dirty."</p>

<p>He turned to me and said, "Zhang Sen, you are really passionate about her, and you even want to lick her asshole. It's really a heavy taste."</p>

<p>When Tiantian saw Lin Bai come in, her face was full of joy, but when she heard what he said again, she said with concern: "Xiao Bai, don't misunderstand, this is just his wishful thinking. I am loyal to you, and my body only belongs to you."</p>

<p>"Really?" Lin Bai stretched out his hand to hold Tiantian's chin and said, "In that case, just let him lick your asshole."</p>

<p>Tiantian was stunned, thinking she heard the wrong words.</p>

<p>"Why, you don't want to?" Lin Bai said coldly, "I really want to see him licking his asshole."</p>

<p>"Yes, I am willing to do anything for you." Tiantian said, lying on the bed like a bitch, raising her butt high in the air. Lin Bai flipped her skirt up and then pulled down her sweet pink panties.</p>

<p>Tiantianyu stretched her legs gently, took off her underwear, and threw it to the bedside.</p>

<p>Lin Bai spread Tiantian's plump buttocks with both hands and said with a smile: "Come on, this is the place you have dreamed of, but Tiantian is my woman. If you want to lick it, you have to kneel down and beg me. Zhang Sen, kneel down and beg me, haha..."</p>

<h1>(5) Love</h1>

<p>Although she pushed hard to both sides, Tiantian's asshole was still tightly closed, but the tender red meat inside could be vaguely seen. Below the asshole is a bunch of black curving hairs, with a ball of meat buns bulging slightly, and a pink flesh slit running through it. Through the black forest, the whole thing can be vaguely seen.</p>

<p>This is Tiantian's perfect lower body. She belongs to the arrogant man in front of him, but he doesn't know how to cherish it and abandons it like a broken shoe. And I longed to caress her and cherish her all day and night. At this time, a fire burned in my heart, and the flame of lust kept rising upwards, gradually engulfing my brain.</p>

<p>Plop! My forehead hit the floor hard, and I shouted hoarsely: "Please, let me... lick your sweet asshole."</p>

<p>Lin Bai laughed so hard that he bent over. He held my head and cursed: "You are so... you are such a filial son. Okay, I'll let you lick it. I'll let you lick it to your full extent. Anyway, I'm tired of fucking you."</p>

<p>With the permission of the owner of this body, I immediately put my face behind Tiantian's ass. A warm and sultry air immediately hit my face. I stretched out my tongue tremblingly and slowly touched the beautiful chrysanthemum.</p>

<p>The sweet anus brought me a long-lost sense of happiness. After tracing the tip of my tongue several times around the asshole, I pressed my entire face hard against the sweet and plump ass. My face was pressed against her buttocks, full and full of tension. The tip of the tongue was like an awl, piercing the depths of the asshole, while the lips greedily wrapped the entire sweet asshole, and there was an urge to suck it in.</p>

<p>The fleshy wall deep in Tiantian's asshole is full of tension. After a period of random exploration with my tongue, it only swirled around the periphery. Tiantian's body swayed slightly, and as she moved her heels, she touched my cock, which was as hard as steel. I was extremely confused and panicked, sucking hard with my mouth. In my mind, I was kissing Tiantian. My mouth was closely attached to her asshole, and my tongue moved back and forth to explore and lick her secret parts. This was a great happiness for me. At this moment, I really thanked Lin Bai. Without him, I would not have even had the opportunity to touch Tiantian's asshole.</p>

<p>I hugged Tiantian's ass hard and kissed Tiantian's asshole passionately. At the same time, I felt a strange and strong gratitude to Lin Bai, so I knelt on the bed with my legs tighter.</p>

<p>At this time, Lin Bai seemed to be aroused. He took out his big cock, put it to Tiantian's mouth, and ordered: "Quick, take him in."</p>

<p>Tiantian's eyes were blurred, staring at Lin Bai's cock like a god. Her fragrant tongue licked all the way up from the bottom of the testicles to the glans and the eyes. Then Tan's mouth opened, and the cock slid smoothly and familiarly into Tiantian's throat.</p>

<p>The veins on Lin Bai's huge cock were bulging, and the purple-red glans alone filled half of Tiantian's mouth. Tiantian sucked and licked it vigorously, as if he was tasting the most delicious thing in the world. And the look in her eyes was clearly one of endless admiration and dependence.</p>

<p>"Little coquettish hoof, do you like my cock?" Lin Bai asked proudly.</p>

<p>"Tiantian likes Xiaobai's cock and two sexy balls." Tiantian whined, swallowing faster.</p>

<p>"If you want me to fuck you with my cock, just call him daddy." Lin Bai waved his huge cock and pulled Tiantian's hair tightly.</p>

<p>Tiantian was even more passionate, sucking the shaft of the cock with her red lips, and said in a greasy voice: "Good daddy, come and fuck your daughter. Cock daddy, I love you."</p>

<p>I heard Lin Bai smile proudly, and then my waist hurt, and a strong force knocked me away. I got up from the ground and saw Lin Bai pushing Tiantian down and pulling her legs up high, so the two lips of Tiantian's private part automatically parted to both sides, as if waiting for the cock to invade.</p>

<p>Lin Bai pressed his cock with his hand, and placed the glans head on the edge of the honey hole, sliding it up and down. When a trace of mucus was evenly applied to the glans, Lin Bai's waist sank, and the entire length of his cock entered.</p>

<p>Lin Bai's waist twitched and he began to thrust vigorously. The bed creaked strangely, as if it would fall apart at any time.</p>

<p>My eyes were fixed on the place where the two of them met, and I saw that Tiantian's sweet pussy was tightly wrapped around Lin Bai's thick cock. The cock was moving in and out rapidly. Under the strong stirring of Lin Bai's cock, it felt like Tiantian's weak body would be torn apart at any time.</p>

<p>However, Tiantian was under Lin Bai's crotch, feeling his explosive power, and her body was filled with endless pleasure. She felt the cock that made her heart and lungs ache with every thrust, and she screamed involuntarily.</p>

<p>"Uuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuu"</p>

<p>So Lin Bai thrust more frequently, twisting and thrusting, giving full play to his male power in the sweet ass like a millstone, grabbing the mysterious pleasure deep in the honey hole.</p>

<p>The liquid was the same color as the sheets, and the hair on both penises was flying. The sages have already described his lustful state, so I won’t go into details.</p>

<p>But at the end, Lin Bai was shaken all over, and thick white semen spurted out like a machine gun. A large amount of semen filled her sweet pussy.</p>

<p>Lin Bai climbed up from Tiantian, panting heavily. At this time, his strong and muscular body became even more dazzling.</p>

<p>Tiantian's body was also dripping with sweat, her eyes were blurred, her private parts were red and swollen, and she was extremely lustful, with semen mixed with vaginal fluid flowing out.</p>

<p>"Xiao Bai, help me pass the contraceptive pill in the bag." Tiantian said to Lin Bai gently.</p>

<p>Lin Bai nuzzled at me, gesturing for me to pick up the contraceptive pill and hand it to Tiantian. My heart moved slightly, so I walked over, knelt down in front of Tiantian, and said, "Tiantian, squat down."</p>

<p>"Why?" Tiantian asked breathlessly.</p>

<p>"Contraceptive pills are harmful to the body. Squat up quickly and let the semen flow out."</p>

<p>When Tiantian heard this, she looked at Lin Bai in surprise. Lin Bai was also very surprised. He was stunned for a while and then said, "Just do what he said."</p>

<p>So Tiantian squatted down, her messy pussy was facing my face, and streams of liquid mixed with semen and semen flowed out.</p>

<p>"Has it all leaked out?"</p>

<p>"There's a lot more in there." Tiantian responded with a giggle. When she smiled, her delicate body twisted and her plump private parts opened and closed slightly, as if she was saying hello to me. My heart trembled, and I opened my mouth to hold the two sweet labia, my tongue stretched out, and separated them.</p>

<p>I sucked hard, and countless streams of semen and semen flowed into my mouth. I sucked greedily. I couldn't let Tiantian get hurt at all. I was negligent and not brave enough before.</p>

<p>From now on, I want to protect Tiantian and let her feel my love.</p>

<p>At the same time, a happy taste spread from the lips to the whole body. It was sweet semen, which was the liquid secreted from the depths of her vagina. Now I was lucky enough to be able to taste its taste. Even the mixed Lin Bai's semen had been in close contact with her vagina, and it was full of the unique smell of sweetness.</p>

<p>I kissed him passionately, my tongue kept extending to explore, and I sucked hard at the same time. My mouth and tongue were filled with a sticky feeling and a fishy taste. This seemed to be my motivation, which only made me work harder to suck out all the semen in Tiantian's body. However, Lin Bai's shot was really amazing, as if he couldn't suck it all out no matter what.</p>

<p>Both of them were shocked by the scene in front of them. In the end, it was Lin Bai who recovered from the surprise first and said: "Tsk tsk, Tiantian, he is so wretched. You two are really an innocent couple."</p>

<p>"No," Tiantian couldn't help but tighten her legs, "Xiaobai, we are a perfect match. You were very comfortable just now, weren't you?"</p>

<p>Lin Bai smiled and said: "To be honest, my new girlfriend's oral skills are very good, and I am tired of your body. Let this be the last time."</p>

<p>"Please, Xiaobai, don't leave me, my oral skills are also very good." Tiantian begged, "You try again, my oral skills will not be lost to anyone. Please, if you try again, you will definitely be satisfied."</p>

<p>Lin Bai sighed helplessly: "Okay, look at your slutty look, okay, take good care of your cock daddy." Lin Bai brought his cock to Tiantian's mouth again.</p>

<p>Tiantian's face turned red. She didn't know whether it was because Lin Bai's words stimulated her or because she felt a strange feeling in her lower body.</p>

<p>Tiantian held the ball in Lin Bai's crotch with both hands and licked it back and forth with her tongue. Its pink color formed a sharp contrast with the purple and black color of the thing under Lin Bai's crotch. Tiantian lifted up his weak cock and took turns to swallow the two balls into his mouth. Lin Bai was stabbed by a warm breath and cried out happily. His cock soon regained its strength, as hard as steel. The whole cock stuck to Tiantian's face, like an emperor's blessing.</p>

<p>Tiantian raised her little face, held the huge cock against her face, and said with infinite intoxication: "Tiantian loves Xiaobai to death, Tiantian loves cock daddy to death, Tiantian must serve cock daddy well, Tiantian doesn't want cock daddy to leave Tiantian."</p>

<p>Tan opened his mouth, took the cock in his mouth, and swallowed it smoothly. Tiantian held Lin Bai's ass with both hands, moved her head up and down, sucked with her mouth, and teased with her fragrant tongue. Every time she deepthroated Lin Bai, she used extremely hard force, and her face turned even redder with the thrusts.</p>

<p>When I was sucking hard, I suddenly felt all of Tiantian's weight sitting on me. My heart beat even harder. I locked Tiantian's legs tightly, sucked randomly with my mouth, and ran my tongue back and forth. I couldn't tell the difference between the vagina and the asshole. I forgot my purpose and just greedily grabbed the taste of Tiantian's lower body.</p>

<p>"Woooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooh</p>

<p>Tiantian spoke skillfully while looking at Lin Bai with eyes full of tenderness and sweetness.</p>

<p>Lin Bai grasped Tiantian's hair tightly with both hands, and said with a smile: "Look at your slutty appearance, you are worse than a bitch. Without my cock, I'm afraid your face won't be able to survive for a day." "</p>

<p>"Woooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooh</p>

<p>"To tell you the truth, I'm just tired of fucking you. I let you lick my cock just to pity you, you slutty bitch. I'm tired of playing with your body. If you can't live without me, buy a model of my cock. "</p>

<p>Tiantian's face changed drastically when she heard Lin Bai's ruthless words kept coming out, and she couldn't help but stop moving. However, Lin Bai was getting excited. He firmly grasped Tiantian's hair, pulled it upwards, and loosened his waist. Then he changed from passive to active, and started thrusting his huge cock vigorously into Tiantian's little mouth.</p>

<p>Every time the cock hit the deep throat powerfully, Tiantian couldn't resist it, choked and coughed, and a lot of saliva flowed down the cock. Her delicate body was also shaking constantly, as if she couldn't bear the strong impact of the cock.</p>

<p>However, Lin Bai didn't seem to notice, and continued to thrust at the same speed. After half an hour, he shook his body and ejaculated countless semen into Tiantian's mouth. At the same time, two lines of clear tears continued to fall from her sweet eyes.</p>

<p>Lin Bai sneered, wiped his glans on his sweet and white face, and finally put his cock back into his crotch, sneered: "Little bitch, I've fucked you enough, don't beg me anymore," and left the dormitory. "</p>

<p>At this time Tiantian rolled off my body and leaned against the wall, sobbing continuously. I walked over and hugged her waist and said, "Tiantian, don't be sad..."</p>

<p>Before I finished speaking, sweet and tender arms wrapped around my neck and said: "You...you...won't you dislike me? "</p>

<p>"No...never, you will always be the most beautiful and pure girl in my heart. "</p>

<p>"Well, I will be your girlfriend from now on. "Tiantian burst into tears like rain. She was sad and sad, but she also had a hint of happiness. I was so excited that my chest was about to explode. I hugged Tiantian tightly and kissed her cherry mouth.</p>

<p>So the two of us entangled our tongues and kissed each other. A large amount of Lin Bai's semen flowed back and forth in our mouths, wrapping our entangled tongues. Some of it also flowed down the corners of our mouths, lubricating our tightly contacting flesh.</p>

<p>We kissed passionately and passionately, and Lin Bai's remaining semen covered our bodies. And my cock entered the sweet pussy at some point. After being lubricated by Lin Bai’s semen, my cock came into close contact with the tender meat in the sweet pussy.</p>

<p>We held each other tight with all the strength in the world, we kissed, we caressed, we made love. Our hair, mouths, faces, bodies, and genitals were all covered in Lindbergh's semen. But we can still clearly feel our love for each other.</p>

<p>At some point, I also ejaculated from my cock, and all of it went into my sweet pussy. At this moment, I felt like the happiest man in the world.</p>
