<script src="https://www.gstatic.com/firebasejs/8.10.0/firebase-app.js"></script>
<script src="https://www.gstatic.com/firebasejs/8.10.0/firebase-database.js"></script>

<script>
  var firebaseConfig = {
    apiKey: "AIzaSyBZV2Zn9DXdeWWIQNZRZlxjnW8aqZNOK-Y",
    authDomain: "classic-chinese-sm-novels.firebaseapp.com",
    projectId: "classic-chinese-sm-novels",
    storageBucket: "classic-chinese-sm-novels.appspot.com",
    messagingSenderId: "1015573361879",
    appId: "1:1015573361879:web:4c1c8c9576229ed0e4f2d6",
    databaseURL: "https://classic-chinese-sm-novels-default-rtdb.firebaseio.com"
  };
  firebase.initializeApp(firebaseConfig);
</script>
